<div class="row well">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#order_status_NEW-ID" data-toggle="tab">
                <i class="fa fa-dot-circle-o"></i>
                {{lang.order_status_NEW}}
            </a>
        </li>
        <li>
            <a href="#order_status_ACTIVE-ID" data-toggle="tab">
                <i class="fa fa-circle"></i>
                {{lang.order_status_ACTIVE}}
            </a>
        </li>
        <li>
            <a href="#order_status_LOGISTIC_DELIVERING-ID" data-toggle="tab">
                <i class="fa fa-plane"></i>
                {{lang.order_status_LOGISTIC_DELIVERING}}
            </a>
        </li>
        <li>
            <a href="#order_status_LOGISTIC_DELIVERED-ID" data-toggle="tab">
                <i class="fa fa-gift"></i>
                {{lang.order_status_LOGISTIC_DELIVERED}}
            </a>
        </li>
        <li>
            <a href="#order_status_SHOP_CLOSED-ID" data-toggle="tab">
                <i class="fa fa-check"></i>
                {{lang.order_status_SHOP_CLOSED}}
            </a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="order_status_NEW-ID">order_status_NEW</div>
      <div class="tab-pane" id="order_status_ACTIVE-ID">order_status_ACTIVE</div>
      <div class="tab-pane" id="order_status_LOGISTIC_DELIVERING-ID">order_status_LOGISTIC_DELIVERING</div>
      <div class="tab-pane" id="order_status_LOGISTIC_DELIVERED-ID">order_status_LOGISTIC_DELIVERED</div>
      <div class="tab-pane" id="order_status_SHOP_CLOSED-ID">order_status_SHOP_CLOSED</div>
    </div>
</div>