<div class="panel">

<div>
{{data.Comment}}
</div>

<div>
{{data.DateCreated}}
</div>

<div>
{{data.DateUpdated}}
</div>

<div>
{{data.Hash}}
</div>

<div>
{{data.ID}}
</div>

<div>
{{data.Shipping}}
</div>

<div>
{{data.Status}}
</div>

<div>
{{data.Warehouse}}
</div>


</div>