<!DOCTYPE html>
<html lang="{{LANG}}">
<head>
    <title></title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Cache-control" content="private">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{{PATH_STATIC}}customers/{{MPWS_CUSTOMER}}/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{PATH_STATIC}}customers/{{MPWS_CUSTOMER}}/{{MPWS_CUSTOMER}}/favicon.ico" type="image/x-icon">
</head>
<body class="MPWSPage" name="Page">

    <h2>Unfortunately this site is blocked :(</h2>
    <strong>Please contact our support team to get more details</strong>

</body>
</html>