<div class="panel-heading">
    <a href="{{bb_link instances.shop.urls.categoryCreate id=data.ID asRoot=true}}">
        <i class="fa fa-plus"></i>
    </a>
    {{lang.pluginMenu_Categories_Tree_Title}}
</div>
<!-- /.panel-heading -->
<div class="panel-body ">
    <label>
        <input type="checkbox" id="show_removed" {{#if extras.withRemoved }}checked{{/if}}> Враховувати видалені
    </label>
    <div id="categoryTree">
        <ul>
            <li data-jstree='{ "id": "{{ID}}" }' class="jstree-open" data-id="0" data-childcount="{{data.length}}">
                Всі категорії
                <ul>
                {{#recursive extras.tree}}
                    <li data-parent="{{ParentID}}" data-id="{{ID}}" data-childcount="{{childCount}}" id="{{ID}}" data-status="{{Status}}" data-jstree='{ "id": "{{ID}}", "type" : "{{Status}}" }'>{{Name}}{{#if childCount}}<ul>{{{recursive childItems}}}</ul>{{/if}}</li>
                {{/recursive}}
                </ul>
            </li>
        </ul>
    </div>
</div>