<h4>{{lang.pluginMenu_Categories_Tree_Title}}</h4>
<div id="jstree_categories-ID">
    <!-- in this example the tree is populated from inline HTML -->
    <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
    {{#each data }}
        {{#compare childrenCount ">" 0 }}
        <li class="dropdown-submenu">
            <a href="/#shop/catalog/{{ID}}">{{Name}}</a>
            <ul class="dropdown-menu">
            {{#each children }}
                {{#compare childrenCount ">" 0 }}
                <li class="dropdown-submenu">
                    <a href="/#shop/catalog/{{ID}}">{{Name}}</a>
                    <ul class="dropdown-menu">
                    {{#each children }}
                        <li><a href="/#shop/catalog/{{ID}}">{{Name}}</a></li>
                    {{/each}}
                    </ul>
                </li>
                {{else}}
                <li>
                    <a href="/#shop/catalog/{{ID}}">{{Name}}</a>
                </li>
                {{/compare}}
            {{/each}}
            </ul>
        </li>
        {{else}}
        <li>
            <a href="/#shop/catalog/{{ID}}">{{Name}}</a>
        </li>
        {{/compare}}
    {{/each}}
    </ul>
</div>

<div id="tree"></div>