<div class="well well-sm">
    <big><strong>Статистика інтернет-магазину<i title="На ці замовлення покупці очікують вже дуже довго. Їх слід обробити першими" class="fa fa-refresh helper helper-right" id="refresh"></i></strong></big>
</div>

<div class="row">

    <div class="col-xs-12 col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">Інформація про товари:</div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="prefix">Активні:</span>
                        <span><strong>5645</strong></span>
                    </li>
                    <li class="list-group-item">
                        <span class="prefix">Неактивні:</span>
                        <span><strong>5645</strong></span>
                    </li>
                    <li class="list-group-item">
                        <span class="prefix">Барковані:</span>
                        <span><strong>5645</strong></span>
                    </li>
                    <li class="list-group-item">
                        <span class="prefix">Архівні:</span>
                        <span><strong>5645</strong></span>
                    </li>
                    <li class="list-group-item">
                        <span class="prefix">Всього:</span>
                        <span><strong>5645</strong></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">Інформація про замовлення:</div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="prefix">В процесі:</span>
                        <span><strong>5645</strong></span>
                    </li>
                    <li class="list-group-item">
                        <span class="prefix">Виконані:</span>
                        <span><strong>5645</strong></span>
                    </li>
                    <li class="list-group-item">
                        <span class="prefix">Всього:</span>
                        <span><strong>5645</strong></span>
                    </li>
                    <li class="list-group-item">
                        <span class="prefix">К-ість активних користувачів:</span>
                        <span><strong>867</strong></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">Інформація про користувачів:</div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="prefix">Активних:</span>
                        <span><strong>5645</strong></span>
                    </li>
                    <li class="list-group-item">
                        <span class="prefix">Деактивованих:</span>
                        <span><strong>5645</strong></span>
                    </li>
                    <li class="list-group-item">
                        <span class="prefix">Всього:</span>
                        <span><strong>5645</strong></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>

<div class="row">

    <div class="col-xs-12 col-md-6">
        <div class="panel panel-danger">
            <div class="panel-heading"><i title="На ці замовлення покупці очікують вже дуже довго. Їх слід обробити першими" class="fa fa-exclamation-triangle helper helper-left"></i>Невиконані замовлення:</div>
            <div class="panel-body">
                {{#mpwsIsEmpty data.orders_expired}}
                    <stron>У Вас немає протермінованих замовлень <i class="fa fa-smile-o"></i>
                {{else}}
                    <ul class="list-group">
                        {{#each data.orders_expired}}
                        <li class="list-group-item">
                            <a href="javascript://">ред.</a>
                            <b>{{account.FirstName}} {{account.LastName}}</b>
                            на суму:
                            <span class="label label-success">{{info.total}}<span class="moneyType">грн.</span></span>
                            від:
                            <small>({{DateCreated}})</small>
                        </li>
                        {{/each}}
                    </ul>
                {{/mpwsIsEmpty}}
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-6">
        <div class="panel panel-danger">
            <div class="panel-heading"><i title="Необхідно дозамовити ці товари, адже їх потребують люди" class="fa fa-meh-o helper helper-left"></i>Товари, які очікують покупці:</div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="prefix">Дата створення:</span>
                        <span><strong></strong></span>
                    </li>
                    <li class="list-group-item">
                        <span class="prefix">Дата оновлення:</span>
                        <span><strong></strong></span>
                    </li>
                    <li class="list-group-item">
                        <span class="prefix"><i title="Код відстеження вантажу дає можливість покупцям дізнаватися поточний статус замовлення" class="fa fa-question-circle helper helper-left"></i>Код відстеження:</span>
                        <span><strong></strong></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>


<div class="well">

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading"><i title="Сьогодні маємо нові замовлення" class="fa fa-smile-o helper helper-left"></i>Сьогодніші замовлення:</div>
                <div class="panel-body">
                {{#mpwsIsEmpty data.orders_today}}
                    <stron>У Вас немає більше нових замовлень <i class="fa fa-frown-o"></i>
                {{else}}
                    <ul class="list-group">
                        {{#each data.orders_today}}
                        <li class="list-group-item">
                            <a href="javascript://">ред.</a>
                            <b>{{account.FirstName}} {{account.LastName}}</b>
                            на суму:
                            <span class="label label-success">{{info.total}}<span class="moneyType">грн.</span></span>
                        </li>
                        {{/each}}
                    </ul>
                {{/mpwsIsEmpty}}
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <i title="Ці товари користуються попитом. Їх слід більше закуповувати." class="fa fa-star helper helper-left"></i>
                    ТОП 50 товарів:
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="prefix">Дата створення:</span>
                            <span><strong></strong></span>
                        </li>
                        <li class="list-group-item">
                            <span class="prefix">Дата оновлення:</span>
                            <span><strong></strong></span>
                        </li>
                        <li class="list-group-item">
                            <span class="prefix"><i title="Код відстеження вантажу дає можливість покупцям дізнаватися поточний статус замовлення" class="fa fa-question-circle helper helper-left"></i>Код відстеження:</span>
                            <span><strong></strong></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="panel panel-danger">
                <div class="panel-heading"><i title="Ці товари ніхто не купує. Їх слід не продавати або знизити ціну." class="fa fa-thumbs-o-down helper helper-left"></i>Товари що не продаються:</div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="prefix">Дата створення:</span>
                            <span><strong></strong></span>
                        </li>
                        <li class="list-group-item">
                            <span class="prefix">Дата оновлення:</span>
                            <span><strong></strong></span>
                        </li>
                        <li class="list-group-item">
                            <span class="prefix"><i title="Код відстеження вантажу дає можливість покупцям дізнаватися поточний статус замовлення" class="fa fa-question-circle helper helper-left"></i>Код відстеження:</span>
                            <span><strong></strong></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">

    <div class="col-xs-12 col-md-6">
        <div class="panel panel-warning">
            <div class="panel-heading">Статистика продаж за останніх 4 місяці</div>
            <div class="panel-body">
                <div id="shop-chart-sales-ID"></div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-6">
        <div class="panel panel-warning">
            <div class="panel-heading">Витрати та прибуток</div>
            <div class="panel-body">
                <div id="shop-chart-balance-ID"></div>
            </div>
        </div>
    </div>

</div>