<div class="row well">

    <button class="button button-add-product">
      <i class="fa fa-plus-circle"></i>
      Новий товар
    </button>
      <button class="button button-add-category">
        <i class="fa fa-plus-circle"></i>
        Нова категорія
      </button>
    <button class="button button-add-origin">
      <i class="fa fa-plus-circle"></i>
      Новий виробник
    </button>

</div>

<div class="row">

    <!-- categories and orgins container -->
    <div class="col-3-md col-12-xs">


        <div class="well">
          <h4>Категорії</h4>
          <div id="jstree_categories-ID">
              <!-- in this example the tree is populated from inline HTML -->
                  <ul>
                    <li>Root node 1
                      <ul>
                        <li id="child_node_1">Child node 1</li>
                        <li>Child node 2</li>
                      </ul>
                    </li>
                    <li>Root node 2</li>
                  </ul>
          </div>
        </div>

        <div class="well">
          <h4>Виробники</h4>
          <div id="jstree_origins-ID">
              <!-- in this example the tree is populated from inline HTML -->
                  <ul>
                    <li>Root node 1
                      <ul>
                        <li id="child_node_1">Child node 1</li>
                        <li>Child node 2</li>
                      </ul>
                    </li>
                    <li>Root node 2</li>
                  </ul>
          </div>
        </div>

    </div>

</div>

<div class="row well">
  <h4>Фільтр товарів</h4>
  <input data-role="tagsinput">
</div>

<div class="row well">

  <div class="col-md-12 col-lg-2"> <!-- required for floating -->
    <!-- Nav tabs -->
    <ul class="nav nav-tabs tabs-left">
        <li class="productList_Active active" data-type="Active">
            <a href="#product_type_Active-ID" data-toggle="tab">
                <i class="fa fa-check"></i>
                {{lang.product_type_Active}}
                <span class="badge"></span>
            </a>
        </li>
        <li class="productList_Inactive" data-type="Inactive">
            <a href="#product_type_Inactive-ID" data-toggle="tab">
                <i class="fa fa-times"></i>
                {{lang.product_type_Inactive}}
                <span class="badge"></span>
            </a>
        </li>
        <li class="productList_Uncompleted" data-type="Uncompleted">
            <a href="#product_type_Uncompleted-ID" data-toggle="tab">
                <i class="fa fa-frown-o"></i>
                {{lang.product_type_Uncompleted}}
                <span class="badge"></span>
            </a>
        </li>
        <li class="productList_Sales" data-type="Sales">
            <a href="#product_type_Sales-ID" data-toggle="tab">
                <i class="fa fa-gift"></i>
                {{lang.product_type_Sales}}
                <span class="badge"></span>
            </a>
        </li>
        <li class="productList_Defects" data-type="Defects">
            <a href="#product_type_Defects-ID" data-toggle="tab">
                <i class="fa fa-wheelchair"></i>
                {{lang.product_type_Defects}}
                <span class="badge"></span>
            </a>
        </li>
        <li class="productList_Popular" data-type="Popular">
            <a href="#product_type_Popular-ID" data-toggle="tab">
                <i class="fa fa-signal"></i>
                {{lang.product_type_Popular}}
                <span class="badge"></span>
            </a>
        </li>
        <li class="productList_NotPopular" data-type="NotPopular">
            <a href="#product_type_NotPopular-ID" data-toggle="tab">
                <i class="fa fa-thumbs-down"></i>
                {{lang.product_type_NotPopular}}
                <span class="badge"></span>
            </a>
        </li>
        <li class="productList_Archived" data-type="Archived">
            <a href="#product_type_Archived-ID" data-toggle="tab">
                <i class="fa fa-archive"></i>
                {{lang.product_type_Archived}}
                <span class="badge"></span>
            </a>
        </li>
    </ul>
  </div>

  <div class="col-md-12 col-lg-10">
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="product_type_Active-ID"></div>
      <div class="tab-pane" id="product_type_Inactive-ID"></div>
      <div class="tab-pane" id="product_type_Uncompleted-ID"></div>
      <div class="tab-pane" id="product_type_Sales-ID"></div>
      <div class="tab-pane" id="product_type_Defects-ID"></div>
      <div class="tab-pane" id="product_type_Popular-ID"></div>
      <div class="tab-pane" id="product_type_NotPopular-ID"></div>
      <div class="tab-pane" id="product_type_Archived-ID"></div>
    </div>
  </div>
</div>