<div class="row">
    <div class="col-md-12">
        <div class="well">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="active">
                    <a class="orders-new" href="#order_status_NEW-ID" data-toggle="tab">
                        <i class="fa fa-dot-circle-o"></i>
                        {{lang.order_status_NEW}}
                        <span class="badge"></span>
                    </a>
                </li>
                <li>
                    <a class="orders-active" href="#order_status_ACTIVE-ID" data-toggle="tab">
                        <i class="fa fa-clock-o"></i>
                        {{lang.order_status_ACTIVE}}
                        <span class="badge"></span>
                    </a>
                </li>
                <li>
                    <a class="orders-delivering" href="#order_status_LOGISTIC_DELIVERING-ID" data-toggle="tab">
                        <i class="fa fa-plane"></i>
                        {{lang.order_status_LOGISTIC_DELIVERING}}
                        <span class="badge"></span>
                    </a>
                </li>
                <li>
                    <a class="orders-delivered" href="#order_status_LOGISTIC_DELIVERED-ID" data-toggle="tab">
                        <i class="fa fa-gift"></i>
                        {{lang.order_status_LOGISTIC_DELIVERED}}
                        <span class="badge"></span>
                    </a>
                </li>
                <li>
                    <a class="orders-closed" href="#order_status_SHOP_CLOSED-ID" data-toggle="tab">
                        <i class="fa fa-check"></i>
                        {{lang.order_status_SHOP_CLOSED}}
                        <span class="badge"></span>
                    </a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane active" id="order_status_NEW-ID"></div>
              <div class="tab-pane" id="order_status_ACTIVE-ID"></div>
              <div class="tab-pane" id="order_status_LOGISTIC_DELIVERING-ID"></div>
              <div class="tab-pane" id="order_status_LOGISTIC_DELIVERED-ID"></div>
              <div class="tab-pane" id="order_status_SHOP_CLOSED-ID"></div>
            </div>
        </div>
    </div>
</div>