<div class="row">
    <div class="col-sm-12 col-lg-3 tree">
    </div>
    <div class="col-sm-12 col-lg-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <button type="button" class="btn btn-success btn-circle btn-circle-xs"><i class="fa fa-plus"></i></button>
                Менеджер товарів
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs nav-tabs-plugin-shop-products">
                        <li class="tab-link products-active">
                            <a href="/#shop/products/active">
                                <i class="fa fa-bolt"></i>
                                {{lang.product_status_ACTIVE}}
                                <span class="badge"></span>`
                            </a>
                        </li>
                        <li class="tab-link products-archived">
                            <a href="/#shop/products/archived">
                                <i class="fa fa-archived"></i>
                                {{lang.product_status_ARCHIVED}}
                                <span class="badge"></span>
                            </a>
                        </li>
                        <li class="tab-link products-discount">
                            <a href="/#shop/products/discount">
                                <i class="fa fa-tag"></i>
                                {{lang.product_status_DISCOUNT}}
                                <span class="badge"></span>
                            </a>
                        </li>
                        <li class="tab-link products-defect">
                            <a href="/#shop/products/defect">
                                <i class="fa fa-tags"></i>
                                {{lang.product_status_DEFECT}}
                                <span class="badge"></span>
                            </a>
                        </li>
                        <li class="tab-link products-waiting">
                            <a href="/#shop/products/waiting">
                                <i class="fa fa-truck"></i>
                                {{lang.product_status_WAITING}}
                                <span class="badge"></span>
                            </a>
                        </li>
                        <li class="tab-link products-preorder">
                            <a href="/#shop/products/preorder">
                                <i class="fa fa-phone"></i>
                                {{lang.product_status_PREORDER}}
                                <span class="badge"></span>
                            </a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active"></div>
                    </div>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>