<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 ordersPending"></div>
    <div class="col-xs-12 col-sm-6 col-md-6 ordersExpired"></div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Менеджер замовлень
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs nav-tabs-plugin-shop-orders">
                        <li class="tab-link orders-new">
                            <a href="/#shop/orders/new">
                                <i class="fa fa-dot-circle-o"></i>
                                {{lang.order_status_NEW}}
                                <span class="badge"></span>
                            </a>
                        </li>
                        <li class="tab-link orders-active">
                            <a href="/#shop/orders/active">
                                <i class="fa fa-clock-o"></i>
                                {{lang.order_status_ACTIVE}}
                                <span class="badge"></span>
                            </a>
                        </li>
                        <li class="tab-link orders-delivering">
                            <a href="/#shop/orders/logistic_delivering">
                                <i class="fa fa-plane"></i>
                                {{lang.order_status_LOGISTIC_DELIVERING}}
                                <span class="badge"></span>
                            </a>
                        </li>
                        <li class="tab-link orders-logistic_delivered">
                            <a href="/#shop/orders/logistic_delivered">
                                <i class="fa fa-gift"></i>
                                {{lang.order_status_LOGISTIC_DELIVERED}}
                                <span class="badge"></span>
                            </a>
                        </li>
                        <li class="tab-link orders-shop_closed">
                            <a href="/#shop/orders/shop_closed">
                                <i class="fa fa-check"></i>
                                {{lang.order_status_SHOP_CLOSED}}
                                <span class="badge"></span>
                            </a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                      <div class="tab-pane active"></div>
                    </div>


                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>