<div class="panel">
    <a href="{{bb_link instances.shop.urls.productCreate id=data.ID asRoot=true}}" class="btn btn-outline btn-primary btn-xs">
        <i class="fa fa-plus"></i> {{lang.productManager_Button_Create_Product}}
    </a>
    <a href="{{bb_link instances.shop.urls.categoryCreate id=data.ID asRoot=true}}" class="btn btn-outline btn-primary btn-xs">
        <i class="fa fa-plus"></i> {{lang.productManager_Button_Create_Category}}
    </a>
    <a href="{{bb_link instances.shop.urls.originCreate id=data.ID asRoot=true}}" class="btn btn-outline btn-primary btn-xs">
        <i class="fa fa-plus"></i> {{lang.productManager_Button_Create_Origin}}
    </a>
</div>
<div class="row">
    <div class="col-sm-12 col-lg-3 tree"></div>
    <div class="col-sm-12 col-lg-9">
        <div class="products"></div>
        <div class="origins"></div>
    </div>
</div>