<div class="panel panel-info">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapsePluginShop"><span class="glyphicon glyphicon-shopping-cart"></span>{{lang.pluginMenuTitle}}</a>
        </h4>
    </div>
    <div id="collapsePluginShop" class="panel-collapse collapse">
        <div class="panel-body">
            <div class="list-group">
                <a href="#shop/dashboard" class="list-group-item auto-active">{{lang.pluginMenu_Dashboard}}</a>
                <a href="#shop/products" class="list-group-item auto-active">{{lang.pluginMenu_Products}}</a>
                <a href="#shop/orders" class="list-group-item auto-active">{{lang.pluginMenu_Orders}}</a>
                <a href="#shop/sales" class="list-group-item auto-active">{{lang.pluginMenu_Offers}}</a>
                <a href="#shop/reports" class="list-group-item auto-active">{{lang.pluginMenu_Reports}}</a>
            </div>
        </div>
    </div>
</div>