<div class="panel-heading">
    Коротко про замовлення:
</div>
<div class="panel-body">

    <div class="list-group">
        <a href="#" class="list-group-item">
            <i class="fa fa-bolt fa-fw"></i> Нові замовлення
            <span class="pull-right text-muted small"><em>{{data.NEW}}</em>
            </span>
        </a>
        <a href="#" class="list-group-item">
            <i class="fa fa-clock-o fa-fw"></i> В процесі обробки
            <span class="pull-right text-muted small"><em>{{data.ACTIVE}}</em>
            </span>
        </a>
        <a href="#" class="list-group-item">
            <i class="fa fa-truck fa-fw"></i> Доставляється покупуцю
            <span class="pull-right text-muted small"><em>{{data.LOGISTIC_DELIVERING}}</em>
            </span>
        </a>
        <a href="#" class="list-group-item">
            <i class="fa fa-gift fa-fw"></i> Замовлення доставлено
            <span class="pull-right text-muted small"><em>{{data.LOGISTIC_DELIVERED}}</em>
            </span>
        </a>
        <a href="#" class="list-group-item">
            <i class="fa fa-check fa-fw"></i> Виконано
            <span class="pull-right text-muted small"><em>{{data.SHOP_CLOSED}}</em>
            </span>
        </a>
        <a href="#" class="list-group-item">
            Всього замовлень в системі:
            <span class="pull-right text-muted small"><em>{{data.TOTAL}}</em>
            </span>
        </a>
    </div>

</div>