<div class="well well-sm">
    <big><strong>Інтернет-магазин</strong></big>
</div>

<div class="row">
    <div class="col-lg-2 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-shopping-cart fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">
                            <a href="#shop/orders/new">{{array_length data.orders_todays}}</a>
                        </div>
                        <div>Сьогоднішні!</div>
                    </div>
                </div>
            </div>
            <a href="#shop/orders/new">
                <div class="panel-footer">
                    <span class="pull-left">Детальніше</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-2 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-shopping-cart fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">
                            <a href="#shop/orders/active">{{array_length data.orders_all_new}}</a>
                        </div>
                        <div>Активні!</div>
                    </div>
                </div>
            </div>
            <a href="#shop/orders/active">
                <div class="panel-footer">
                    <span class="pull-left">Детальніше</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-2 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-warning fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">
                            <a href="#shop/orders">{{array_length data.orders_expired}}</a>
                        </div>
                        <div>Протерміновані!</div>
                    </div>
                </div>
            </div>
            <a href="#shop/orders">
                <div class="panel-footer">
                    <span class="pull-left">Детальніше</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-2 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-gift fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">
                            <a href="#shop/products">{{array_length data.products_todays}}</a>
                        </div>
                        <div>Нові товари!</div>
                    </div>
                </div>
            </div>
            <a href="#shop/products">
                <div class="panel-footer">
                    <span class="pull-left">Детальніше</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-2 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-truck fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">
                            <a href="#shop/products">1</a>
                        </div>
                        <div>Потрібно замовити!</div>
                    </div>
                </div>
            </div>
            <a href="#shop/reports">
                <div class="panel-footer">
                    <span class="pull-left">Детальніше</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-2 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-info-circle fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <a href="#shop/products">
                            Активних товарів:
                            <strong>
                                {{default_value data.all_products.ACTIVE 0 }}
                            </strong>
                        </a>
                        <a href="#shop/products">
                            Для замовлення:
                            <strong>
                                {{default_value data.all_products.PREORDER 0 }}
                            </strong>
                        </a>
                        <a href="#shop/products">
                            З знижкою:
                            <strong>
                                {{default_value data.all_products.DISCOUNT 0 }}
                            </strong>
                        </a>
                        <a href="#shop/orders">
                            Виконано:
                            <strong>
                                {{default_value data.all_orders.SHOP_CLOSED 0 }}
                            </strong>
                        </a>
                    </div>
                </div>
            </div>
            <a href="#shop/reports">
                <div class="panel-footer">
                    <span class="pull-left">Детальніше</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Статистика замовлень за останній місяць
                </h3>
            </div>
            <div class="panel-body">
                <div id="shop-chart-new-sales-ID"></div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Статистика товарів за останній місяць
                </h3>
            </div>
            <div class="panel-body">
                <div id="shop-chart-new-products-ID"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><i title="Сьогодні маємо нові замовлення" class="fa fa-shopping-cart helper helper-left"></i> Сьогодніші замовлення:</div>
            <div class="panel-body">
            {{#mpwsIsEmpty data.orders_todays}}
                <stron>У Вас немає нових замовлень <i class="fa fa-frown-o"></i>
            {{else}}
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Ред.</th>
                            <th>Покупець</th>
                            <th>Контакти</th>
                            <th>Сума</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#each data.orders_todays}}
                        <tr>
                            <td><i class="fa fa-pencil-square-o"></i></td>
                            <td>{{account.FirstName}} {{account.LastName}}</td>
                            <td>
                                {{address.POBox}}, {{address.Country}} {{address.City}}<br>
                                {{account.Phone}}, {{account.EMail}}
                            </td>
                            <td>{{info.total}}<span class="moneyType">грн.</span></td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            {{/mpwsIsEmpty}}
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i title="Ці товари слід закуповувати більше." class="fa fa-star helper helper-left"></i> ТОП 15 товарів:
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Ред.</th>
                            <th>Виробник</th>
                            <th>Назва</th>
                            <th>Продано</th>
                            <th>Сума</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#each data.products_popular}}
                        <tr>
                            <td><i class="fa fa-pencil-square-o"></i></td>
                            <td>{{OriginName}}</td>
                            <td>{{Name}}</td>
                            <td>{{SoldTotal}}</td>
                            <td>{{SumTotal}}<span class="moneyType">грн.</span></td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><i title="Рекомендую знизити ціну або продавати під замовлення." class="fa fa-thumbs-o-down helper helper-left"></i> Товари що не продаються:</div>
            <div class="panel-body">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Ред.</th>
                            <th>Виробник</th>
                            <th>Назва</th>
                            <th>Ціна</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#each data.products_non_popular}}
                        <tr>
                            <td><i class="fa fa-pencil-square-o"></i></td>
                            <td>{{OriginName}}</td>
                            <td>{{Name}}</td>
                            <td>{{Price}}<span class="moneyType">грн.</span></td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-xs-12 col-md-6">
        <div class="panel panel-danger">
            <div class="panel-heading"><i title="На ці замовлення покупці очікують вже дуже довго. Їх слід обробити першими" class="fa fa-exclamation-triangle helper helper-left"></i>Невиконані замовлення:</div>
            <div class="panel-body">
                {{#mpwsIsEmpty data.orders_expired}}
                    <stron>У Вас немає протермінованих замовлень <i class="fa fa-smile-o"></i>
                {{else}}
                    <ul class="list-group">
                        {{#each data.orders_expired}}
                        <li class="list-group-item">
                            <a href="javascript://">ред.</a>
                            <b>{{account.FirstName}} {{account.LastName}}</b>
                            на суму:
                            <span class="label label-success">{{info.total}}<span class="moneyType">грн.</span></span>
                            від:
                            <small>({{DateCreated}})</small>
                        </li>
                        {{/each}}
                    </ul>
                {{/mpwsIsEmpty}}
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-6">
        <div class="panel panel-danger">
            <div class="panel-heading"><i title="Необхідно дозамовити ці товари, адже їх потребують люди" class="fa fa-meh-o helper helper-left"></i>Товари, які очікують покупці:</div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="prefix">Дата створення:</span>
                        <span><strong></strong></span>
                    </li>
                    <li class="list-group-item">
                        <span class="prefix">Дата оновлення:</span>
                        <span><strong></strong></span>
                    </li>
                    <li class="list-group-item">
                        <span class="prefix"><i title="Код відстеження вантажу дає можливість покупцям дізнаватися поточний статус замовлення" class="fa fa-question-circle helper helper-left"></i>Код відстеження:</span>
                        <span><strong></strong></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>