                        <div class="wrapper">
                            <div class="product-row">
                                {{#if ../data.info.hasPromo}}
                                    {{#unless ../../data.info.allProductsWithPromo}}
                                        {{#if ../../IsPromo }}
                                            <i class="fa fa-check-circle text-success discount-availability" data-toggle="tooltip" title="Знижка: {{../../promo.Discount}}%"></i>
                                        {{else}}
                                            <i class="fa fa-exclamation-circle text-danger discount-availability" data-toggle="tooltip" title="На цей товар не діє знижка"></i>
                                        {{/if}}
                                    {{/unless}}
                                {{/if}}
                                <a href="javascript://" class="shop-product-remove" title="Видалити товар з кошика" data-action="plugin:shop:order:remove" data-id="{{ID}}">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                                <div class="shop-product-image shop-product-image-main">
                                    <a href="{{bb_link ../instances.shop.urls.shopProduct product=ExternalKey asRoot=true}}" class="link" title="{{_origin.Name}} - {{Name}}">
                                        <div class="image productimage noimage image_{{ID}}">
                                            {{#if Images.[0].xs}}
                                            {{>animSpinnerFB}}
                                            {{/if}}
                                        </div>
                                        {{#if Images.[0].xs}}
                                        <script>
                                        (function() {
                                            require(["image!{{Images.[0].xs}}"], function(img){
                                                img.title = "{{Name}}";
                                                img.className = "image img-responsive";
                                                $('.image_{{ID}}').removeClass('noimage').html($(img).clone());
                                            }, function () { $('.image_{{ID}} #facebookG').remove(); });
                                        })();
                                        </script>
                                        {{/if}}
                                    </a>
                                </div>
                                <span class="product-name">
                                    <a href="{{bb_link ../instances.shop.urls.shopProduct product=ExternalKey asRoot=true}}" title="{{_origin.Name}} - {{Name}}">{{_origin.Name}} - {{Name}}</a>
                                </span>
                                {{#each _prices.others}}
                                    <strong class="label label-warning shop-price-value {{@key}}{{#isnt ../../instances.shop.settings._user.activeCurrency @key}} hidden{{/isnt}}">{{currency this currency=@key display=../../instances.shop.settings.EXCHANAGERATESDISPLAY}}</strong>
                                {{/each}}
                                {{#if _promoIsApplied}}
                                <span class="label label-success">- {{_promo.Discount}}%</span>
                                {{/if}}
                                <span class="label label-default">x</span>
                                <input type="number" class="form-control quantity input-sm" min="1" data-id="{{ID}}" value="{{_orderQuantity}}">
                                <span class="label label-default">=</span>
                                {{#each _totalSummary._totals}}
                                    <strong class="product-total shop-price-value {{@key}}{{#isnt ../../instances.shop.settings._user.activeCurrency @key}} hidden{{/isnt}}">{{currency this currency=@key display=../../instances.shop.settings.EXCHANAGERATESDISPLAY}}</strong>
                                {{/each}}
                            </div>
                        </div>





        <div class="well cartInfo hidden">
            {{#if data.info.hasPromo }}
            <div class="shopCartDiscount">
                <span class="value-prefix">Знижка:</span>
                <span class="value"><strong>{{data.promo.Discount}}<span class="percentType">%</span></strong></span>
                <sub class="promocode">Ваш промокод <b>{{data.promo.Code}}</b> діє до <b>{{data.promo.DateExpire}}</b> <i class="fa fa-times text-danger btn-promo-cancel" data-toggle="tooltip" title="Скасувати промо-код"></i></sub>
            </div>
            {{/if}}
            <div class="shopCartTotal">
                <span class="value-prefix">До оплати:</span>
                {{#each data.totalSummary._totals}}
                    <strong class="shop-price-value {{@key}}{{#isnt ../../instances.shop.settings._user.activeCurrency @key}} hidden{{/isnt}}">{{currency this currency=@key display=../../instances.shop.settings.EXCHANAGERATESDISPLAY}}</strong>
                {{/each}}
            </div>
        </div>


        <div class="well cartInfo hidden">
            {{#if data.info.hasPromo }}
            <div class="shopCartDiscount">
                <span class="value-prefix">Знижка:</span>
                <span class="value"><strong>{{data.promo.Discount}}<span class="percentType">%</span></strong></span>
                <sub class="promocode">Ваш промокод <b>{{data.promo.Code}}</b> діє до <b>{{data.promo.DateExpire}}</b> <i class="fa fa-times text-danger btn-promo-cancel" data-toggle="tooltip" title="Скасувати промо-код"></i></sub>
            </div>
            {{else }}
            <div class="shopPropmoCode">
                <form class="form-inline" role="form">
                    <i class="fa fa-tag"></i> Для отримання знижки введіть промо-код:
                    <input type="text" class="form-control" id="shop-order-promo-ID" placeholder="XXXXX-XXXXX-XXXXX">
                    <button type="button" class="btn btn-default btn-promo-submit">Застосувати</button>
                </form>
            </div>
            {{/if}}
            <div class="shopCartTotal">
                <span class="value-prefix">До оплати:</span>
                {{#each data.totalSummary._totals}}
                    <strong class="shop-price-value {{@key}}{{#isnt ../../instances.shop.settings._user.activeCurrency @key}} hidden{{/isnt}}">{{currency this currency=@key display=../../instances.shop.settings.EXCHANAGERATESDISPLAY}}</strong>
                {{/each}}
            </div>
        </div>




            <div id="cupon-widget" class="widget hidden">
                <h1 class="border">use coupon</h1>
                <div class="body">
                    <form>
                        <div class="inline-input">
                            <input data-placeholder="enter coupon code" type="text" class="placeholder">
                            <button class="le-button" type="submit">Apply</button>
                        </div>
                    </form>
                </div>
            </div><!-- /.widget -->