<a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
    <div class="basket-item-count">
        <span class="lbl">У кошику</span>
        {{#if data.info.productCount }}
        <span class="count">{{data.info.productCount}}</span>
        <span class="lbl">товар(ів)</span>
        <span class="lbl">на суму:</span>
        {{else}}
        <span class="lbl">немає товарів</span>
        {{/if}}
    </div>
    <div class="total-price-basket">
        <span class="total-price">
        {{#each data.totalSummary._subs}}
            <strong class="shop-price-value {{@key}}{{#isnt ../instances.shop.settings._user.activeCurrency @key}} hidden{{/isnt}}">{{currency this currency=@key display=../instances.shop.settings.EXCHANAGERATESDISPLAY}}</strong>
        {{/each}}
        </span>
    </div>
</a>
{{#if data.info.productCount }}
<ul class="dropdown-menu">
    {{#each data.items }}
    <li>
        <div class="basket-item">
            <div class="row">
                {{#if Images.[0].micro}}
                <div class="col-xs-4 col-sm-4 no-margin text-center">
                    <div class="thumb">
                        <img src="{{appConfig.app.baseStaticUrl}}/img/blank.gif" alt="{{_displayName}}" data-echo="{{Images.[0].micro}}" class="image img-responsive">
                    </div>
                </div>
                {{/if}}
                <div class="col-xs-8 col-sm-8 no-margin">
                    <div class="title">
                        <a href="{{bb_link ../instances.shop.urls.shopProduct product=ExternalKey asRoot=true}}" title="{{_displayName}}">
                            {{_displayName}}
                        </a>
                    </div>
                    <div class="price">
                    {{#each _prices.others}}
                        <strong class="shop-price-value {{@key}}{{#isnt ../../instances.shop.settings._user.activeCurrency @key}} hidden{{/isnt}}">{{currency this currency=@key display=../../instances.shop.settings.EXCHANAGERATESDISPLAY}}</strong>
                    {{/each}}
                    </div>
                </div>
            </div>
            <a class="shop-cart-product-remove" href="javascript://" data-id="{{ID}}"><i class="fa fa-fw fa-times"></i></a>
        </div>
    </li>
    {{/each}}
    <li class="checkout">
        <div class="basket-item">
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <a href="{{bb_link ../instances.shop.urls.shopCart asRoot=true}}" class="le-button">Відкрити кошик</a>
                </div>
            </div>
        </div>
    </li>
</ul>
{{/if}}