{{#unless data.info.productCount }}
<a class="dropdown-toggle" href="javascript://" aria-expanded="true">
    <div class="basket-item-count">
        <span class="lbl">У кошику 0 товарів</span>
    </div>
</a>
{{else}}
<a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
    <div class="basket-item-count">
        <span class="count">{{data.info.productUniqueCount}}</span>
        <span class="lbl">Кошик:</span>
    </div>
    <div class="total-price-basket"> 
        <span class="total-price">
        {{#each data.totalSummary._subs}}
            <strong class="value moneyValue {{@key}}{{#isnt ../instances.shop.settings._user.activeCurrency @key}} hidden{{/isnt}}">{{currency this currency=@key display=../instances.shop.settings.EXCHANAGERATESDISPLAY}}</strong>
        {{/each}}
        </span>
    </div>
</a>
<ul class="dropdown-menu">
    {{#each data.items }}
    <li>
        <div class="basket-item">
            <div class="row">
                <div class="col-xs-4 col-sm-4 no-margin text-center">
                    <div class="thumb">
                        <img alt="" src="assets/images/products/product-small-01.jpg">
                    </div>
                </div>
                <div class="col-xs-8 col-sm-8 no-margin">
                    <div class="title">
                        <a href="{{bb_link ../instances.shop.urls.shopProduct product=ExternalKey asRoot=true}}" title="{{_displayName}}">
                            {{_displayName}}
                        </a>
                    </div>
                    <div class="price">
                    {{#each _prices.others}}
                        <strong class="product-price moneyValue {{@key}}{{#isnt ../../instances.shop.settings._user.activeCurrency @key}} hidden{{/isnt}}">{{currency this currency=@key display=../../instances.shop.settings.EXCHANAGERATESDISPLAY}}</strong>
                    {{/each}}
                    </div>
                </div>
            </div>
            <a class="cart-product-remove" href="javascript://" data-id="{{ID}}"><i class="fa fa-fw fa-times"></i></a>
        </div>
    </li>
    {{/each}}
    <li class="checkout">
        <div class="basket-item">
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <a href="{{bb_link ../instances.shop.urls.shopCart asRoot=true}}" class="le-button">Відкрити кошик</a>
                </div>
            </div>
        </div>
    </li>
</ul>
{{/unless}}