{{#each data}}
<li class="dropdown menu-item">
    {{#if childNodes}}
    <a href="#" data-toggle="dropdown" class="dropdown-toggle" title="{{Name}}">{{Name}}
        <b class="caret"></b></a>
    <ul class="dropdown-menu mega-menu">
        <li class="yamm-content">
            <!-- Content container to add padding -->
            <div class="row">
                <h4 class="catalog-title">
                    <a href="{{bb_link ../../instances.shop.urls.shopCatalogCategory category=ExternalKey}}" title="{{Name}}">{{Name}}</a>
                </h4>
                {{#each childNodes}}
                <div class="col-md-4 shop-category-block">
                    <ul class="list-unstyled">
                        <li>
                            <a href="{{bb_link ../../../instances.shop.urls.shopCatalogCategory category=ExternalKey}}" title="{{Name}}"><b>{{Name}}</b></a>
                        </li>
                        {{#recursive childNodes}}
                        <li class="ship-category-child">
                            <a href="{{bb_link ../../../../instances.shop.urls.shopCatalogCategory category=ExternalKey}}" title="{{Name}}">{{Name}}</a>
                            {{#if childNodes}}
                            <ul class="list-unstyled">
                            {{{recursive childNodes}}}
                            </ul>
                            {{/if}}
                        </li>
                        {{/recursive}}
                    </ul>
                </div>
                {{/each}}
                {{#if Image}}
                <div class="dropdown-banner-holder">
                    <img src="{{Image.sm}}" class="category-image" alt="{{Name}}" onerror="$(this).remove();">
                </div>
                {{/if}}
            </div>
        </li>
    </ul>
    {{else}}
        <a href="{{bb_link ../../instances.shop.urls.shopCatalogCategory category=ExternalKey}}" title="{{Name}}">{{Name}}</a>
    {{/if}}
</li>
{{/each}}