{{#each data}}
    {{#gt @index 0}} 
    {{#ifModulEq @index 4 0}}
    <div class="separator"></div>
    {{/ifModulEq}}
    {{/gt}}
    <div class="col-md-3 col-xs-12 category-nav-item">
        <div class="well">
        {{#isNull ParentID}}
            {{#if Image}}
            <a href="{{bb_link ../../../instances.shop.urls.shopCatalogCategory category=ExternalKey}}">
                <img src="{{../../Image.sm}}" class="category-image" alt="{{../Name}}" onerror="$(this).remove();">
            </a>
            {{/if}}
            <h4>
                <a href="{{bb_link ../../instances.shop.urls.shopCatalogCategory category=ExternalKey}}">{{Name}}</a>
            </h4>
            {{#if childNodes}}
            <ul class="list-unstyled">
                {{#each childNodes}}
                <li>
                    <a href="{{bb_link ../../../../instances.shop.urls.shopCatalogCategory category=ExternalKey}}">{{Name}}</a>
                </li>
                {{/each}}
            </ul>
            {{/if}}
        </div>
    {{/isNull}}
    </div>
{{/each}}