{{#each data }}
<div class="row cart-item cart_item" id="yith-wcwl-row-1">
    
    <div class="col-xs-12 col-sm-1 no-margin">
        <a class="wishlist-product-remove" href="javascript://" data-id="{{ID}}"><i class="fa fa-fw fa-times"></i></a>
    </div>

    <div class="col-xs-12 col-sm-1 no-margin">
        <a href="{{bb_link ../instances.shop.urls.shopProduct product=ExternalKey asRoot=true}}" title="{{_displayName}}">
            <img width="73" height="73" alt="{{_displayName}}" class="attachment-shop_thumbnail wp-post-image" src="{{../appConfig.app.baseStaticUrl}}/img/blank.gif" data-echo="{{Images.[0].sm}}">
        </a>
    </div>
    <div class="col-xs-12 col-sm-4 no-margin">
        <div class="title">
            <a href="{{bb_link ../instances.shop.urls.shopProduct product=ExternalKey asRoot=true}}" title="{{_displayName}}">
                {{_displayName}}
            </a>
        </div><!-- /.title --> 
        <div>
            {{#if _archived}}
                <span class="label label-danger">  архівний</span>
            {{else}}
                {{#if _available }}
                <span class="label label-success">  є в наявності</span>
                {{else}}
                <span class="label label-danger">  немає</span>
                {{/if}}
            {{/if}}
        </div>
    </div>
    
    <div class="col-xs-12 col-sm-3 no-margin">
        <div class="price">
            {{#each _prices.others}}
                <strong class="shop-price-value {{@key}}{{#isnt ../../instances.shop.settings._user.activeCurrency @key}} hidden{{/isnt}}">{{currency this currency=@key display=../../instances.shop.settings.EXCHANAGERATESDISPLAY}}</strong>
            {{/each}}
            {{#if _promoIsApplied }}
            <sub class="promocode label label-success">(Знижка: {{../_promo.Discount}}%)</sub>
            {{/if}}
        </div>
    </div>
    
    <div class="col-xs-12 col-sm-3 no-margin">
        <div class="text-right">
            {{#unless _archived}}
            <div class="add-cart-button">
                <a class="le-button add-product" href="javascript://" data-id="{{ID}}">В кошик</a>
            </div>
            {{/unless}}
        </div>
    </div>

</div>
{{/each}}


<div class="col-md-12 hidden">
    {{#mpwsIsNotEmpty data }}
    <div class="well">
        <div class="actions">
            <a href="javascript://" data-action="plugin:shop:list_wish:clear" data-id="*">
                <i class="fa fa-trash-o"></i> {{lang.list_wish_link_clear}}
            </a>
        </div>
    </div>
    <div class="well">
      <div class="shop-widget-productlist row">
      {{#each data }}
        <div class="col-md-3">
          <div class="wrapper">
            <a href="javascript://" class="shop-product-remove" data-action="plugin:shop:list_wish:remove" data-id="{{ID}}">
                <i class="fa fa-trash-o"></i>
            </a>
            <a href="javascript://" class="shop-product-buy" data-action="plugin:shop:order:add" data-id="{{ID}}">
                <i class="fa fa-shopping-cart"></i>
            </a>
            <div class="shop-product-image shop-product-image-main">
                <a href="{{bb_link ../instances.shop.urls.shopProduct product=ExternalKey asRoot=true}}" class="link" title="{{_origin.Name}} - {{Name}}">
                    <div class="image productimage noimage image_{{ID}}">
                        {{#if Images.[0].sm}}
                        {{>animSpinnerFB}}
                        {{/if}}
                    </div>
                    {{#if Images.[0].sm}}
                    <script>
                    (function() {
                        require(["image!{{Images.[0].sm}}"], function(img){
                            img.title = "{{Name}}";
                            img.className = "image img-responsive";
                            $('.image_{{ID}}').removeClass('noimage').html($(img).clone());
                        }, function () { $('.image_{{ID}} #facebookG').remove(); });
                    })();
                    </script>
                    {{/if}}
                </a>
            </div>
            <div class="product-row">
                <span class="product-name"><a href="{{bb_link ../../instances.shop.urls.shopProduct product=ExternalKey asRoot=true}}" title="{{_origin.Name}} - {{Name}}">{{_origin.Name}} - {{Name}}</a></span>
                {{#unless _archived}}
                <div class="shop-component shop-product-attr shop-product-attr-price label-warning product-price">
                    <div class="value-prefix">Ціна:</div>
                    {{#each _prices.others}}
                        <strong class="shop-price-value {{@key}}{{#isnt ../../../instances.shop.settings._user.activeCurrency @key}} hidden{{/isnt}}">{{currency this currency=@key display=../../../instances.shop.settings.EXCHANAGERATESDISPLAY}}</strong>
                    {{/each}}
                    {{#if _promoIsApplied }}
                    <sub class="promocode label label-success">(Знижка: {{../_promo.Discount}}%)</sub>
                    {{/if}}
                </div>
                {{/unless}}
            </div>
          </div>
        </div>
      {{/each}}
      </div>
    </div>
    <div class="well">
        <div class="actions">
            <a href="javascript://" data-action="plugin:shop:list_wish:clear" data-id="*">
                <i class="fa fa-trash-o"></i> {{lang.list_wish_link_clear}}
            </a>
        </div>
    </div>
    {{else}}
    <div class="alert alert-warning">{{lang.list_wish_empty}}</div>
    {{/mpwsIsNotEmpty}}
</div>