<div class="col-md-12 hidden">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Мої списки товарів</h3>
  </div>
  <div class="panel-body">
    <div class="list-group">
      <a href="#" class="list-group-item active">
        <h4 class="list-group-item-heading">List group item heading</h4>
        <p class="list-group-item-text">...</p>
      </a>
    </div>
    <div class="list-group">
      <a href="#" class="list-group-item active">
        <h4 class="list-group-item-heading">List group item heading</h4>
        <p class="list-group-item-text">...</p>
      </a>
    </div>
  </div>
</div>

</div>
<div class="col-md-12">
    {{#mpwsIsNotEmpty data }}
    <div class="well">
        <div class="actions">
            <a href="javascript://" data-action="plugin:shop:list_wish:clear" data-id="*">
                <i class="fa fa-trash-o"></i> {{lang.list_wish_link_clear}}
            </a>
        </div>
    </div>
    <div class="well">
      <div class="shop-widget-productlist row">
      {{#each data }}
        <div class="col-md-3">
          <div class="wrapper">
            <a href="javascript://" class="shop-product-remove" data-action="plugin:shop:list_wish:remove" data-id="{{ID}}">
                <i class="fa fa-trash-o"></i>
            </a>
            <a href="javascript://" class="shop-product-buy" data-action="plugin:shop:order:add" data-id="{{ID}}">
                <i class="fa fa-shopping-cart"></i>
            </a>
            <div class="shop-product-image shop-product-image-main">
                <a href="{{bb_link ../instances.shop.urls.shopProduct product=ExternalKey asRoot=true}}" class="link" title="{{_origin.Name}} - {{Name}}">
                    <div class="image productimage noimage image_{{ID}}">
                        {{#if Images.[0].sm}}
                        {{>animSpinnerFB}}
                        {{/if}}
                    </div>
                    {{#if Images.[0].sm}}
                    <script>
                    (function() {
                        require(["image!{{Images.[0].sm}}"], function(img){
                            img.title = "{{Name}}";
                            img.className = "image img-responsive";
                            $('.image_{{ID}}').removeClass('noimage').html($(img).clone());
                        }, function () { $('.image_{{ID}} #facebookG').remove(); });
                    })();
                    </script>
                    {{/if}}
                </a>
            </div>
            <div class="product-row">
                <span class="product-name"><a href="{{bb_link ../../instances.shop.urls.shopProduct product=ExternalKey asRoot=true}}" title="{{_origin.Name}} - {{Name}}">{{_origin.Name}} - {{Name}}</a></span>
                {{#unless _archived}}
                <div class="shop-component shop-product-attr shop-product-attr-price label-warning product-price">
                    <div class="value-prefix">Ціна:</div>
                    {{#each _prices.others}}
                        <strong class="moneyValue {{@key}}{{#isnt ../../../instances.shop.settings._user.activeCurrency @key}} hidden{{/isnt}}">{{currency this currency=@key display=../../../instances.shop.settings.EXCHANAGERATESDISPLAY}}</strong>
                    {{/each}}
                    {{#if _promoIsApplied }}
                    <sub class="promocode label label-success">(Знижка: {{../_promo.Discount}}%)</sub>
                    {{/if}}
                </div>
                {{/unless}}
            </div>
          </div>
        </div>
      {{/each}}
      </div>
    </div>
    <div class="well">
        <div class="actions">
            <a href="javascript://" data-action="plugin:shop:list_wish:clear" data-id="*">
                <i class="fa fa-trash-o"></i> {{lang.list_wish_link_clear}}
            </a>
        </div>
    </div>
    {{else}}
    <div class="alert alert-warning">{{lang.list_wish_empty}}</div>
    {{/mpwsIsNotEmpty}}
</div>