<div id="navbar-collapse-1" class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    {{#each data}}
    <li class="dropdown">
        {{#if childNodes}}
        <a href="#" data-toggle="dropdown" class="dropdown-toggle">{{Name}}<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li>
                <!-- Content container to add padding -->
                <div class="yamm-content">
                    <h4 class="catalog-title"><a href="{{bb_link ../../instances.shop.urls.shopCatalogCategory category=ExternalKey}}">{{Name}}</a></h4>
                    <div class="row">
                        {{#each childNodes}}
                        <ul class="col-sm-3 list-unstyled">
                            <li>
                                <p><strong><a href="{{bb_link ../../../instances.shop.urls.shopCatalogCategory category=ExternalKey}}">{{Name}}</a></strong></p>
                            </li>
                            {{#recursive childNodes}}
                            <li>
                                <a href="{{bb_link ../../../../instances.shop.urls.shopCatalogCategory category=ExternalKey}}">{{Name}}</a>
                                {{#if childNodes}}
                                <ul class="list-unstyled">
                                {{{recursive childNodes}}}
                                </ul>
                                {{/if}}
                            </li>
                            {{/recursive}}
                        </ul>
                        {{/each}}
                    </div>
                </div>
            </li>
        </ul>
        {{else}}
            <a href="{{bb_link ../../instances.shop.urls.shopCatalogCategory category=ExternalKey}}">{{Name}}</a>
        {{/if}}
    </li>
    {{/each}}
  </ul>
</div>