<div class="product-item">
    <div class="ribbon blue mpws-shop-product-badge-{{data.Status}}">
        <span>{{mpwsGetValueByKey lang.product.badge key=data.Status}}</span>
    </div>
    {{#and data.ShowBanner data.Banners.BANNER_LARGE.banner}}
    <div class="banner">
        {{#if data.Attributes.PROMO_TEXT}}
        <div class="promo-text">{{data.Attributes.PROMO_TEXT}}</div>
        {{/if}}
        <a title="{{data._displayNameFull}}" href="{{bb_link instances.shop.urls.shopProduct product=data.ExternalKey}}" class="link">
            <img src="{{appConfig.app.baseStaticUrl}}/img/blank.gif" alt="{{data._displayNameFull}}" data-echo="{{data.Banners.BANNER_LARGE.banner}}" class="img img-responsive">
        </a>
    </div>
    {{#if data.Attributes.BANNER_TEXT_LINE1}}
    <div class="banner-text banner-text-1">{{data.Attributes.BANNER_TEXT_LINE1}}</div>
    {{/if}}
    {{#if data.Attributes.BANNER_TEXT_LINE2}}
    <div class="banner-text banner-text-2">{{data.Attributes.BANNER_TEXT_LINE2}}</div>
    {{/if}}
    <div class="hover-area">
        <div class="add-cart-button">
            <a href="{{bb_link instances.shop.urls.shopProduct product=data.ExternalKey}}" class="le-button">
                {{#if data._archived}}
                Відкрити
                {{else}}
                Детальніше
                {{/if}}
            </a>
        </div>
        <div class="product-wishlist-compare-holder wish-compare">
            <a class="btn-add-to-wishlist{{#if data._viewExtras.InWish }} added{{/if}}" href="javascript://">до списку</a>
            <a class="btn-add-to-compare{{#if data._viewExtras.InCompare }} added{{/if}}" href="javascript://">порівняти</a>
        </div>
    </div>
    {{else}}
    {{#if data.Attributes.PROMO_TEXT}}
    <div class="promo-text">{{data.Attributes.PROMO_TEXT}}</div>
    {{/if}}
    <div class="image">
        <a title="{{data._displayNameFull}}" href="{{bb_link instances.shop.urls.shopProduct product=data.ExternalKey}}" class="link">
            <img src="{{appConfig.app.baseStaticUrl}}/img/blank.gif" alt="{{data._displayNameFull}}" data-echo="{{data.Images.[0].sm}}" class="img img-responsive">
        </a>
    </div>
    <div class="body">
        {{#if data._promoIsApplied }}
        <div class="label-discount green">-{{../data._promo.Discount}}% знижка</div>
        {{else}}
        <div class="label-discount clear"></div>
        {{/if}}
        <div class="title">
            <a title="{{data._displayNameFull}}" href="{{bb_link instances.shop.urls.shopProduct product=data.ExternalKey}}">
                <span class="product-title-model">{{data.Model}}</span>
            </a>
        </div>
        <div class="brand">{{data._origin.Name}}</div>
    </div>
    <div class="prices">
        {{#each data._prices.others}}
            <div class="price-current text-right shop-price-value {{@key}}{{#isnt ../instances.shop.settings._user.activeCurrency @key}} hidden{{/isnt}}">{{currency this currency=@key display=../instances.shop.settings.EXCHANAGERATESDISPLAY}}</div>
        {{/each}}
        {{#if data._promoIsApplied }}
        <div class="promocode label label-success">(Знижка: {{../data._promo.Discount}}%)</div>
        {{/if}}
        <span class="product-availability product-availability-{{data.Status}}">
            <i class="fa fa-circle fa-fw" title="{{mpwsGetValueByKey lang.product.badge key=data.Status}}"></i>
        </span>
    </div>
    <div class="hover-area">
        <div class="add-cart-button">
            <a href="{{bb_link instances.shop.urls.shopProduct product=data.ExternalKey}}" class="le-button">
                {{#if data._archived}}
                Відкрити
                {{else}}
                Придбати
                {{/if}}
            </a>
        </div>
        <div class="product-wishlist-compare-holder wish-compare">
            <a class="btn-add-to-wishlist{{#if data._viewExtras.InWish }} added{{/if}}" href="javascript://">до списку</a>
            <a class="btn-add-to-compare{{#if data._viewExtras.InCompare }} added{{/if}}" href="javascript://">порівняти</a>
        </div>
    </div>
    {{/and}}
</div>