{{!-- <div class="product-item-holder hover"> --}}
    <div class="product-item">
        <div class="image">
            <a title="{{data._displayName}}" href="{{bb_link instances.shop.urls.shopProduct product=data.ExternalKey}}" class="link">
                <img src="{{appConfig.app.baseStaticUrl}}/img/blank.gif" alt="{{data._displayName}}" data-echo="{{data.Images.[0].xs}}" class="image img-responsive">
            </a>
        </div>
        <div class="body">
            <div class="label-discount clear"></div>
            <div class="title">
                <a title="{{data._origin.Name}} - {{data.Name}} ({{data.Model}})" href="{{bb_link instances.shop.urls.shopProduct product=data.ExternalKey}}"><span class="product-title-model">{{data.Model}}</span></a>
            </div>
            <div class="brand">{{data._origin.Name}}</div>
        </div>
        <div class="prices">
            {{#each data._prices.others}}
                <strong class="moneyValue {{@key}}{{#isnt ../instances.shop.settings._user.activeCurrency @key}} hidden{{/isnt}}">{{currency this currency=@key display=../instances.shop.settings.EXCHANAGERATESDISPLAY}}</strong>
            {{/each}}
            {{#if data._promoIsApplied }}
            <div class="promocode label label-success">(Знижка: {{../data._promo.Discount}}%)</div>
            {{/if}}
            <span class="product-availability product-availability-{{data.Status}}">
                <i class="fa fa-circle fa-fw" title="{{mpwsGetValueByKey lang key=data.Status prefix="product_badge_"}}"></i>
            </span>
        </div>
        <div class="hover-area">
            <div class="add-cart-button">
                <a href="{{bb_link instances.shop.urls.shopProduct product=data.ExternalKey}}" class="le-button">Придбати</a>
            </div>
            <div class="wish-compare">
                <a class="btn-add-to-wishlist" href="#">до списку</a>
                <a class="btn-add-to-compare" href="#">порівняти</a>
            </div>
        </div>
    </div>
{{!-- </div> --}}




<div class="panel hidden">
    <div class="panel-heading">
        <h4 class="text-center">
            <a title="{{data._origin.Name}} - {{data.Name}} ({{data.Model}})" href="{{bb_link instances.shop.urls.shopProduct product=data.ExternalKey}}"><span class="product-title-origin">{{data._origin.Name}}</span> <span class="product-title-name">{{data.Name}}</span> <span class="product-title-model">{{data.Model}}</span></a>
        </h4>
    </div>
    
    <div class="panel-body">
        <div class="shop-component shop-product-images">
            <div class="shop-product-image shop-product-image-main">
                <a title="{{data._displayName}}" href="{{bb_link instances.shop.urls.shopProduct product=data.ExternalKey}}" class="link">
                    <div class="image productimage noimage image_{{data.ID}}">
                        {{#if data.Images.[0].sm}}
                        {{>animSpinnerFB}}
                        {{/if}}
                    </div>
                    {{#if data.Images.[0].sm}}
                    <script>
                    (function() {
                        require(["image!{{data.Images.[0].xs}}"], function(img){
                            $('.image_{{data.ID}}').removeClass('noimage').html($(img).attr({
                                title: "{{data._displayName}}",
                                alt: "{{data._displayName}}",
                                class: "image img-responsive",
                                src: img.src
                            }).clone());
                        }, function () { $('.image_{{data.ID}} #facebookG').remove(); });
                    })();
                    </script>
                    {{/if}}
                </a>
            </div>
        </div>
        <div class="shop-component shop-product-attr shop-product-attr-price">
            <span class="value-prefix">Ціна:</span>
            {{#each data._prices.others}}
                <strong class="moneyValue {{@key}}{{#isnt ../instances.shop.settings._user.activeCurrency @key}} hidden{{/isnt}}">{{currency this currency=@key display=../instances.shop.settings.EXCHANAGERATESDISPLAY}}</strong>
            {{/each}}
            {{#if data._promoIsApplied }}
            <div class="promocode label label-success">(Знижка: {{../data._promo.Discount}}%)</div>
            {{/if}}
        </div>
        <div class="product-availability product-availability-{{data.Status}}">
            <i class="fa fa-circle fa-fw"></i>
            {{mpwsGetValueByKey lang key=data.Status prefix="product_badge_"}}
        </div>
    </div>
    <div class="panel-footer">
        <div class="buttons">
            <p class="button-actions">
            {{#unless data._archived}}
            {{#if data._viewExtras.InCartCount }}
                <button title="Придбати {{data._displayName}}" class="btn btn-warning btn-xs btn-add-to-cart withNotificationBadge" data-action="plugin:shop:order:add" data-id="{{data.ID}}" data-title="+1 в кошик" data-placement="top" data-toggle="tooltip">
                    <i class="fa fa-shopping-cart"></i> +1 в кошик
                    {{#gt data._viewExtras.InCartCount 99}}
                    <sub class="badge wide animated">&gt;99</sub>
                    {{else}}
                    <sub class="badge animated">{{data._viewExtras.InCartCount}}</sub>
                    {{/gt}}
                </button>
            {{else}}
                <button class="btn btn-success btn-xs btn-add-to-cart" data-action="plugin:shop:order:add" data-id="{{data.ID}}" data-title="+1 в кошик" data-placement="top" data-toggle="tooltip">
                    <i class="fa fa-shopping-cart"></i> +1 в кошик
                </button>
            {{/if}}
            {{/unless}}
            {{#if data._viewExtras.InWish }}
                <button class="btn btn-warning btn-xs btn-add-to-wish" data-action="plugin:shop:list_wish:remove" data-id="{{data.ID}}" data-title="забрати з мого списку" data-placement="top" data-toggle="tooltip">
                    <sub><i class="fa fa-check-square-o"></i></sub>
                    <i class="fa fa-heart"></i>
                </button>
            {{else}}
                <button class="btn btn-success btn-xs btn-add-to-wish" data-action="plugin:shop:list_wish:add" data-id="{{data.ID}}" data-title="+ в мій список" data-placement="top" data-toggle="tooltip">
                    <sub><i class="fa fa-square-o"></i></sub>
                    <i class="fa fa-heart"></i>
                </button>
            {{/if}}

            {{#if data._viewExtras.InCompare }}
                <button class="btn btn-warning btn-xs btn-add-to-compare" data-action="plugin:shop:list_compare:remove" data-id="{{data.ID}}" data-title="забрати з порівняння" data-placement="top" data-toggle="tooltip">
                    <sub><i class="fa fa-check-square-o"></i></sub>
                    <i class="fa fa-files-o"></i>
                </button>
            {{else}}
                <button class="btn btn-success btn-xs btn-add-to-compare" data-action="plugin:shop:list_compare:add" data-id="{{data.ID}}" data-title="додати до порівняння" data-placement="top" data-toggle="tooltip">
                    <sub><i class="fa fa-square-o"></i></sub>
                    <i class="fa fa-files-o"></i>
                </button>
            {{/if}}
            </p>
            <p class="button-details">
                <a title="Характеристики {{data._displayName}}" href="{{bb_link instances.shop.urls.shopProduct product=data.ExternalKey}}" class="btn btn-success btn-block btn-warning">
                Детальніше <span class="fa fa-chevron-right"></span>
                </a>
            </p>
        </div>
    </div>
</div>