<section id="single-product" itemscope itemtype="http://schema.org/Product">
    <div class="container">

        {{#if data.Images}}
         <div class="no-margin col-xs-12 col-sm-6 col-md-5 gallery-holder">
            <div class="product-item-holder size-big single-product-gallery">
                <div class="single-product-gallery-item">
                    <a data-lightbox="shop-product-image-main" href="{{app.location.homepage}}{{data.Images.[0].normal}}">
                        <img class="image img-responsive" src="{{../appConfig.app.baseStaticUrl}}/img/blank.gif" alt="{{data._displayName}}" data-echo="{{data.Images.[0].md}}">
                    </a>
                </div><!-- /.single-product-gallery-item -->
                {{#gt ../data.Images.length 1}}
                <div class="single-product-gallery-thumbs gallery-thumbs">
                    <div class="shop-single-product-thumbnails owl-carousel owl-theme">
                        {{#each ../data.Images}}
                        <a class="horizontal-thumb active" href="{{normal}}" data-lightbox="shop-product-image-additional">
                            <img width="67" src="{{app.location.homepage}}{{xs}}" class="image img-responsive" alt="{{data._displayName}}" title="{{data.Name}}" />
                        </a>
                        {{/each}}
                    </div>
                </div><!-- /.gallery-thumbs -->
                {{/gt}}
            </div><!-- /.single-product-gallery -->
        </div><!-- /.gallery-holder -->
        <div class="no-margin col-xs-12 col-sm-7 body-holder">
        {{else}}
        <div class="no-margin col-xs-12 col-sm-12 body-holder product-no-image">
        {{/if}}
        
            <div class="body">
                {{#if data._promoIsApplied }}
                <div class="label-discount green">-{{../data._promo.Discount}}% знижка</div>
                {{/if}}
                <div class="availability" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                    <link itemprop="itemCondition" href="http://schema.org/NewCondition" />
                    <label>Наявність:</label>
                    {{#if data._archived}}
                        <link itemprop="availability" href="http://schema.org/OutOfStock" content="архівний"/>
                        <strong class="not-available">  архівний</strong>
                    {{else}}
                        {{#if data._available }}
                        <link itemprop="availability" href="http://schema.org/InStock" content="в наявності"/>
                        <strong class="available">  є в наявності</strong>
                        {{else}}
                        <link itemprop="availability" href="http://schema.org/OutOfStock" content="немає в наявності"/>
                        <strong class="not-available">  немає</strong>
                        {{/if}}
                    {{/if}}
                </div>

                <span class="title" itemprop="name">
                    <a itemprop="url" title="{{data._displayName}}" href="{{bb_link instances.shop.urls.shopProduct product=data.ExternalKey asRoot=true fullUrl=true}}">{{data._displayName}}</a>
                </span>

                <div class="product-brand-and-id">
                    <span itemprop="brand" itemscope itemtype="http://schema.org/Brand" class="brand">
                        <span itemprop="name">{{data._origin.Name}}</span>
                    </span>
                    <span class="product-meta-id pull-right">
                        Код товару: #<strong itemprop="productID" content="{{data.ID}}">{{data.ID}}</strong>
                    </span>
                </div>

                {{#if instances.shop.settings.PRODUCT.ShowSocialSharing}}
                <div class="social-row">
                    <span class="product-share-button product-share-button-fb">
                        <!-- facebook -->
                        <div id="fb-root"></div>
                        <script>(function(d, s, id) {
                          var js, fjs = d.getElementsByTagName(s)[0];
                          if (d.getElementById(id)) return;
                          js = d.createElement(s); js.id = id;
                          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=346829335460205&version=v2.3";
                          fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));</script>
                        <div class="fb-share-button" data-href="{{bb_link instances.shop.urls.shopProduct product=data.ExternalKey asRoot=true fullUrl=true}}" data-layout="button_count"></div>
                    </span>
                    <span class="product-share-button product-share-button-tw">
                        <!-- twitter -->
                        <a href="https://twitter.com/share" class="twitter-share-button" data-text="{{data._displayName}}">Tweet</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    </span>
                    <span class="product-share-button product-share-button-pin">
                        <!-- pinterest -->
                        <a href="//www.pinterest.com/pin/create/button/?url={{bb_link instances.shop.urls.shopProduct product=data.ExternalKey asRoot=true fullUrl=true encode=true}}&media={{bb_link data.Images.[0].normal asRoot=true fullUrl=true encode=true skipHash=true}}&description={{encodeURIComponent data._displayName}}" data-pin-do="buttonPin" data-pin-config="beside" data-pin-color="red" data-pin-height="28"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png" /></a>
                        <!-- Please call pinit.js only once per page -->
                        <script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
                    </span>
                </div>
                {{/if}}

                <div class="product-wishlist-compare-holder buttons-holder">
                    <a class="btn-add-to-wishlist add-to-wishlist{{#if data.viewExtrasInWish }} added{{/if}}" href="javascript://">до списку</a>
                    <a class="btn-add-to-compare add-to-compare{{#if data.viewExtrasInCompare }} added{{/if}}" href="javascript://">порівняти</a>
                </div>

                <div class="excerpt">
                    <p>{{data.Synopsis}}</p>
                </div>

                {{#unless data._archived}}
                {{#if instances.shop.settings.ADDRESS.length }}
                {{#ifAny instances.shop.settings.PRODUCT.ShowDeliveryInfo instances.shop.settings.PRODUCT.ShowPaymentInfo instances.shop.settings.PRODUCT.ShowOpenHours instances.shop.settings.PRODUCT.ShowDeliveryInfo instances.shop.settings.PRODUCT.ShowWarrantyInfo instances.shop.settings.PRODUCT.ShowContacts }}
                <div class="list-group-item list-group-item-service-info">

                    {{#if instances.shop.settings.PRODUCT.ShowDeliveryInfo}}
                    <span class="product-info product-info-delivery">
                        <a href="javascript://" class="link dashed open-popup-shipping">
                            <i class="fa fa-truck fa-fw"></i>Доставка
                        </a>
                    </span>
                    {{/if}}

                    {{#if instances.shop.settings.PRODUCT.ShowPaymentInfo}}
                    <span class="product-info product-info-payments">
                        <a href="javascript://" class="link dashed  open-popup-payments">
                            <i class="fa fa-btc fa-fw"></i>Оплата товару
                        </a>
                    </span>
                    {{/if}}

                    {{#if instances.shop.settings.PRODUCT.ShowOpenHours}}
                    <span class="product-info product-info-openhours">
                        <a href="javascript://" class="link dashed open-popup-openhours">
                            <i class="fa fa-clock-o fa-fw"></i>Графік роботи
                        </a>
                    </span>
                    {{/if}}

                    {{#if instances.shop.settings.PRODUCT.ShowContacts}}
                    <span class="product-info product-info-contacts">
                        <a href="javascript://" class="link dashed open-popup-phones">
                            <i class="fa fa-phone-square fa-fw"></i>Телефони
                        </a>
                    </span>
                    {{/if}}

                    {{#if instances.shop.settings.PRODUCT.ShowWarrantyInfo}}
                    <span class="product-info product-info-warranty">
                        <a href="javascript://" class="link dashed open-popup-warranty">
                            <i class="fa fa-shield fa-fw"></i>Гарантії
                        </a>
                    </span>
                    {{/if}}
                </div>
                {{/ifAny}}
                {{/if}}

                <div class="prices">
                    {{#each data._prices.others}}
                        <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                            <meta itemprop="priceCurrency" content="{{@key}}" />
                            <span itemprop="price" content="{{this}}" class="price-current shop-price-value {{@key}}{{#isnt ../instances.shop.settings._user.activeCurrency @key}} hidden{{/isnt}}">{{currency this currency=@key display=../instances.shop.settings.EXCHANAGERATESDISPLAY}}</span>
                        </span>
                    {{/each}}
                    {{#if data._promoIsApplied }}
                    <div class="promocode label label-success">(Знижка: {{../data._promo.Discount}}%) | Ваш промокод <b>{{../data._promo.Code}}</b> діє до <b>{{../data._promo.DateExpire}}</b></div>
                    {{/if}}
                </div>

                <div class="qnt-holder">
                    <div class="le-quantity">
                        <a class="minus" href="#reduce"></a>
                        <input name="quantity" readonly="readonly" type="text" value="1">
                        <a class="plus" href="#add"></a>
                    </div>
                    <a href="javascript://" class="le-button huge add-to-cart">
                        Додати в кошик
                        <div class="in-cart-quantity odometer"></div>
                    </a>
                </div><!-- /.qnt-holder -->
                <p class="shop-open-cart-link">
                    <a href="{{bb_link instances.shop.urls.shopCart asRoot=true}}">Перейти до кошика</a>
                </p>
                {{else}}
                <p>
                    <h3>Цей товар є архівний</h3>
                </p>
                {{/unless}}
            </div><!-- /.body -->
        </div><!-- /.body-holder -->
    </div><!-- /.container -->
</section>

<section id="single-product-tab">
    <div class="container">
        <div class="tab-holder">
            
            <ul class="nav nav-tabs simple">
                <li class="active"><a href="#description" data-toggle="tab">Опис</a></li>
                <li><a href="#additional-info" data-toggle="tab">Деталі</a></li>
            </ul><!-- /.nav-tabs -->

            <div class="tab-content">
                <div class="tab-pane active" id="description">
                    <p>{{data.Description}}</p>

                    <div class="meta-row">
                        <div class="inline">
                            <label>Модель:</label>
                            <span>{{data.Model}}</span>
                        </div><!-- /.inline -->

                        <span class="seperator">/</span>
                        <div class="inline">
                            <label>Категорії:</label>
                            {{#each data._category._location}}
                            <span><a href="{{bb_link ../instances.shop.urls.shopCatalogCategory category=ExternalKey}}">{{Name}}</a>, </span>
                            {{/each}}
                        </div><!-- /.inline -->

                        {{#if data.Attributes.WARRANTY}}
                        <span class="seperator">/</span>
                        <div class="inline">
                            <label>Гарантія:</label>
                            <span>{{data.Attributes.WARRANTY}}</span>
                        </div><!-- /.inline -->
                        {{/if}}

                        {{#if data.Attributes.ISBN}}
                        <span class="seperator">/</span>
                        <div class="inline">
                            <label>ISBN:</label>
                            <span>{{data.Attributes.ISBN}}</span>
                        </div><!-- /.inline -->
                        {{/if}}

                        {{#if data.Attributes.TAGS}}
                        <span class="seperator">/</span>
                        <div class="inline">
                            <label>Теги:</label>
                            <span>{{data.Attributes.TAGS}}</span>
                        </div><!-- /.inline -->
                        {{/if}}
                    </div><!-- /.meta-row -->
                </div><!-- /.tab-pane #description -->

                <div class="tab-pane" id="additional-info">
                    <ul class="tabled-data feature-list">
                        {{#each data.Features}}
                        <li>
                            <label>{{@key}}</label>
                            <div class="value">{{#each this}}{{this}}{{/each}}</div>
                        </li>
                        {{/each}}
                    </ul>

                    <div class="meta-row">
                        <div class="inline">
                            <label>Модель:</label>
                            <span>{{data.Model}}</span>
                        </div><!-- /.inline -->

                        <span class="seperator">/</span>
                        <div class="inline">
                            <label>Категорії:</label>
                            {{#each data._category._location}}
                            <span><a href="{{bb_link ../instances.shop.urls.shopCatalogCategory category=ExternalKey}}">{{Name}}</a>, </span>
                            {{/each}}
                        </div><!-- /.inline -->

                        {{#if data.Attributes.WARRANTY}}
                        <span class="seperator">/</span>
                        <div class="inline">
                            <label>Гарантія:</label>
                            <span>{{data.Attributes.WARRANTY}}</span>
                        </div><!-- /.inline -->
                        {{/if}}

                        {{#if data.Attributes.ISBN}}
                        <span class="seperator">/</span>
                        <div class="inline">
                            <label>ISBN:</label>
                            <span>{{data.Attributes.ISBN}}</span>
                        </div><!-- /.inline -->
                        {{/if}}

                        {{#if data.Attributes.TAGS}}
                        <span class="seperator">/</span>
                        <div class="inline">
                            <label>Теги:</label>
                            <span>{{data.Attributes.TAGS}}</span>
                        </div><!-- /.inline -->
                        {{/if}}
                    </div><!-- /.meta-row -->
                </div><!-- /.tab-pane #additional-info -->

            </div><!-- /.tab-content -->

        </div><!-- /.tab-holder -->
    </div><!-- /.container -->
</section>