<div class="col-xs-4 col-sm-4 no-margin">
    <a title="{{data._displayName}}" href="{{bb_link instances.shop.urls.shopProduct product=data.ExternalKey}}" class="thumb-holder link">
        <img src="{{appConfig.app.baseStaticUrl}}/img/blank.gif" alt="{{data._displayName}}" data-echo="{{data.Images.[0].sm}}" class="image img-responsive">
    </a>
</div>
<div class="col-xs-8 col-sm-8 no-margin">
    <a title="{{data._displayName}}" href="{{bb_link instances.shop.urls.shopProduct product=data.ExternalKey}}">{{data.Model}}</a>
    {{#each data._prices.others}}
        <div class="product-price {{@key}}{{#isnt ../instances.shop.settings._user.activeCurrency @key}} hidden{{/isnt}}">{{currency this currency=@key display=../instances.shop.settings.EXCHANAGERATESDISPLAY}}</div>
    {{/each}}
</div>