{{#gt extras.addressCount 1}}
<div class="btn-group address-switcher">
    <span type="button" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <span class="shoptitle">
            {{extras.activeAddress.ShopName}}
        </span>
        <span class="caret"></span>
    </span>
    <ul class="dropdown-menu" role="menu">
        {{#each data}}
        <li class="address-option" data-ref="{{ID}}">
            <a href="javascript://">
                <div itemprop="name">{{ShopName}}</div>
                <link itemprop="url" content="{{../../app.location.protocol}}//{{../../app.location.host}}" />
            </a>
        </li>
        {{/each}}
    </ul>
</div>e
{{/gt}}
{{#each data}}
<div itemscope itemtype="http://schema.org/Organization" class="address-item-wrapper">
    <div class="address-item{{#unless isActive}} hidden{{/unless}}{{#gt extras.addressCount 1}} multiple{{else}} single{{/gt}}" id="{{ID}}">
        {{#is ../extras.addressCount 1}}
        <div class="shop-name" itemprop="name">{{{ShopName}}}</div>
        <link itemprop="url" content="{{../../app.location.protocol}}//{{../../app.location.host}}" />
        {{/is}}
        <div class="address-lines">
            {{#if MapUrl}}
                <a href="{{MapUrl}}" target="_blank"><i class="fa fa-map-marker fa-fw"></i></a>
            {{/if}}
            {{#ifAny Country City AddressLine1 AddressLine2 AddressLine3}}
            <div class="block addresses" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            {{#if Country}}<span class="addressLine addressLine1" itemprop="addressCountry">{{Country}}{{#if City}}, {{/if}}</span>{{/if}}
            {{#if City}}<span class="addressLine addressLine1" itemprop="addressLocality">{{City}}</span>{{/if}}
            {{#if AddressLine1}}<span class="addressLine addressLine1" itemprop="streetAddress">{{AddressLine1}}</span>{{/if}}
            {{#if AddressLine2}}<span class="addressLine addressLine2" itemprop="addressLocality">{{AddressLine2}}</span>{{/if}}
            {{#if AddressLine3}}<span class="addressLine addressLine3" itemprop="addressRegion">{{AddressLine3}}</span>{{/if}}
            </div>
            {{/ifAny}}
            <div class="block openHours btn-group">
                <span type="button" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Графік роботи: {{OpenHoursToday}}
                    <span class="caret"></span>
                </span>
                <ul class="dropdown-menu" role="menu">
                {{#each OpenHoursMap}}
                    <li{{#if isToday}} class="active"{{/if}}><a href="javascript://">
                        <span class="dayname">{{dayShort}}:</span> {{hours}}</a>
                    </li>
                {{/each}}
                </ul>
            </div>
            {{#ifAny SocialFacebook SocialTwitter SocialLinkedIn SocialGooglePlus}}
            <div class="block social">
            {{#if SocialFacebook}}
                <a href="{{SocialFacebook}}" target="_blank"><i class="fa fa-fw fa-facebook"></i></a>
            {{/if}}
            {{#if SocialTwitter}}
                <a href="{{SocialTwitter}}" target="_blank"><i class="fa fa-fw fa-twitter"></i></a>
            {{/if}}
            {{#if SocialLinkedIn}}
                <a href="{{SocialLinkedIn}}" target="_blank"><i class="fa fa-fw fa-linkedin"></i></a>
            {{/if}}
            {{#if SocialGooglePlus}}
                <a href="{{SocialGooglePlus}}" target="_blank"><i class="fa fa fa-fw-google-plus"></i></a>
            {{/if}}
            </div>
        {{/ifAny}}
        </div>
        {{#or ActivePhones PhoneHotline}}
        <div class="button-phones btn-group clearfix">
            <span type="button" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                {{#if PhoneHotline}}
                <i class="fa fa-phone"></i>
                <span class="phone hotline">{{PhoneHotline}}</span>
                {{else}}
                {{#each_upto PhonesMap 1}}
                <i class="fa fa-phone"></i>
                <span class="preffix">{{label}}:</span>
                <span class="contact">{{value}}</span>
                {{/each_upto}}
                {{/if}}
                {{#gt ../ActivePhones 1}}
                <span class="caret"></span>
                {{/gt}}
            </span>
            {{#gt ../ActivePhones 1}}
            <ul class="dropdown-menu" role="menu">
                {{#each PhonesMap}}
                <li>
                    <a href="javascript://" class="phone">
                        <i class="fa fa-phone"></i>
                        <span class="preffix">{{label}}:</span>
                        <span class="contact" itemprop="telephone">{{value}}</span>
                    </a>
                </li>
                {{/each}}
            </ul>
            {{/gt}}
        </div>
        {{/or}}
        {{#if EmailSupport}}
        <span class="email email-support">
            <i class="fa fa-fw fa-envelope"></i>{{EmailSupport}}
        </span>
        {{/if}}
    </div>
</div>
{{/each}}