<div class="well account-profile-addresses">
    <h3>{{lang.profile_page_addresses_title}}</h3>
    <div class="account-addresses-buttons">
        <button id="account-address-add-btn-ID" class="btn btn-primary">{{lang.profile_page_addresses_button_addAddress}}</button>
    </div>
    {{#if data.success }}
        <div class="alert alert-success">{{lang.profile_page_addresses_message_saveSuccess}}</div>
    {{else}}
        {{#mpwsIsNotEmpty data.error }}
            <div class="alert alert-danger">{{lang.profile_page_addresses_message_saveError}}</div>
        {{/mpwsIsNotEmpty}}
    {{/if}}
    <div class="account-addresses"></div>
</div>