<div class="toolbox-logo">{{lang.pluginLogoText}}</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapsePluginToolbox"><span class="glyphicon glyphicon-cog"></span>{{lang.pluginMenuTitle}}</a>
        </h4>
    </div>
    <div id="collapsePluginToolbox" class="panel-collapse collapse">
        <div class="panel-body">
            <div class="list-group">
                <a href="#toolbox/profile" class="list-group-item auto-active">{{lang.pluginMenu_Profile}}</a>
                <a href="#toolbox/administrators" class="list-group-item auto-active">{{lang.pluginMenu_Administrators}}</a>
                <a href="#toolbox/version" class="list-group-item auto-active">{{lang.pluginMenu_Version}}</a>
                <a href="#signout" class="list-group-item auto-active">{{lang.pluginMenu_Logout}}</a>
            </div>
        </div>
    </div>
</div>