<!-- TODO: by this theme http://transvelo.in/demo/html/media-center/index.php?page=home  -->
<!DOCTYPE html>
<html lang="{{LANG}}">
    <head>
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="robots" content="index,follow">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta http-equiv="Cache-control" content="private">
        <meta charset="utf-8">
        <link rel="shortcut icon" href="{{URL_STATIC_CUSTOMER}}/favicon.ico" type="image/x-icon">
        <link rel="icon" href="{{URL_STATIC_CUSTOMER}}/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="{{URL_STATIC_CUSTOMER}}/css/theme.css?bust={{BUILD}}">
    </head>
<body>
    
    <div class="wrapper">


<!-- ========== TOP NAVIGATION ========== -->
<nav class="top-bar animate-dropdown">
    <div class="container">
        <div class="col-xs-12 col-sm-6 no-margin">
            <ul class="mpws-js-top-nav-left">
                <li><a href="#!/">Головна</a></li>
                <li class="mpws-js-menu-cart"></li>
                <li class="mpws-js-menu-payment"></li>
                <li class="mpws-js-menu-warranty"></li>
                <li class="mpws-js-menu-shipping"></li>
            </ul>
        </div><!-- /.col -->

        <div class="col-xs-12 col-sm-6 no-margin">
            <ul class="right mpws-js-top-nav-right">
            </ul>
        </div><!-- /.col -->
    </div><!-- /.container -->
</nav><!-- /.top-bar -->
<!-- ========== TOP NAVIGATION : END ========== -->


<!-- ========== HEADER ========== -->
<header>
    <div class="container no-padding">
        <div class="col-xs-12 col-md-3 logo-holder">
            <!-- ========== LOGO ========== -->
            <div class="logo">
                <a href="#!/">
                    <img alt="logo" src="{{URL_STATIC_CUSTOMER}}/img/logo_leo.png" width="180" height="auto"/>
                </a>
            </div><!-- /.logo -->
            <!-- ========== LOGO : END ========== -->
        </div><!-- /.logo-holder -->
        <div class="col-xs-12 col-md-9 top-search-holder">
            <div class="contact-row mpws-js-shop-addresses"></div><!-- /.contact-row -->
            <!-- ========== SEARCH AREA ========== -->
            <div class="search-area">
                <form>
                    <div class="control-group">
                        <input class="search-field" placeholder="введіть текст для пошуку" />
                        <ul class="categories-filter animate-dropdown">
                            <li class="dropdown mpws-js-shop-categories-toplist">
                                <a class="dropdown-toggle"  data-toggle="dropdown" href="index.php?page=category-grid">весь каталог</a>
                            </li>
                        </ul>
                        <a class="search-button" href="#" ></a>
                    </div>
                </form>
            </div><!-- /.search-area -->
            <!-- ========== SEARCH AREA : END ========== -->
        </div><!-- /.top-search-holder -->
    </div><!-- /.container -->
    <div class="container no-padding">
        <div class="col-xs-12 col-md-9 col-md-offset-3 top-cart-row">
            <div class="top-cart-row-container">
                <div class="top-cart-holder dropdown animate-dropdown">
                    <!-- ========== SHOPPING CART DROPDOWN ========== -->
                    <div class="basket shop-cart-embedded mpws-js-cart-embedded"></div>
                    <!-- ========== SHOPPING CART DROPDOWN : END ========== -->
                </div><!-- /.top-cart-holder -->
                <div class="wishlist-compare-holder hidden">
                    <span class="wishlist mpws-js-menu-wishlist"></span>
                    <span class="compare mpws-js-menu-compare"></span>
                </div>
            </div><!-- /.top-cart-row-container -->
        </div><!-- /.top-cart-row -->
    </div><!-- /.container -->
</header>
<!-- ========== HEADER : END ========== -->

<!-- ========== CONTENT ========== -->
<sectipn class="mpws-js-shop-categories-ribbon"></sectipn>
<sectipn class="animate-dropdown mpws-js-breadcrumb"></sectipn>
<section class="mpws-js-main-home-frame"></section>
<section class="mpws-js-main-section"></section>
<section class="mpws-js-shop-viewed-products"></section>
<!-- ========== CONTENT : END ========== -->

<footer id="footer" class="color-bg mpws-js-main-footer">
    <div class="container">
        <div class="row no-margin widgets-row">
            <div class="col-xs-12  col-sm-4 no-margin-left">
                <!-- ========== FEATURED PRODUCTS ========== -->
                <div class="widget">
                    <h2>Новинки</h2>
                    <div class="body mpws-js-shop-new-products-minimal-list">
                    </div><!-- /.body -->
                </div> <!-- /.widget -->
                <!-- ========== FEATURED PRODUCTS : END ========== -->
            </div><!-- /.col -->

            <div class="col-xs-12 col-sm-4 ">
                <!-- ========== ON SALE PRODUCTS ========== -->
                <div class="widget">
                    <h2>Розпродаж</h2>
                    <div class="body mpws-js-shop-onsale-products-minimal-list">
                    </div><!-- /.body -->
                </div> <!-- /.widget -->
                <!-- ========== ON SALE PRODUCTS : END ========== -->
            </div><!-- /.col -->

            <div class="col-xs-12 col-sm-4 ">
                <!-- ========== TOP RATED PRODUCTS ========== -->
                <div class="widget">
                    <h2>Популярні</h2>
                    <div class="body mpws-js-shop-top-products-minimal-list">
                    </div><!-- /.body -->
                </div><!-- /.widget -->
                <!-- ========== TOP RATED PRODUCTS : END ========== -->
            </div><!-- /.col -->

        </div><!-- /.widgets-row-->
    </div><!-- /.container -->

    <div class="sub-form-row hidden">
        <div class="container">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 no-padding">
                <form role="form">
                    <input placeholder="Отримуйте найновіші пропозиції">
                    <button class="le-button">Підписатися</button>
                </form>
            </div>
        </div><!-- /.container -->
    </div><!-- /.sub-form-row -->

    <div class="link-list-row hidden">
        <div class="container no-padding">
            <div class="col-xs-12 col-md-4 ">
                <!-- ========== CONTACT INFO ========== -->
                <div class="contact-info">
                    <div class="footer-logo">
                        <img alt="logo" src="{{URL_STATIC_CUSTOMER}}/img/logo_leo.png" width="180" height="auto"/>
                    </div><!-- /.footer-logo -->
                    
                    <p class="regular-bold"> Feel free to contact us via phone,email or just send us mail.</p>
                    
                    <p>
                        17 Princess Road, London, Greater London NW1 8JR, UK
                        1-888-8MEDIA (1-888-892-9953)
                    </p>

                </div>
                <!-- ========== CONTACT INFO : END ========== -->
            </div>

            <div class="col-xs-12 col-md-8 no-margin">
                <!-- ========== LINKS FOOTER ========== -->
                <div class="link-widget">
                    <div class="widget">
                        <h3>Каталог</h3>
                        <span class="mpws-js-shop-categories-toplist"></span>
                    </div><!-- /.widget -->
                </div><!-- /.link-widget -->

                <div class="link-widget hidden">
                    <div class="widget">
                        <h3>Магазин</h3>
                        <ul>
                            <li><a href="index.php?page=category-grid">Про нас</a></li>
                            <li><a href="index.php?page=category-grid">Контакти</a></li>
                            <li><a href="index.php?page=category-grid">Пропозиції</a></li>

                        </ul>
                    </div><!-- /.widget -->
                </div><!-- /.link-widget -->

                <div class="link-widget hidden">
                    <div class="widget">
                        <h3>Корисні сторінки</h3>
                        <ul>
                            <li><a href="index.php?page=category-grid">Мій профіль</a></li>
                            <li><a href="index.php?page=category-grid">Вдстеження замовлення</a></li>
                            <li><a href="index.php?page=category-grid">Мій список</a></li>
                            <li><a href="index.php?page=category-grid">Сервіс</a></li>
                            <li><a href="index.php?page=category-grid">Обмін / поверення</a></li>
                            <li><a href="index.php?page=category-grid">FAQs</a></li>
                            <li><a href="index.php?page=category-grid">Підтримка</a></li>
                        </ul>
                    </div><!-- /.widget -->
                </div><!-- /.link-widget -->
                <!-- ========== LINKS FOOTER : END ========== -->
            </div>
        </div><!-- /.container -->
    </div><!-- /.link-list-row -->

    <div class="copyright-bar">
        <div class="container">
            <div class="col-xs-12 col-sm-6 no-margin">
                <div class="copyright">
                    © <a href="#!/">leogroup</a> - Всі права захищені
                </div><!-- /.copyright -->
            </div>
        </div><!-- /.container -->
    </div><!-- /.copyright-bar -->
</footer>


<div class="static-content-wrapper render-hidden" title="page basic javascript container">
    <script type="text/javascript" id="system">
        var MPWS = {{SYSTEMJS}};
    </script>
    <script type="text/javascript" data-main="{{PATH_STATIC}}base/js/loader.js?bust={{BUILD}}" src="{{PATH_STATIC}}vendors/requirejs/require.js"></script>
</div>
    </div>
</body>
</html>