<div class="col-md-12">
    {{#mpwsIsNotEmpty data }}
    <div class="well">
        <div class="actions">
            <a href="javascript://" data-action="plugin:shop:list_compare:clear" data-id="*">
                <i class="fa fa-trash-o"></i> {{lang.list_compare_link_clear}}
            </a>
            {{#if showCompareModeLink}}
            <a href="javascript://" class="compare-mode all">
                <span class="for-all">
                    <i class="fa fa-list"></i> {{lang.list_compare_link_all}}
                </span>
                <span class="for-diff">
                    <i class="fa fa-sliders"></i> {{lang.list_compare_link_only_diff}}
                </span>
            </a>
            {{/if}}
        </div>
    </div>
    <div class="well">
        <table class="table table-condensed table-responsive table-hover">
            <tr>
                <td></td>
                {{#each data }}
                <td>
                    <a href="javascript://" class="shop-product-remove" data-action="plugin:shop:list_compare:remove" data-id="{{ID}}">
                        <i class="fa fa-trash-o"></i>
                    </a>
                    <a href="javascript://" class="shop-product-buy" data-action="plugin:shop:order:add" data-id="{{ID}}">
                        <i class="fa fa-shopping-cart"></i>
                    </a>
                </td>
                {{/each}}
            </tr>
            <tr>
                <td><strong>Фото</strong></td>
                {{#each data }}
                <td>
                    <div class="shop-component shop-product-images">
                        <div class="shop-product-image shop-product-image-main">
                            <a href="{{bb_link ../instances.shop.urls.shop_product product=ExternalKey asRoot=true}}" class="link">
                                <div class="image productimage noimage image_{{ID}}">
                                    {{#if Images.[0].sm}}
                                    <div id="facebookG">
                                        <div id="blockG_1" class="facebook_blockG"></div>
                                        <div id="blockG_2" class="facebook_blockG"></div>
                                        <div id="blockG_3" class="facebook_blockG"></div>
                                    </div>
                                    {{/if}}
                                </div>
                                {{#if Images.[0].sm}}
                                <script>
                                (function() {
                                    require(["default/js/plugin/image!{{Images.[0].sm}}"], function (img) {
                                        img.title = "{{Name}}";
                                        img.className = "image img-responsive";
                                        $('.image_{{ID}}').removeClass('noimage').html($(img).clone());
                                    });
                                })();
                                </script>
                                {{/if}}
                            </a>
                        </div>
                    </div>
                </td>
                {{/each}}
            </tr>
            <tr>
                <td><strong>Назва</strong></td>
                {{#each data }}
                <td>{{_origin.Name}} - {{Name}}</td>
                {{/each}}
            </tr>
            <tr class="can-toggle">
                <td><strong>Виробник</strong></td>
                {{#each data }}
                <td class="product-param">{{_origin.Name}}</td>
                {{/each}}
            </tr>
            <tr class="can-toggle">
                <td><strong>Категорія</strong></td>
                {{#each data }}
                <td class="product-param">{{_category.Name}}</td>
                {{/each}}
            </tr>
            <tr class="can-toggle">
                <td><strong>Ціна</strong></td>
                {{#each data }}
                <td class="product-param">
                {{#unless _archived}}
                    {{#each convertedSellingPrices}}
                        <span class="moneyValue {{@key}}{{#isnt ../../../instances.shop.settings._user.activeCurrency @key}} hidden{{/isnt}}">
                            {{#withItem ../../../instances.shop.settings.currencyList key=@key}}
                                {{#if showBeforeValue}}<span class="currency-prefix moneyType">{{text}}</span>{{/if}}
                                <strong class="value">{{currency ../this}}</strong>
                                {{#unless showBeforeValue}}<span class="currency-suffix moneyType">{{text}}</span>{{/unless}}
                            {{/withItem}}
                        </span>
                    {{/each}}
                    {{#if _promoIsApplied }}
                    <div class="promocode label label-success">(Знижка: {{../_promo.Discount}}%)</div>
                    {{/if}}
                {{/unless}}
                </td>
                {{/each}}
            </tr>
            <tr class="can-toggle">
                <td><strong>Опис</strong></td>
                {{#each data }}
                <td class="product-param">{{Description}}</td>
                {{/each}}
            </tr>
            {{#each productFeatues }}
            <tr class="feature-group" data-name="{{ @key }}">
                <td><strong>{{ @key }} <i class="fa fa-level-down"></i></strong></td>
                {{#each ../productIDs }}<td></td>{{/each}}
            </tr>
                {{#each this }}
                <tr class="feature-item can-toggle owner-{{ @../key }}">
                    <td><strong>{{ @key }}</strong></td>
                    {{#each ../../productIDs }}
                    <td class="product-param">
                        {{#in_array ../this this }}
                            <i class="fa fa-check text-success"></i>
                            <span class="hidden">+</span>
                        {{else}}
                            <i class="fa fa-minus text-danger"></i>
                            <span class="hidden">-</span>
                        {{/in_array}}
                    </td>
                    {{/each}}
                </tr>
                {{/each}}
            {{/each}}
            <tr>
                <td> </td>
                {{#each data }}
                <td>
                    <a href="javascript://" class="shop-product-remove" data-action="plugin:shop:list_compare:remove" data-id="{{ID}}">
                        <i class="fa fa-trash-o"></i>
                    </a>
                    <a href="javascript://" class="shop-product-buy" data-action="plugin:shop:order:add" data-id="{{ID}}">
                        <i class="fa fa-shopping-cart"></i>
                    </a>
                </td>
                {{/each}}
            </tr>
        </table>
    </div>
    <div class="well">
        <div class="actions">
            <a href="javascript://" data-action="plugin:shop:list_compare:clear" data-id="*">
                <i class="fa fa-trash-o"></i> {{lang.list_compare_link_clear}}
            </a>
        </div>
    </div>
    {{else}}
    <div class="alert alert-warning">{{lang.list_compare_empty}}</div>
    {{/mpwsIsNotEmpty}}
</div>