<a role="button" data-toggle="dropdown" data-target="#" href="/#">
    Каталог <span class="caret"></span>
</a>
<ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
{{#recursive data}}
    {{#if childNodes}}
    <li class="dropdown-submenu">
        <a href="{{bb_link ../../instances.shop.urls.shop_catalog_category category=ExternalKey asRoot=true}}">{{Name}}</a>
        <ul class="dropdown-menu">
            {{{recursive childNodes}}}
        </ul>
    </li>
    {{else}}
    <li>
        <a href="{{bb_link ../../instances.shop.urls.shop_catalog_category category=ExternalKey asRoot=true}}">{{Name}}</a>
    </li>
    {{/if}}
{{/recursive}}
</ul>
<!--end nav-->