<div class="panel">
    <div class="productBadge {{data.Status}}">
       <div class="ribbon-wrapper">
            <div class="ribbon">
                {{mpwsGetValueByKey lang data.Status "product_badge_"}}
            </div>
        </div>
    </div>
    <div class="panel panel-heading">
        <h4 class="text-center">
            <a title="{{data._origin.Name}} - {{data.Name}}" href="{{bb_link instances.shop.urls.shop_product product=data.ExternalKey asRoot=true}}">{{data._origin.Name}} - {{data.Name}}</a>
        </h4>
    </div>
    <div class="panel-body">
        <div class="shop-component shop-product-images">
            <div class="shop-product-image shop-product-image-main">
                <a title="{{data._origin.Name}} - {{data.Name}}" href="{{bb_link instances.shop.urls.shop_product product=data.ExternalKey asRoot=true}}" class="link">
                    <div class="image productimage noimage image_{{data.ID}}">
                        {{#if data.Images.[0].sm}}
                        <div id="facebookG">
                            <div id="blockG_1" class="facebook_blockG"></div>
                            <div id="blockG_2" class="facebook_blockG"></div>
                            <div id="blockG_3" class="facebook_blockG"></div>
                        </div>
                        {{/if}}
                    </div>
                    {{#if data.Images.[0].sm}}
                    <script>
                    (function() {
                        require(["default/js/plugin/image!{{data.Images.[0].normal}}"], function(img){
                            img.title = "{{data.Name}}";
                            img.className = "image img-responsive";
                            $('.image_{{data.ID}}').removeClass('noimage').html($(img).clone());
                        }, function () { $('.image_{{data.ID}} #facebookG').remove(); });
                    })();
                    </script>
                    {{/if}}
                </a>
            </div>
        </div>
        {{#unless data._archived}}
        <div class="shop-component shop-product-attr shop-product-attr-price">
            <div class="value-prefix">
            {{#if data._promoIsApplied }}
                Ваша ціна:
            {{else}}
                Ціна:
            {{/if}}
            </div>
            {{#each data.convertedSellingPrices}}
                <span class="moneyValue {{@key}}{{#isnt ../../instances.shop.settings._user.activeCurrency @key}} hidden{{/isnt}}">
                    {{#withItem ../instances.shop.settings.currencyList key=@key}}
                        {{#if showBeforeValue}}<span class="currency-prefix moneyType">{{text}}</span>{{/if}}
                        <strong class="value">{{currency ../this}}</strong>
                        {{#unless showBeforeValue}}<span class="currency-suffix moneyType">{{text}}</span>{{/unless}}
                    {{/withItem}}
                </span>
            {{/each}}
            {{#if data._promoIsApplied }}
            <sub class="promocode label label-success">(Знижка: {{../data._promo.Discount}}%)</sub>
            {{/if}}
        </div>
        {{/unless}}
    </div>
    <div class="panel-footer">
        <div class="buttons">
            <p class="button-actions">
            {{#if data._viewExtras.InCartCount }}
                <button class="btn btn-warning btn-xs btn-add-to-cart withNotificationBadge" data-action="plugin:shop:order:add" data-id="{{data.ID}}" data-title="+1 в кошик" data-placement="top" data-toggle="tooltip">
                    <i class="fa fa-shopping-cart"></i> +1 в кошик
                    {{#gt data._viewExtras.InCartCount 99}}
                    <sub class="badge wide animated">&gt;99</sub>
                    {{else}}
                    <sub class="badge animated">{{data._viewExtras.InCartCount}}</sub>
                    {{/gt}}
                </button>
            {{else}}
                <button class="btn btn-success btn-xs btn-add-to-cart" data-action="plugin:shop:order:add" data-id="{{data.ID}}" data-title="+1 в кошик" data-placement="top" data-toggle="tooltip">
                    <i class="fa fa-shopping-cart"></i> +1 в кошик
                </button>
            {{/if}}
            {{#if data._viewExtras.InWish }}
                <button class="btn btn-warning btn-xs btn-add-to-wish" data-action="plugin:shop:list_wish:remove" data-id="{{data.ID}}" data-title="забрати з мого списку" data-placement="top" data-toggle="tooltip">
                    <sub><i class="fa fa-check-square-o"></i></sub>
                    <i class="fa fa-heart"></i>
                </button>
            {{else}}
                <button class="btn btn-success btn-xs btn-add-to-wish" data-action="plugin:shop:list_wish:add" data-id="{{data.ID}}" data-title="+ в мій список" data-placement="top" data-toggle="tooltip">
                    <sub><i class="fa fa-square-o"></i></sub>
                    <i class="fa fa-heart"></i>
                </button>
            {{/if}}

            {{#if data._viewExtras.InCompare }}
                <button class="btn btn-warning btn-xs btn-add-to-compare" data-action="plugin:shop:list_compare:remove" data-id="{{data.ID}}" data-title="забрати з порівняння" data-placement="top" data-toggle="tooltip">
                    <sub><i class="fa fa-check-square-o"></i></sub>
                    <i class="fa fa-files-o"></i>
                </button>
            {{else}}
                <button class="btn btn-success btn-xs btn-add-to-compare" data-action="plugin:shop:list_compare:add" data-id="{{data.ID}}" data-title="додати до порівняння" data-placement="top" data-toggle="tooltip">
                    <sub><i class="fa fa-square-o"></i></sub>
                    <i class="fa fa-files-o"></i>
                </button>
            {{/if}}
            </p>
            <p class="button-details">
                <a title="Дивитися деталі товару {{data._origin.Name}} - {{data.Name}}" href="{{bb_link instances.shop.urls.shop_product product=data.ExternalKey asRoot=true}}" class="btn btn-success btn-block btn-warning">
                Детальніше <span class="fa fa-chevron-right"></span>
                </a>
            </p>
        </div>
    </div>
</div>