<div class="container" itemscope itemtype="http://schema.org/Product">
    <div class="row">
        <div class="col-md-12">
            <div class="product-name">
                <a itemprop="url" title="Огляд {{data._displayName}}" href="{{bb_link instances.shop.urls.shop_product product=data.ExternalKey asRoot=true fullUrl=true}}" class="product-title-url">
                    <i class="fa fa-link fa-fw"></i>
                    <span class="sr-only">{{bb_link instances.shop.urls.shop_product product=data.ExternalKey asRoot=true fullUrl=true}}</span>
                </a>
                <h3 itemprop="name">{{data._displayName}}</h3>
            </div>
        </div>
    </div>

    <div class="row">

        {{#if data.Images}}
        <div class="col-md-5">
            <div class="shop-component shop-product-images">
                <div class="shop-product-image shop-product-image-main">
                    <div class="productBadge {{data.Status}}">
                       <div class="ribbon-wrapper">
                            <div class="ribbon">
                                {{mpwsGetValueByKey lang key=data.Status prefix="product_badge_"}}
                            </div>
                        </div>
                    </div>
                    <a href="{{app.location.homepage}}{{data.Images.[0].normal}}" class="link" data-lightbox="shop-product-image-main">
                        <div class="image productimage noimage image_{{data.ID}}">
                            {{#if data.Images.[0].sm}}
                            {{>default/hbs/animationFacebook}}
                            {{/if}}
                        </div>
                        {{#if data.Images.[0].sm}}
                        <script>
                        (function() {
                            require(["default/js/plugin/image!{{data.Images.[0].sm}}"], function(img){
                                $('.image_{{data.ID}}').removeClass('noimage').html($(img).attr({
                                    title: "{{data._displayName}}",
                                    alt: "{{data._displayName}}",
                                    class: "image img-responsive",
                                    src: img.src,
                                    itemprop: "image"
                                }).clone());
                            }, function () { $('.image_{{data.ID}} #facebookG').remove(); });
                        })();
                        </script>
                        {{/if}}
                    </a>
                </div>
                {{#gt data.Images.length 1}}
                <div class="shop-product-image shop-product-image-additional">
                    <h4>Додаткові зображення:</h4>
                    <div class="row">
                        {{#each data.Images}}
                        <div class="col-xs-3 col-md-2 shop-product-image-additional-entry">
                            <a href="{{normal}}" class="link" data-lightbox="shop-product-image-additional">
                                <img src="{{app.location.homepage}}{{xs}}" class="image img-responsive" alt="{{data.Name}}" title="{{data.Name}}" />
                            </a>
                        </div>
                        {{/each}}
                    </div>
                </div>
                {{/gt}}
            </div>
        </div>
        <div class="col-md-7">
        {{else}}
        <div class="col-md-12">
        {{/if}}

        <ul class="list-group">

            <li class="list-group-item">
                <div class="shop-component shop-product-attr shop-product-attr-availability" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                    <link itemprop="itemCondition" href="http://schema.org/NewCondition" />
                    <span class="value-prefix">Цей товар:</span>
                    {{#if data._archived}}
                        <link itemprop="availability" href="http://schema.org/OutOfStock" content="архівний"/>
                        <strong class="label label-default">архівний</strong>
                    {{else}}
                        {{#if data._available }}
                        <link itemprop="availability" href="http://schema.org/InStock" content="в наявності"/>
                        <strong class="label label-success">є в наявності</strong>
                        {{else}}
                        <link itemprop="availability" href="http://schema.org/OutOfStock" content="немає в наявності"/>
                        <strong class="label label-danger">немає в наявності</strong>
                        {{/if}}
                    {{/if}}
                </div>
                <div itemprop="brand" itemscope itemtype="http://schema.org/Brand" class="shop-component shop-product-attr shop-product-attr-origin">
                    <span class="value-prefix">Виробник:</span>
                    <strong itemprop="name">{{data._origin.Name}}</strong>
                </div>
                <div class="shop-component shop-product-attr shop-product-attr-model">
                    <span class="value-prefix">Модель:</span>
                    <strong itemprop="model">{{data.Model}}</strong>
                </div>
                <div class="shop-component shop-product-attr shop-product-attr-code">
                    <span class="value-prefix">Код товару:</span>
                    <strong itemprop="productID" content="{{data.ID}}" class="label label-warning">{{data.ID}}</strong>
                </div>
                {{#if data.Attributes.WARRANTY}}
                <div class="shop-component shop-product-attr shop-product-attr-code">
                    <span class="value-prefix">Гарантія:</span>
                    <strong>{{data.Attributes.WARRANTY}}</strong>
                </div>
                {{/if}}
                {{#if data.Attributes.ISBN}}
                <div class="shop-component shop-product-attr shop-product-attr-code">
                    <span class="value-prefix">ISBN:</span>
                    <strong>{{data.Attributes.ISBN}}</strong>
                </div>
                {{/if}}
                {{#if data.Attributes.TAGS}}
                <div class="shop-component shop-product-attr shop-product-attr-code">
                    <span class="value-prefix">Теги:</span>
                    <strong>{{data.Attributes.TAGS}}</strong>
                </div>
                {{/if}}
                <div class="shop-component shop-product-attr shop-product-attr-price">
                    <span class="value-prefix">Ціна:</span>
                    {{#each data._prices.others}}
                        <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                            <meta itemprop="priceCurrency" content="{{@key}}" />
                            <strong itemprop="price" content="{{this}}" class="moneyValue {{@key}}{{#isnt ../instances.shop.settings._user.activeCurrency @key}} hidden{{/isnt}}">{{currency this currency=@key display=../instances.shop.settings.EXCHANAGERATESDISPLAY}}</strong>
                        </span>
                    {{/each}}
                    {{#if data._promoIsApplied }}
                    <div class="promocode label label-success">(Знижка: {{../data._promo.Discount}}%) | Ваш промокод <b>{{../data._promo.Code}}</b> діє до <b>{{../data._promo.DateExpire}}</b></div>
                    {{/if}}
                </div>
                {{#if instances.shop.settings.ShowPriceChart._isActive}}
                {{#mpwsIsNotEmpty data._prices.history }}
                    <div class="shop-component shop-product-attr shop-product-attr-price">
                        <span class="value-prefix">Діаграма ціни:</span>
                        <span id="sparkline" class="productSparkline"></span>
                    </div>
                {{/mpwsIsNotEmpty}}
                {{/if}}
            </li>

            <li class="list-group-item">
                <div class="shop-component shop-product-description shop-product-description-short">{{data.Description}}</div>
            </li>

            {{#if instances.shop.settings.ADDRESS.length }}
            {{#ifAny instances.shop.settings.PRODUCT.ShowDeliveryInfo instances.shop.settings.PRODUCT.ShowPaymentInfo instances.shop.settings.PRODUCT.ShowOpenHours instances.shop.settings.PRODUCT.ShowDeliveryInfo instances.shop.settings.PRODUCT.ShowWarrantyInfo instances.shop.settings.PRODUCT.ShowContacts }}
            <li class="list-group-item list-group-item-service-info">

                {{#if instances.shop.settings.PRODUCT.ShowDeliveryInfo}}
                <span class="product-info product-info-delivery">
                    <a href="javascript://" class="link dashed open-popup-shipping">
                        <i class="fa fa-truck fa-fw"></i> Доставка
                    </a>
                </span>
                {{/if}}

                {{#if instances.shop.settings.PRODUCT.ShowPaymentInfo}}
                <span class="product-info product-info-payments">
                    <a href="javascript://" class="link dashed  open-popup-payments">
                        <i class="fa fa-btc fa-fw"></i> Оплата товару
                    </a>
                </span>
                {{/if}}

                {{#if instances.shop.settings.PRODUCT.ShowOpenHours}}
                <span class="product-info product-info-openhours">
                    <a href="javascript://" class="link dashed open-popup-openhours">
                        <i class="fa fa-clock-o fa-fw"></i>Графік роботи
                    </a>
                </span>
                {{/if}}

                {{#if instances.shop.settings.PRODUCT.ShowContacts}}
                <span class="product-info product-info-contacts">
                    <a href="javascript://" class="link dashed open-popup-phones">
                        <i class="fa fa-phone-square fa-fw"></i> Телефони
                    </a>
                </span>
                {{/if}}

                {{#if instances.shop.settings.PRODUCT.ShowWarrantyInfo}}
                <span class="product-info product-info-warranty">
                    <a href="javascript://" class="link dashed open-popup-warranty">
                        <i class="fa fa-shield fa-fw"></i> Гарантії
                    </a>
                </span>
                {{/if}}
            </li>
            {{/ifAny}}
            {{/if}}

            {{#if instances.shop.settings.PRODUCT.ShowSocialSharing}}
            <li class="list-group-item list-group-item-service-info">
                <div id="fb-root"></div>
                <script>(function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=346829335460205&version=v2.0";
                  fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>
                <div class="fb-share-button" data-href="{{bb_link instances.shop.urls.shop_product product=data.ExternalKey fullUrl=true}}" data-layout="icon"></div>
            </li>
            {{/if}}

            {{#unless data._archived}}
            <li class="list-group-item">
                <div class="shop-component shop-product-buttons-addto">
                    {{#if data._viewExtras.InCartCount }}
                        <button class="btn btn-warning btn-xs btn-add-to-cart withNotificationBadge" data-action="plugin:shop:order:add" data-id="{{data.ID}}" data-title="+1 в кошик" data-placement="top" data-toggle="tooltip" data-original-title="" title="">
                            <i class="fa fa-shopping-cart"></i> +1 в кошик
                            {{#gt data._viewExtras.InCartCount 99}}
                            <sub class="badge wide animated">&gt;99</sub>
                            {{else}}
                            <sub class="badge animated">{{data._viewExtras.InCartCount}}</sub>
                            {{/gt}}
                        </button>
                    {{else}}
                        <button class="btn btn-success btn-xs btn-add-to-cart" data-action="plugin:shop:order:add" data-id="{{data.ID}}" data-title="+1 в кошик" data-placement="top" data-toggle="tooltip" data-original-title="" title="">
                            <i class="fa fa-shopping-cart"></i> +1 в кошик
                        </button>
                    {{/if}}
                    {{#if data._viewExtras.InWish }}
                        <button class="btn btn-warning btn-xs btn-add-to-wish" data-action="plugin:shop:list_wish:remove" data-id="{{data.ID}}" data-title="забрати з мого списку" data-placement="top" data-toggle="tooltip" data-original-title="" title="">
                            <i class="fa fa-check-square-o"></i> мій список
                        </button>
                    {{else}}
                        <button class="btn btn-success btn-xs btn-add-to-wish" data-action="plugin:shop:list_wish:add" data-id="{{data.ID}}" data-title="+ в мій список" data-placement="top" data-toggle="tooltip" data-original-title="" title="">
                            <i class="fa fa-square-o"></i> мій список
                        </button>
                    {{/if}}
                    {{#if data._viewExtras.InCompare }}
                        <button class="btn btn-warning btn-xs btn-add-to-compare" data-action="plugin:shop:list_compare:remove" data-id="{{data.ID}}" data-title="забрати з порівняння" data-placement="top" data-toggle="tooltip" data-original-title="" title="">
                            <i class="fa fa-check-square-o"></i> порівняння
                        </button>
                    {{else}}
                        <button class="btn btn-success btn-xs btn-add-to-compare" data-action="plugin:shop:list_compare:add" data-id="{{data.ID}}" data-title="додати до порівняння" data-placement="top" data-toggle="tooltip" data-original-title="" title="">
                            <i class="fa fa-square-o"></i> порівняння
                        </button>
                    {{/if}}
                </div>
            </li>
            {{/unless}}

            <li class="list-group-item">
                <div class="shop-product-social"></div>
            </li>

            <li class="list-group-item">
                <div class="shop-component shop-product-tabs">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#shop-product-overview-genereal-ID" data-toggle="tab">Опис</a></li>
                        <li><a href="#shop-product-overview-technical-ID" data-toggle="tab">Характеристики</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="shop-product-overview-genereal-ID" itemprop="description">
                            <p>{{data.Description}}</p>
                            <p>
                                <ul class="list-group feature-list">
                                    {{#each data.Features}}
                                    <li class="list-group-item title">{{@key}}</li>
                                    {{#each this}}
                                    <li class="list-group-item sub">{{this}}</li>
                                    {{/each}}
                                    {{/each}}
                                </ul>
                            </p>
                        </div>
                        <div class="tab-pane" id="shop-product-overview-technical-ID">
                            <p>
                                <ul class="list-group feature-list">
                                    {{#each data.Features}}
                                    <li class="list-group-item title">{{@key}}</li>
                                    {{#each this}}
                                    <li class="list-group-item sub">{{this}}</li>
                                    {{/each}}
                                    {{/each}}
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </li>

        </ul>

        </div>
    </div>

    {{#if data.Relations }}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Можливо Вам знадобиться також це:</h4>
                </div>
                <div class="panel-body">
                    <div id="carousel-product-relations" class="carousel slide product-relations" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                        {{#each data.Relations }}
                            <li data-target="#carousel-product-relations" data-slide-to="{{ID}}" class="{{#if @first }}active{{/if}}"></li>
                        {{/each}}
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                        {{#each data.Relations }}
                            <div title="Характеристики {{_displayName}}" class="item{{#if @first }} active{{/if}}" data-action="plugin:shop:product:open" data-page="{{bb_link instances.shop.urls.shop_product product=ExternalKey}}" itemprop="isRelatedTo" itemscope itemtype="http://schema.org/Product">
                                <div class="shop-product-image shop-product-image-main">
                                    <div class="productBadge {{Status}}">
                                       <div class="ribbon-wrapper">
                                            <div class="ribbon">
                                                {{mpwsGetValueByKey ../../lang key=Status prefix="product_badge_"}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="image productimage noimage image_{{ID}}">
                                        {{#if Images.[0].xs}}
                                        {{>default/hbs/animationFacebook}}
                                        {{/if}}
                                    </div>
                                    {{#if Images.[0].xs}}
                                    <script>
                                    (function() {
                                        require(["default/js/plugin/image!{{Images.[0].xs}}"], function(img){
                                            $('.image_{{ID}}').removeClass('noimage').html($(img).attr({
                                                title: "{{_displayName}}",
                                                alt: "{{_displayName}}",
                                                class: "image img-responsive",
                                                src: img.src
                                            }).clone());
                                        });
                                    })();
                                    </script>
                                    {{/if}}
                                </div>
                                <div class="carousel-caption" itemprop="name">{{_displayName}}</div>
                                <div class="carousel-caption price">
                                    Всього за:
                                    {{#each _prices.others}}
                                        <strong class="moneyValue {{@key}}{{#isnt ../../instances.shop.settings._user.activeCurrency @key}} hidden{{/isnt}}">{{currency this currency=@key display=../../instances.shop.settings.EXCHANAGERATESDISPLAY}}</strong>
                                    {{/each}}
                                    {{#if _promoIsApplied }}
                                        <span class="label label-success">(Знижка {{promo.Discount}}%)</span>
                                    {{/if}}
                                </div>
                            </div>
                        {{/each}}
                        </div>
                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-product-relations" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-product-relations" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/if}}

</div>