{{#gt extras.addressCount 1}}
<div class="btn-group address-switcher">
    <span type="button" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <span class="shoptitle">{{extras.activeAddress.ShopName.Value}}</span>
        <span class="caret"></span>
    </span>
    <ul class="dropdown-menu" role="menu">
        {{#each extras.addresses}}
        <li class="address-option" data-ref="{{uid}}"><a href="javascript://">{{ShopName.Value}}</a></li>
        {{/each}}
    </ul>
</div>
{{/gt}}
{{#each extras.addresses}}
<div class="address-item{{#unless isActive}} hidden{{/unless}}" id="{{uid}}" itemscope itemtype="http://schema.org/Organization">
    {{#is ../extras.addressCount 1}}
    <b itemprop="name">{{ShopName.Value}}</b>
    <meta href="{{../../app.location.protocol}}//{{../../app.location.host}}" itemprop="url" />
    {{/is}}
    <div class="block addresses" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    {{#if AddressLine1.Value}}<span class="addressLine addressLine1" itemprop="streetAddress">{{AddressLine1.Value}}</span>{{/if}}
    {{#if AddressLine2.Value}}<span class="addressLine addressLine2" itemprop="addressLocality">{{AddressLine2.Value}}</span>{{/if}}
    {{#if AddressLine3.Value}}<span class="addressLine addressLine3" itemprop="addressRegion">{{AddressLine3.Value}}</span>{{/if}}
    </div>
    <div class="block openHours btn-group">
        <span type="button" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Сьогодні: {{OpenHoursToday.hours}}
            <span class="caret"></span>
        </span>
        <ul class="dropdown-menu" role="menu">
            <li><a href="javascript://"><span class="dayname">{{OpenHoursDaysMap.Mon.dayShort}}:</span> {{OpenHoursDaysMap.Mon.hours}}</a></li>
            <li><a href="javascript://"><span class="dayname">{{OpenHoursDaysMap.Tue.dayShort}}:</span> {{OpenHoursDaysMap.Tue.hours}}</a></li>
            <li><a href="javascript://"><span class="dayname">{{OpenHoursDaysMap.Wed.dayShort}}:</span> {{OpenHoursDaysMap.Wed.hours}}</a></li>
            <li><a href="javascript://"><span class="dayname">{{OpenHoursDaysMap.Thu.dayShort}}:</span> {{OpenHoursDaysMap.Thu.hours}}</a></li>
            <li><a href="javascript://"><span class="dayname">{{OpenHoursDaysMap.Fri.dayShort}}:</span> {{OpenHoursDaysMap.Fri.hours}}</a></li>
            <li><a href="javascript://"><span class="dayname">{{OpenHoursDaysMap.Sat.dayShort}}:</span> {{OpenHoursDaysMap.Sat.hours}}</a></li>
            <li><a href="javascript://"><span class="dayname">{{OpenHoursDaysMap.Sun.dayShort}}:</span> {{OpenHoursDaysMap.Sun.hours}}</a></li>
        </ul>
    </div>
</div>
{{#if Contacts}}
<div class="button-phones btn-group">
    <span type="button" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        {{#each_upto Contacts 1}}
        <span class="preffix">{{label}}:</span> <span class="contact" itemprop="telephone">{{contact}}</span>
        {{/each_upto}}
        <span class="caret"></span>
    </span>
    <ul class="dropdown-menu" role="menu">
        {{#each Contacts}}
        <li><a href="javascript://"><span class="preffix">{{label}}:</span> <span class="contact">{{contact}}</span></a></li>
        {{/each}}
    </ul>
</div>
{{/if}}
{{/each}}