{{#gt extras.addressCount 1}}
<div class="btn-group address-switcher">
    <span type="button" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <span class="shoptitle">{{extras.activeAddress.ShopName}}</span>
        <span class="caret"></span>
    </span>
    <ul class="dropdown-menu" role="menu">
        {{#each data}}
        <li class="address-option" data-ref="{{ID}}"><a href="javascript://">{{ShopName}}</a></li>
        {{/each}}
    </ul>
</div>
{{/gt}}
{{#each data}}
<div itemscope itemtype="http://schema.org/Organization">
    <div class="address-item{{#unless isActive}} hidden{{/unless}}" id="{{ID}}">
        {{#is ../extras.addressCount 1}}
        <b itemprop="name">{{ShopName}}</b>
        <link itemprop="url" content="{{../../app.location.protocol}}//{{../../app.location.host}}" />
        {{/is}}
        {{#ifAny AddressLine1 AddressLine2 AddressLine3}}
        <div class="block addresses" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        {{#if AddressLine1}}<span class="addressLine addressLine1" itemprop="streetAddress">{{AddressLine1}}</span>{{/if}}
        {{#if AddressLine2}}<span class="addressLine addressLine2" itemprop="addressLocality">{{AddressLine2}}</span>{{/if}}
        {{#if AddressLine3}}<span class="addressLine addressLine3" itemprop="addressRegion">{{AddressLine3}}</span>{{/if}}
        </div>
        {{/ifAny}}
        <div class="block openHours btn-group">
            <span type="button" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Сьогодні: {{OpenHoursToday}}
                <span class="caret"></span>
            </span>
            <ul class="dropdown-menu" role="menu">
            {{#each OpenHoursMap}}
                <li{{#if isActive}}class="active"{{/if}}><a href="javascript://"><span class="dayname">{{dayShort}}:</span> {{hours}}</a></li>
            {{/each}}
            </ul>
        </div>
    </div>
    {{#if Contacts}}
    <div class="button-phones btn-group">
        <span type="button" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            {{#each_upto Contacts 1}}
            <span class="preffix">{{label}}:</span> <span class="contact">{{contact}}</span>
            {{/each_upto}}
            {{#isnt ../../extras.addressCount 1}}
            <span class="caret"></span>
            {{/isnt}}
        </span>
        {{#isnt ../../extras.addressCount 1}}
        <ul class="dropdown-menu" role="menu">
            {{#each Contacts}}
            <li><a href="javascript://"><span class="preffix">{{label}}:</span> <span class="contact" itemprop="telephone">{{contact}}</span></a></li>
            {{/each}}
        </ul>
        {{/isnt}}
    </div>
    {{/if}}
</div>
{{/each}}