<fieldset>

  <!-- Form Name -->
  <legend>{{lang.form.signin.title}}</legend>

  {{#if extras.error }}
  <div class="alert alert-danger fade in">
    {{lang.form.signin.generalError}}
  </div>
  {{/if}}

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-3 control-label" for="textinput">{{lang.form.signin.fieldLogin}}</label>
    <div class="col-md-7">
    <input id="signinEmail" type="text" class="form-control input-md" value="">
      
    </div>
  </div>

  <!-- Password input-->
  <div class="form-group">
    <label class="col-md-3 control-label" for="passwordinput">{{lang.form.signin.fieldPassword}}</label>
    <div class="col-md-7">
      <input id="signinPassword" type="password" class="form-control input-md">
      
    </div>
  </div>

  <!-- Button -->
  <div class="form-group buttons">
    <div class="col-md-10">
      <button class="btn btn-success btn-sm">{{lang.form.signin.buttonSubmit}}</button>
    </div>
  </div>

</fieldset>