{{#if data.success }}
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">{{lang.form_register_message_success_title}}</h3>
        </div>
        <!-- List group -->
        <ul class="list-group">
            <li class="list-group-item">{{lang.form_register_message_success_line1}}</li>
            <li class="list-group-item">{{lang.form_register_message_success_line2}}</li>
        </ul>
    </div>
{{else}}
    <div class="container user-account-create" id="wrap">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form accept-charset="utf-8" class="form" role="form">
                    <legend>{{lang.form_register_title}}</legend>
                    <div class="form-group has-error">
                        <div class="row">
                            <div class="col-xs-6 col-md-6">
                                <input type="text" name="FirstName" value="{{data.values.FirstName}}" class="form-control input-lg" placeholder="{{lang.form_register_field_FirstName}}" required />
                                {{#if data.error.FirstName }}
                                <div class="error-message FirstName_Error"></div>
                                {{/if}}
                            </div>
                            <div class="col-xs-6 col-md-6">
                                <input type="text" name="LastName" value="{{data.values.LastName}}" class="form-control input-lg" placeholder="{{lang.form_register_field_LastName}}" required />
                                {{#if data.error.LastName }}
                                <div class="error-message LastName_Error"></div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group has-error">
                        <input type="email" name="EMail" value="{{data.values.EMail}}" class="form-control input-lg" placeholder="{{lang.form_register_field_EMail}}" required />
                        {{#if data.error.EMail }}
                        <div class="error-message EMail_Error">{{lang.form_register_error_FirstName_Empty}}</div>
                        {{/if}}
                    </div>
                    <div class="form-group has-error">
                        <input type="password" name="Password" value="" class="form-control input-lg" placeholder="{{lang.form_register_field_Password}}" required />
                        {{#if data.error.Password }}
                        <div class="error-message Password_Error"></div>
                        {{/if}}
                    </div>
                    <div class="form-group has-error">
                        <input type="password" name="ConfirmPassword" value="" class="form-control input-lg" placeholder="{{lang.form_register_field_ConfirmPassword}}" required />
                        {{#if data.error.ConfirmPassword }}
                        <div class="error-message ConfirmPassword_Error"></div>
                        {{/if}}
                    </div>
                    <span class="help-block">{{lang.form_register_message_bottom}}</span>
                    <button class="btn btn-lg btn-primary btn-block signup-btn" type="submit">{{lang.form_register_button_create}}</button>
                </form>
            </div>
        </div>
    </div>
{{/if}}