<div class="well account-profile-password">
    <h3>{{lang.profile_page_password_title}}</h3>
    {{#if data.success }}
        <div class="alert alert-success">{{lang.profile_page_password_message_saveSuccess}}</div>
    {{else}}
        {{#mpwsIsNotEmpty data.error }}
            <div class="alert alert-danger">{{lang.profile_page_password_message_saveError}}</div>
        {{/mpwsIsNotEmpty}}
    {{/if}}
    <form class="form-horizontal">
        <fieldset>

            <!-- Button Drop Down -->
            <div class="form-group">
                <label class="col-md-2 control-label" for="Password">{{lang.profile_page_password_field_Password}}</label>
                <div class="col-md-10">
                    <div class="input-group">
                        <input id="Password" name="Password" type="password" class="form-control" placeholder="{{lang.profile_page_password_field_Password_placeholder}}" type="text">
                        <div class="input-group-btn">
                            <button id="account-password-pwdgen-btn-ID" type="button" class="btn btn-default">{{lang.profile_page_password_button_generate}}</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Password input-->
            <div class="form-group">
                <label class="col-md-2 control-label" for="Verify">{{lang.profile_page_password_field_ConfirmPassword}}</label>
                <div class="col-md-10">
                    <input id="Verify" name="Verify" type="password" placeholder="{{lang.profile_page_password_field_ConfirmPassword_placeholder}}" class="form-control input-md" required="">
                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-2 control-label" for="singlebutton"></label>
                <div class="col-md-10">
                    <button id="singlebutton" name="singlebutton" class="btn btn-primary">{{lang.profile_page_password_button_save}}</button>
                </div>
            </div>

        </fieldset>
    </form>

</div>