{{!-- <table class="table table-bordered table-striped account-profile-address-entry"> --}}

<div class="user-address-item" data-id="{{ID}}">
    {{#if isRemoved}}
    <div class="overlay-removed"></div>
    <div class="msg-removed">Ця адреса є видалена</div>
    {{/if}}

    <table class="table{{#if isRemoved}} removed{{/if}}">
        <tr>
            <td width="20%">{{lang.editors.user.labelAddress}}</td>
            <td>
                <a href="javascript://" id="account-address-ID" class="editable editable-click", data-type="text" data-name="Address">
                    {{Address}}
                </a>
            </td>
        </tr>
        <tr>
            <td>{{lang.editors.user.labelPOBox}}</td>
            <td>
                <a href="javascript://" id="account-pobox-ID" class="editable editable-click", data-type="text" data-name="POBox">
                    {{POBox}}
                </a>
            </td>
        </tr>
        <tr>
            <td>{{lang.editors.user.labelCountry}}</td>
            <td>
                <a href="javascript://" id="account-country-ID" class="editable editable-click", data-type="text" data-name="Country">
                    {{Country}}
                </a>
            </td>
        </tr>
        <tr>
            <td>{{lang.editors.user.labelCity}}</td>
            <td>
                <a href="javascript://" id="account-city-ID" class="editable editable-click", data-type="text" data-name="City">
                    {{City}}
                </a>
            </td>
        </tr>
    </table>

    {{#unless isRemoved}}
    <div class="address-buttons">
        {{#unless isNew}}
        <button class="btn btn-danger btn-xs removeAddress">
            <i class="fa fa-trash-o"></i>
        </button>
        {{/unless}}
        <button class="btn btn-success btn-xs saveAddress">
            <i class="fa fa-floppy-o"></i>
            {{lang.editors.user.buttonSaveAddress}}
        </button>
    </div>
    {{/unless}}
</div>