{{!-- <table class="table table-bordered table-striped account-profile-address-entry"> --}}

{{#if data.isRemoved}}
<div class="overlay-removed"></div>
<div class="msg-removed">Ця адреса є видалена</div>
{{/if}}
{{#mpwsIsNotEmpty data.errors }}
<div class="alert alert-danger">
    <i class="fa fa-fw fa-times-circle"></i>
    {{lang.editors.user.errors.title}}
    <ul class="errors">
    {{#each data.errors}}
        <li>
            <strong>
                {{mpwsGetValueByKey ../lang.editors.user.errors key=@key }}
            </strong>
            <ul>
            {{#each this}}
                <li>{{mpwsGetValueByKey ../../lang.editors.user.errors key=this}}</li>
            {{/each}}
            </ul>
        </li>
    {{/each}}
    </ul>
</div>
{{/mpwsIsNotEmpty}}
<table class="table{{#if data.isRemoved}} removed{{/if}}">
    <tr>
        <td width="20%">{{lang.editors.user.labelAddress}}</td>
        <td>
            <a href="javascript://" id="account-address-ID" class="editable editable-click", data-type="text" data-name="Address">
                {{data.Address}}
            </a>
        </td>
    </tr>
    <tr>
        <td>{{lang.editors.user.labelPOBox}}</td>
        <td>
            <a href="javascript://" id="account-pobox-ID" class="editable editable-click", data-type="text" data-name="POBox">
                {{data.POBox}}
            </a>
        </td>
    </tr>
    <tr>
        <td>{{lang.editors.user.labelCountry}}</td>
        <td>
            <a href="javascript://" id="account-country-ID" class="editable editable-click", data-type="text" data-name="Country">
                {{data.Country}}
            </a>
        </td>
    </tr>
    <tr>
        <td>{{lang.editors.user.labelCity}}</td>
        <td>
            <a href="javascript://" id="account-city-ID" class="editable editable-click", data-type="text" data-name="City">
                {{data.City}}
            </a>
        </td>
    </tr>
</table>

{{#unless data.isRemoved}}
<div class="address-buttons">
    <button class="btn btn-success btn-xs saveAddress">
        <i class="fa fa-floppy-o"></i>
        {{lang.editors.user.buttonSaveAddress}}
    </button>
    {{#unless extras.isNew}}
    <button class="btn btn-danger btn-xs removeAddress">
        <i class="fa fa-trash-o"></i>
    </button>
    {{else}}
    <button class="btn btn-danger btn-xs cancel">
        <i class="fa fa-fw fa-times"></i>
        {{lang.editors.user.linkCreateAddressCancel}}
    </button>
    {{/unless}}
</div>
{{/unless}}