<table class="table table-bordered table-striped account-profile-address-entry">
    <tr>
        <td>
            <a href="javascript://" class="account-address-remove" data-action="account:address:remove" data-id="{{data.ID}}">
                <i class="fa fa-trash-o"></i>
            </a>
        </td>
        <td>
            <table class="table">
                <tr>
                    <td width="20%">{{lang.profile_page_addresses_Address}}</td>
                    <td>
                        <a href="#" id="account-address-ID" class="editable editable-click", data-type="text" data-name="Address">
                            {{data.Address}}
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>{{lang.profile_page_addresses_POBox}}</td>
                    <td>
                        <a href="#" id="account-pobox-ID" class="editable editable-click", data-type="text" data-name="POBox">
                            {{data.POBox}}
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>{{lang.profile_page_addresses_Country}}</td>
                    <td>
                        <a href="#" id="account-country-ID" class="editable editable-click", data-type="text" data-name="Country">
                            {{data.Country}}
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>{{lang.profile_page_addresses_City}}</td>
                    <td>
                        <a href="#" id="account-city-ID" class="editable editable-click", data-type="text" data-name="City">
                            {{data.City}}
                        </a>
                    </td>
                </tr>
            </table>
            <div>
                <button id="save-btn" class="btn btn-primary" data-id="{{data.ID}}" data-action="account:address:save">{{lang.profile_page_addresses_button_saveAddress}}</button>
            </div>
        </td>
    </tr>
</table>