<div class="panel">
    <div class="panel panel-heading">
        <h4 class="text-center">
            <a href="/#shop/product/{{data.ID}}">{{data.OriginName}} - {{data.Name}}</a>
        </h4>
    </div>
    <div class="panel-body">
        <div class="shop-component shop-product-images">
            <div class="shop-product-image shop-product-image-main">
                <a href="/#shop/product/{{data.ID}}" class="link">
                    <img src="{{data.Attributes.IMAGES.MAIN}}" onerror="this.src='{{data.Attributes.IMAGES.EMPTY}}'" class="image img-responsive" alt="{{data.Name}}" title="{{data.Name}}" />
                </a>
            </div>
        </div>
        <div class="shop-component shop-product-attr shop-product-attr-price">
            <div class="value-prefix">Ціна:</div>
            <div class="badge">{{data.Price}}</div>
            <span class="value-suffix moneyType">грн.</span>
        </div>
        <div class="shop-component shop-product-description shop-product-description-short">{{data.Description}}</div>
        <p>
            <button class="btn btn-success btn-xs" data-action="shop:cart:add" data-id="{{data.ID}}" data-title="+ в кошик" data-placement="top" data-toggle="tooltip" data-original-title="" title="">
                <i class="fa fa-shopping-cart"></i>
            </button>
            <button class="btn btn-warning btn-xs" data-action="shop:wishlist:add" data-id="{{data.ID}}" data-title="+ в мій список" data-placement="top" data-toggle="tooltip" data-original-title="" title="">
                <i class="fa fa-heart"></i>
            </button>

            <button class="btn btn-warning btn-xs" data-action="shop:compare:add" data-id="{{data.ID}}" data-title="порівняти" data-placement="top" data-toggle="tooltip" data-original-title="" title="">
                <i class="fa fa-files-o"></i>
            </button>
        </p>
        <p>
            <a class="btn btn-success btn-block" href="/#shop/product/{{data.ID}}">Детальніше »</a>
        </p>
    </div>
</div>