<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">

        {{#mpwsIsNotEmpty displayItems }}
        <div class="shop-component-catalog-filtering">
            <button class="btn btn-success btn-block shop-filter-cancel">Скасувати фільтр</button>
        </div>
        {{/mpwsIsNotEmpty}}

        {{#mpwsIsNotEmpty extras.filter.filterOptionsAvailable.filter_categorySubCategories }}
        <div class="shop-component-catalog-filtering">
            <div class="title row">
                <strong><span>Підкатегорії:</span></strong>
            </div>
            <div class="content row">

                <div class="spacer"></div>
                <div class="row">
                    <span class="helptext">К-ість товарів відповідно до фільтру у підкатегоріях <i class="fa fa-level-down"></i></span>
                    <div class="list-group">
                    {{#each extras.filter.filterOptionsAvailable.filter_categorySubCategories }}
                        {{#if ProductCount }}
                        <a class="list-group-item" href="#/shop/catalog/{{ID}}" title="{{Name}}">
                            {{Name}}
                            <span class="badge label-success">{{ProductCount}}</span>
                        </a>
                        {{else}}
                        <a class="list-group-item disabled" href="javascript://" title="{{Name}}">
                            {{Name}}
                            <span class="badge">{{ProductCount}}</span>
                        </a>
                        {{/if}}
                    {{/each}}
                    </div>
                </div>
                <div class="spacer"></div>

            </div>
        </div>
        {{/mpwsIsNotEmpty}}

        {{#mpwsIsNotEmpty extras.filter.filterOptionsAvailable.filter_categoryBrands }}
        <div class="shop-component-catalog-filtering">
            <div class="title row">
                <strong><span>Виробники:</span></strong>
            </div>
            <div class="content row">

                <div class="spacer"></div>
                <div class="row">
                    <span class="helptext">К-ість товарів у цій категорії <i class="fa fa-level-down"></i></span>
                    <div class="list-group">
                    {{#each extras.filter.filterOptionsAvailable.filter_categoryBrands }}
                        {{#if ProductCount }}
                        <a class="list-group-item" href="javascript://" data-brand_id="{{ID}}" title="{{Name}}">
                            <label>
                                {{#if IsSelected }}
                                    <input type="checkbox" value="{{ID}}" name="filter_categoryBrands" checked="checked">
                                {{else}}
                                    <input type="checkbox" value="{{ID}}" name="filter_categoryBrands">
                                {{/if}}
                                {{Name}}
                            </label>
                            <span class="badge label-success">{{ProductCount}}</span>
                        </a>
                        {{else}}
                        <a class="list-group-item disabled" href="javascript://" title="{{Name}}">
                            <label>
                                <input type="checkbox" value="{{ID}}" name="filter_categoryBrands" disabled="disabled">
                                {{Name}}
                            </label>
                            <span class="badge">{{ProductCount}}</span>
                        </a>
                        {{/if}}
                    {{/each}}
                    </div>
                </div>
                <div class="spacer"></div>

            </div>
        </div>
        {{/mpwsIsNotEmpty}}

        {{#isnt extras.filter.filterOptionsAvailable.filter_commonPriceMax extras.filter.filterOptionsAvailable.filter_commonPriceMin }}
        <div class="shop-component-catalog-filtering">
            <div class="title row">
                <strong><span>Ціна:</span></strong>
            </div>
            <div class="content row">
                <div class="spacer"></div>
                <div class="subtitle row">
                        <span>від</span>
                        <span class="shop-filter-price-start mpwsPrice">{{mpwsToInt extras.filter.filterOptionsApplied.filter_commonPriceMin}}</span>
                        <span>грн. </span>
                        <span> до </span>
                        <span class="shop-filter-price-end mpwsPrice">{{mpwsToInt extras.filter.filterOptionsApplied.filter_commonPriceMax}}</span>
                        <span>грн. </span>
                        <span>включно</span>
                </div>
                <div class="row">
                    <input type="text" class="form-control slider" value=""
                        data-slider-min="{{mpwsToInt extras.filter.filterOptionsAvailable.filter_commonPriceMin}}"
                        data-slider-max="{{mpwsToInt extras.filter.filterOptionsAvailable.filter_commonPriceMax}}"
                        data-slider-step="1"
                        data-slider-value="[{{mpwsToInt extras.filter.filterOptionsApplied.filter_commonPriceMin}},{{mpwsToInt extras.filter.filterOptionsApplied.filter_commonPriceMax}}]"
                        data-slider-selection="after">
                </div>
                <div class="spacer"></div>
            </div>
        </div>
        {{/isnt}}

        {{#mpwsIsNotEmpty extras.filter.filterOptionsAvailable.filter_categorySpecifications }}
        <div class="shop-component-catalog-filtering">
            <div class="title row">
                <strong><span>Характеристики:</span></strong>
            </div>
            <div class="content row">
                <div class="spacer"></div>
                {{#each extras.filter.filterOptionsAvailable.filter_categorySpecifications }}
                <div>
                    <label>
                        <input type="checkbox" value="{{ID}}" name="filter_categorySpecifications">
                        {{Name}}
                    </label>
                </div>
                {{/each}}
                <div class="spacer"></div>
            </div>
        </div>
        {{/mpwsIsNotEmpty}}

        <div class="shop-component-catalog-filtering">
            <div class="title row">
                <strong><span>Додатково:</span></strong>
            </div>
            <div class="content row">

                {{#mpwsIsNotEmpty extras.filter.filterOptionsAvailable.filter_commonAvailability }}
                <div class="spacer"></div>
                <div class="subtitle row">
                    Наявність:
                </div>
                <div class="row">
                    {{#each extras.filter.filterOptionsAvailable.filter_commonAvailability }}
                    <div>
                        <label>
                            <input type="checkbox" value="{{this}}" name="filter_commonAvailability">
                            {{this}}
                        </label>
                    </div>
                    {{/each}}
                </div>
                <div class="spacer"></div>
                {{/mpwsIsNotEmpty}}

                {{#mpwsIsNotEmpty extras.filter.filterOptionsAvailable.filter_commonOnSaleTypes }}
                <div class="spacer"></div>
                <div class="subtitle row">
                    Пропозиції:
                </div>
                <div class="row">
                    {{#each extras.filter.filterOptionsAvailable.filter_commonOnSaleTypes }}
                    <div>
                        <label>
                            <input type="checkbox" value="{{this}}" name="filter_commonOnSaleTypes">
                            {{this}}
                        </label>
                    </div>
                    {{/each}}
                </div>
                <div class="spacer"></div>
                {{/mpwsIsNotEmpty}}

            </div>
        </div>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <div class="row">
            {{#mpwsIsNotEmpty displayItems }}
                {{#each displayItems }}
                <div class="shop-product-item shop-product-item-short col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    {{{ this.innerHTML }}}
                </div>
                {{/each}}
            {{else}}
                <div class="alert alert-warning">Немає товарів в цій категорії</div>
            {{/mpwsIsNotEmpty}}
        </div>
        {{#if extras.hasMoreProducts }}
        <div class="row">
            <button class="btn btn-success btn-block shop-load-more">Завантажити ще</button>
        </div>
        {{/if}}
    </div>
</div>