<div class="col-md-12">
    {{#mpwsIsNotEmpty data }}
    <div class="well">
        <div class="actions">
            <a href="javascript://" data-action="plugin:shop:list_compare:clear" data-id="*">
                <i class="fa fa-trash-o"></i> {{lang.list_compare_link_clear}}
            </a>
        </div>
    </div>
    <div class="well">
        <table class="table table-condensed table-responsive table-hover">
            <tr>
                <td></td>
                {{#each data }}
                <td>
                    <a href="javascript://" class="shop-product-remove" data-action="plugin:shop:list_compare:remove" data-id="{{ID}}">
                        <i class="fa fa-trash-o"></i>
                    </a>
                    <a href="javascript://" class="shop-product-buy" data-action="plugin:shop:list_cart:add" data-id="{{ID}}">
                        <i class="fa fa-shopping-cart"></i>
                    </a>
                </td>
                {{/each}}
            </tr>
            <tr>
                <td><strong>Фото</strong></td>
                {{#each data }}
                <td>
                    <div class="shop-component shop-product-images">
                        <div class="shop-product-image shop-product-image-main">
                            <a href="/#shop/product/{{ID}}" class="link">
                                <div class="image productimage noimage image_{{ID}}">
                                    {{#if Attributes.IMAGES.MAIN}}
                                    <div id="facebookG">
                                        <div id="blockG_1" class="facebook_blockG"></div>
                                        <div id="blockG_2" class="facebook_blockG"></div>
                                        <div id="blockG_3" class="facebook_blockG"></div>
                                    </div>
                                    {{/if}}
                                </div>
                                {{#if Attributes.IMAGES.MAIN}}
                                <script>
                                (function() {
                                    require(["default/js/plugin/image!{{Attributes.IMAGES.MAIN}}"], function(img){
                                        img.title = "{{Name}}";
                                        img.className = "image img-responsive";
                                        $('.image_{{ID}}').removeClass('noimage').html($(img).clone());
                                    });
                                })();
                                </script>
                                {{/if}}
                            </a>
                        </div>
                    </div>
                </td>
                {{/each}}
            </tr>
            <tr>
                <td><strong>Назва</strong></td>
                {{#each data }}
                <td>{{OriginName}} - {{Name}}</td>
                {{/each}}
            </tr>
            <tr>
                <td><strong>Виробник</strong></td>
                {{#each data }}
                <td>{{OriginName}}</td>
                {{/each}}
            </tr>
            <tr>
                <td><strong>Категорія</strong></td>
                {{#each data }}
                <td>{{CategoryName}}</td>
                {{/each}}
            </tr>
            <tr>
                <td><strong>Ціна</strong></td>
                {{#each data }}
                <td><span class="label label-warning product-price">{{Price}}<span class="moneyType">грн.</span></span></td>
                {{/each}}
            </tr>
            <tr>
                <td><strong>Опис</strong></td>
                {{#each data }}
                <td>{{Description}}</td>
                {{/each}}
            </tr>
            <tr>
                <td><strong>Характеристики</strong></td>
                {{#each data }}
                <td>{{Description}}</td>
                {{/each}}
            </tr>
            {{#each productFeatues }}
            <tr>
                <td><strong>{{ @key }}</strong></td>
                {{#each this }}
                <td>
                    {{#if this }}
                        <i class="fa fa-check text-success"></i>
                    {{else}}
                        <i class="fa fa-minus text-danger"></i>
                    {{/if}}
                </td>
                {{/each}}
            </tr>
            {{/each}}
            <tr>
                <td><strong>Додаткові зображення</strong></td>
                {{#each data }}
                <td>{{Description}}</td>
                {{/each}}
            </tr>
            <tr>
                <td> </td>
                {{#each data }}
                <td>
                    <a href="javascript://" class="shop-product-remove" data-action="plugin:shop:list_compare:remove" data-id="{{ID}}">
                        <i class="fa fa-trash-o"></i>
                    </a>
                    <a href="javascript://" class="shop-product-buy" data-action="plugin:shop:list_cart:add" data-id="{{ID}}">
                        <i class="fa fa-shopping-cart"></i>
                    </a>
                </td>
                {{/each}}
            </tr>
        </table>
    </div>
    <div class="well">
        <div class="actions">
            <a href="javascript://" data-action="plugin:shop:list_compare:clear" data-id="*">
                <i class="fa fa-trash-o"></i> {{lang.list_compare_link_clear}}
            </a>
        </div>
    </div>
    {{else}}
    <div class="alert alert-warning">{{lang.list_compare_empty}}</div>
    {{/mpwsIsNotEmpty}}
</div>