<div class="panel">
    <div class="panel panel-heading">
        <h4 class="text-center">
            <a href="/#shop/product/{{data.ID}}">{{data.OriginName}} - {{data.Name}}</a>
        </h4>
    </div>
    <div class="panel-body">
        <div class="shop-component shop-product-images">
            <div class="shop-product-image shop-product-image-main">
                <a href="/#shop/product/{{data.ID}}" class="link">
                    <img src="{{data.Attributes.IMAGES.MAIN}}" onerror="this.src='{{data.Attributes.IMAGES.EMPTY}}'" class="image img-responsive" alt="{{data.Name}}" title="{{data.Name}}" />
                </a>
            </div>
        </div>
        <div class="shop-component shop-product-attr shop-product-attr-price">
            <div class="value-prefix">Ціна:</div>
            <div class="badge">{{data.Price}}</div>
            <span class="value-suffix moneyType">грн.</span>
        </div>
        <div class="shop-component shop-product-description shop-product-description-short">{{data.Description}}</div>
        <p>

            {{#if data.ViewExtras.InCartCount }}
                <button class="btn btn-warning btn-xs btn-add-to-cart withNotificationBadge" data-action="plugin:shop:list_cart:add" data-id="{{data.ID}}" data-title="+ в кошик" data-placement="top" data-toggle="tooltip" data-original-title="" title="">
                    <i class="fa fa-shopping-cart"></i> +1 в кошик
                    {{#gt data.ViewExtras.InCartCount 99}}
                    <sub class="badge wide animated">&gt;99</sub>
                    {{else}}
                    <sub class="badge animated">{{data.ViewExtras.InCartCount}}</sub>
                    {{/gt}}
                </button>
            {{else}}
                <button class="btn btn-success btn-xs btn-add-to-cart" data-action="plugin:shop:list_cart:add" data-id="{{data.ID}}" data-title="+ в кошик" data-placement="top" data-toggle="tooltip" data-original-title="" title="">
                    <i class="fa fa-shopping-cart"></i> +1 в кошик
                </button>
            {{/if}}

            {{#if data.ViewExtras.InWish }}
                <button class="btn btn-warning btn-xs btn-add-to-wish" data-action="plugin:shop:list_wish:remove" data-id="{{data.ID}}" data-title="+ в мій список" data-placement="top" data-toggle="tooltip" data-original-title="" title="">
                    <sub><i class="fa fa-check-square-o"></i></sub>
                    <i class="fa fa-heart"></i>
                </button>
            {{else}}
                <button class="btn btn-success btn-xs btn-add-to-wish" data-action="plugin:shop:list_wish:add" data-id="{{data.ID}}" data-title="+ в мій список" data-placement="top" data-toggle="tooltip" data-original-title="" title="">
                    <sub><i class="fa fa-square-o"></i></sub>
                    <i class="fa fa-heart"></i>
                </button>
            {{/if}}

            {{#if data.ViewExtras.InCompare }}
                <button class="btn btn-warning btn-xs btn-add-to-compare" data-action="plugin:shop:list_compare:remove" data-id="{{data.ID}}" data-title="порівняти" data-placement="top" data-toggle="tooltip" data-original-title="" title="">
                    <sub><i class="fa fa-check-square-o"></i></sub>
                    <i class="fa fa-files-o"></i>
                </button>
            {{else}}
                <button class="btn btn-success btn-xs btn-add-to-compare" data-action="plugin:shop:list_compare:add" data-id="{{data.ID}}" data-title="порівняти" data-placement="top" data-toggle="tooltip" data-original-title="" title="">
                    <sub><i class="fa fa-square-o"></i></sub>
                    <i class="fa fa-files-o"></i>
                </button>
            {{/if}}

        </p>
        <p>
            <a href="/#shop/product/{{data.ID}}" class="btn btn-success btn-block btn-warning">Детальніше <span class="fa fa-chevron-right"></span></a>
        </p>
    </div>
</div>