<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="product-name">
                <h3>{{data.OriginName}} - {{data.Name}} ({{data.Model}})</h3>
            </div>
        </div>
    </div>

    <div class="row">

        {{#if data.Attributes.IMAGES.HAS_MAIN}}
        <div class="col-md-5">
            <div class="shop-component shop-product-images">
                <div class="shop-product-image shop-product-image-main">
                    <div class="productBadge {{data.Status}}">
                       <div class="ribbon-wrapper">
                            <div class="ribbon">
                                {{mpwsGetValueByKey lang data.Status "product_badge_"}}
                            </div>
                        </div>
                    </div>
                    <a href="{{data.Attributes.IMAGES.MAIN}}" class="link" data-lightbox="shop-product-image-main">
                        <div class="image productimage noimage image_{{data.ID}}">
                            {{#if data.Attributes.IMAGES.MAIN}}
                            <div id="facebookG">
                                <div id="blockG_1" class="facebook_blockG"></div>
                                <div id="blockG_2" class="facebook_blockG"></div>
                                <div id="blockG_3" class="facebook_blockG"></div>
                            </div>
                            {{/if}}
                        </div>
                        {{#if data.Attributes.IMAGES.MAIN}}
                        <script>
                        (function() {
                            require(["default/js/plugin/image!{{data.Attributes.IMAGES.MAIN}}"], function(img){
                                img.title = "{{data.Name}}";
                                img.className = "image img-responsive";
                                $('.image_{{data.ID}}').removeClass('noimage').html($(img).clone());
                            });
                        })();
                        </script>
                        {{/if}}
                    </a>
                </div>
                {{#if data.Attributes.IMAGES.ADDITIONAL}}
                <div class="shop-product-image shop-product-image-additional">
                    <h4>Додаткові зображення:</h4>
                    <div class="row">
                        {{#each data.Attributes.IMAGES.ADDITIONAL}}
                        <div class="col-xs-3 col-md-2 shop-product-image-additional-entry">
                            <a href="{{this}}" class="link" data-lightbox="shop-product-image-additional">
                                <img src="{{this}}" class="image img-responsive" alt="{{data.Name}}" title="{{data.Name}}" />
                            </a>
                        </div>
                        {{/each}}
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
        <div class="col-md-7">
        {{else}}
        <div class="col-md-12">
        {{/if}}

            <ul class="list-group">

                <li class="list-group-item">
                    <div class="shop-component shop-product-attr shop-product-attr-availability">
                        <span class="value-prefix">Цей товар:</span>
                        {{#compare data.Status "==" "ACTIVE"}}
                        <span class="label label-success">є в наявності</span>
                        {{else}}
                        <span class="label label-danger">немає в наявності</strong>
                        {{/compare}}
                    </div>
                    <div class="shop-component shop-product-attr shop-product-attr-origin">
                        <span class="value-prefix">Виробник:</span>
                        <strong>{{data.OriginName}}</strong>
                    </div>
                    <div class="shop-component shop-product-attr shop-product-attr-model">
                        <span class="value-prefix">Модель:</span>
                        <strong>{{data.Model}}</strong>
                    </div>
                    <div class="shop-component shop-product-attr shop-product-attr-code">
                        <span class="value-prefix">Код товару:</span>
                        <strong>#{{data.ID}}</strong>
                    </div>
                    <div class="shop-component shop-product-attr shop-product-attr-price">
                        <span class="value-prefix">
                        {{#if data.promoIsApplied }}
                            Ціна зі знижкою {{data.promo.Discount}}%
                        {{else}}
                            Ціна:
                        {{/if}}
                        </span>
                        <strong>{{currency data.Price}} грн.</strong>
                        {{#if data.promoIsApplied }}
                        <sub class="promocode">Ваш промокод <b>{{data.promo.Code}}</b> діє до <b>{{data.promo.DateExpire}}</b></sub>
                        {{/if}}
                    </div>
                    {{#mpwsIsNotEmpty data.Prices }}
                    <div class="shop-component shop-product-attr shop-product-attr-price">
                        <span class="value-prefix">Діаграма ціни:</span>
                        <span id="sparkline" class="productSparkline"></span>
                    </div>
                    {{/mpwsIsNotEmpty}}
                </li>

                <li class="list-group-item">
                    <div class="shop-component shop-product-description shop-product-description-short">{{data.Description}}</div>
                </li>

                {{#if data.Relations }}
                <li class="list-group-item">
                    <div class="panel panel-default">
                        <div class="panel-heading">Можливо Вам знадобиться також це:</div>
                        <div class="panel-body">
                            <div id="carousel-product-relations" class="carousel slide product-relations" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                {{#each data.Relations }}
                                    <li data-target="#carousel-product-relations" data-slide-to="{{ID}}" class="{{#if @first }}active{{/if}}"></li>
                                {{/each}}
                                </ol>
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                {{#each data.Relations }}
                                    <div class="item{{#if @first }} active{{/if}}" data-action="plugin:shop:product:open" data-page="#shop/product/{{ID}}">
                                        <div class="shop-product-image shop-product-image-main">
                                            <div class="productBadge {{Status}}">
                                               <div class="ribbon-wrapper">
                                                    <div class="ribbon">
                                                        {{mpwsGetValueByKey ../../lang Status "product_badge_"}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="image productimage noimage image_{{ID}}">
                                                {{#if Attributes.IMAGES.MAIN}}
                                                <div id="facebookG">
                                                    <div id="blockG_1" class="facebook_blockG"></div>
                                                    <div id="blockG_2" class="facebook_blockG"></div>
                                                    <div id="blockG_3" class="facebook_blockG"></div>
                                                </div>
                                                {{/if}}
                                            </div>
                                            {{#if Attributes.IMAGES.MAIN}}
                                            <script>
                                            (function() {
                                                require(["default/js/plugin/image!{{Attributes.IMAGES.MAIN}}"], function(img){
                                                    img.title = "{{Name}}";
                                                    img.className = "image img-responsive";
                                                    $('.image_{{ID}}').removeClass('noimage').html($(img).clone());
                                                });
                                            })();
                                            </script>
                                            {{/if}}
                                        </div>
                                        <div class="carousel-caption">{{OriginName}} - {{Name}} ({{Model}})</div>
                                        <div class="carousel-caption price">
                                            Всього за:
                                            <span class="label label-warning moneyType">{{Price}} грн.</span>
                                            {{#if promoIsApplied }}
                                                <span class="label label-success">(Знижка {{promo.Discount}}%)</span>
                                            {{/if}}
                                        </div>
                                    </div>
                                {{/each}}
                                </div>
                                <!-- Controls -->
                                <a class="left carousel-control" href="#carousel-product-relations" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </a>
                                <a class="right carousel-control" href="#carousel-product-relations" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                {{/if}}

                <li class="list-group-item">
                    <div class="shop-component shop-product-buttons-addto">
                        {{#if data.ViewExtras.InCartCount }}
                            <button class="btn btn-warning btn-xs btn-add-to-cart withNotificationBadge" data-action="plugin:shop:order:add" data-id="{{data.ID}}" data-title="+1 в кошик" data-placement="top" data-toggle="tooltip" data-original-title="" title="">
                                <i class="fa fa-shopping-cart"></i> +1 в кошик
                                {{#gt data.ViewExtras.InCartCount 99}}
                                <sub class="badge wide animated">&gt;99</sub>
                                {{else}}
                                <sub class="badge animated">{{data.ViewExtras.InCartCount}}</sub>
                                {{/gt}}
                            </button>
                        {{else}}
                            <button class="btn btn-success btn-xs btn-add-to-cart" data-action="plugin:shop:order:add" data-id="{{data.ID}}" data-title="+1 в кошик" data-placement="top" data-toggle="tooltip" data-original-title="" title="">
                                <i class="fa fa-shopping-cart"></i> +1 в кошик
                            </button>
                        {{/if}}
                        {{#if data.ViewExtras.InWish }}
                            <button class="btn btn-warning btn-xs btn-add-to-wish" data-action="plugin:shop:list_wish:remove" data-id="{{data.ID}}" data-title="забрати з мого списку" data-placement="top" data-toggle="tooltip" data-original-title="" title="">
                                <i class="fa fa-check-square-o"></i> мій список
                            </button>
                        {{else}}
                            <button class="btn btn-success btn-xs btn-add-to-wish" data-action="plugin:shop:list_wish:add" data-id="{{data.ID}}" data-title="+ в мій список" data-placement="top" data-toggle="tooltip" data-original-title="" title="">
                                <i class="fa fa-square-o"></i> мій список
                            </button>
                        {{/if}}
                        {{#if data.ViewExtras.InCompare }}
                            <button class="btn btn-warning btn-xs btn-add-to-compare" data-action="plugin:shop:list_compare:remove" data-id="{{data.ID}}" data-title="забрати з порівняння" data-placement="top" data-toggle="tooltip" data-original-title="" title="">
                                <i class="fa fa-check-square-o"></i> порівняння
                            </button>
                        {{else}}
                            <button class="btn btn-success btn-xs btn-add-to-compare" data-action="plugin:shop:list_compare:add" data-id="{{data.ID}}" data-title="додати до порівняння" data-placement="top" data-toggle="tooltip" data-original-title="" title="">
                                <i class="fa fa-square-o"></i> порівняння
                            </button>
                        {{/if}}
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="shop-product-social"></div>
                </li>

                <li class="list-group-item">
                    <div class="shop-component shop-product-tabs">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#shop-product-overview-genereal-ID" data-toggle="tab">Опис</a></li>
                            <li><a href="#shop-product-overview-technical-ID" data-toggle="tab">Характеристики</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="shop-product-overview-genereal-ID">
                                <p>{{data.Description}}</p>
                            </div>
                            <div class="tab-pane" id="shop-product-overview-technical-ID">
                                <p>
                                    <ul>
                                    {{#each data.Features}}
                                        <li>{{this}}</li>
                                    {{/each}}
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>

        </div>
    </div>

    <div class="row">

        <div class="col-md-12">
            <div class="ma-upsellslider-container">
                <div class="ma-upsellslider-title">
                    <h4>Також рекомендуємо:</h4>
                </div>
            </div>
        </div>

    </div>
</div>