<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="product-name">
                <h3>{{data.OriginName}} - {{data.Name}} ({{data.Model}})</h3>
            </div>
        </div>
    </div>

    <div class="row">

        {{#if data.Attributes.IMAGES.HAS_MAIN}}
        <div class="col-md-5">
            <div class="shop-component shop-product-images">
                <div class="shop-product-image shop-product-image-main">
                    <a href="{{data.Attributes.IMAGES.MAIN}}" class="link" data-lightbox="shop-product-image-main">
                        <img src="{{data.Attributes.IMAGES.MAIN}}" class="image img-responsive" alt="{{data.Name}}" title="{{data.Name}}" />
                    </a>
                </div>
                {{#if data.Attributes.IMAGES.ADDITIONAL}}
                <div class="shop-product-image shop-product-image-additional">
                    <h4>Додаткові зображення:</h4>
                    <div class="row">
                        {{#each data.Attributes.IMAGES.ADDITIONAL}}
                        <div class="col-xs-3 col-md-2 shop-product-image-additional-entry">
                            <a href="{{this}}" class="link" data-lightbox="shop-product-image-additional">
                                <img src="{{this}}" class="image img-responsive" alt="{{data.Name}}" title="{{data.Name}}" />
                            </a>
                        </div>
                        {{/each}}
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
        <div class="col-md-7">
        {{else}}
        <div class="col-md-12">
        {{/if}}

            <ul class="list-group">

                <li class="list-group-item">
                    <div class="shop-component shop-product-attr shop-product-attr-availability">
                        <span class="value-prefix">Цей товар:</span>
                        {{#compare data.Status "==" "ACTIVE"}}
                        <span class="label label-success">є в наявності</span>
                        {{else}}
                        <span class="label label-warning">немає в наявності</span>
                        {{/compare}}
                    </div>
                    <div class="shop-component shop-product-attr shop-product-attr-origin">
                        <span class="value-prefix">Виробник:</span>
                        <span class="label label-default">{{data.OriginName}}</span>
                    </div>
                    <div class="shop-component shop-product-attr shop-product-attr-model">
                        <span class="value-prefix">Модель:</span>
                        <span class="label label-default">{{data.Model}}</span>
                    </div>
                    <div class="shop-component shop-product-attr shop-product-attr-code">
                        <span class="value-prefix">Код товару:</span>
                        <span class="label label-default">#{{data.ID}}</span>
                    </div>
                    <div class="shop-component shop-product-attr shop-product-attr-price">
                        <span class="value-prefix">Ціна:</span>
                        <span class="label label-default moneyType">{{data.Price}} грн.</span>
                    </div>
                    {{#mpwsIsNotEmpty data.Prices }}
                    <div class="shop-component shop-product-attr shop-product-attr-price">
                        <span class="value-prefix">Діаграма ціни:</span>
                        <span id="sparkline" class="productSparkline"></span>
                    </div>
                    {{/mpwsIsNotEmpty}}
                </li>

                <li class="list-group-item">
                    <div class="shop-component shop-product-description shop-product-description-short">{{data.Description}}</div>
                </li>

                <li class="list-group-item">
                    <div class="shop-component shop-product-buttons-addto">
                        {{#if data.ViewExtras.InCartCount }}
                            <button class="btn btn-warning btn-xs btn-add-to-cart withNotificationBadge" data-action="plugin:shop:list_cart:add" data-id="{{data.ID}}" data-title="+ в кошик" data-placement="top" data-toggle="tooltip" data-original-title="" title="">
                                <i class="fa fa-shopping-cart"></i> +1 в кошик
                                {{#gt data.ViewExtras.InCartCount 99}}
                                <sub class="badge wide animated">&gt;99</sub>
                                {{else}}
                                <sub class="badge animated">{{data.ViewExtras.InCartCount}}</sub>
                                {{/gt}}
                            </button>
                        {{else}}
                            <button class="btn btn-success btn-xs btn-add-to-cart" data-action="plugin:shop:list_cart:add" data-id="{{data.ID}}" data-title="+ в кошик" data-placement="top" data-toggle="tooltip" data-original-title="" title="">
                                <i class="fa fa-shopping-cart"></i> +1 в кошик
                            </button>
                        {{/if}}
                        {{#if data.ViewExtras.InWish }}
                            <button class="btn btn-warning btn-xs btn-add-to-wish" data-action="plugin:shop:list_wish:remove" data-id="{{data.ID}}" data-title="+ в мій список" data-placement="top" data-toggle="tooltip" data-original-title="" title="">
                                <i class="fa fa-check-square-o"></i> мій список
                            </button>
                        {{else}}
                            <button class="btn btn-success btn-xs btn-add-to-wish" data-action="plugin:shop:list_wish:add" data-id="{{data.ID}}" data-title="+ в мій список" data-placement="top" data-toggle="tooltip" data-original-title="" title="">
                                <i class="fa fa-square-o"></i> мій список
                            </button>
                        {{/if}}
                        {{#if data.ViewExtras.InCompare }}
                            <button class="btn btn-warning btn-xs btn-add-to-compare" data-action="plugin:shop:list_compare:remove" data-id="{{data.ID}}" data-title="порівняти" data-placement="top" data-toggle="tooltip" data-original-title="" title="">
                                <i class="fa fa-check-square-o"></i> порівняння
                            </button>
                        {{else}}
                            <button class="btn btn-success btn-xs btn-add-to-compare" data-action="plugin:shop:list_compare:add" data-id="{{data.ID}}" data-title="порівняти" data-placement="top" data-toggle="tooltip" data-original-title="" title="">
                                <i class="fa fa-square-o"></i> порівняння
                            </button>
                        {{/if}}
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="shop-product-social"></div>
                </li>

                <li class="list-group-item">
                    <div class="shop-component shop-product-tabs">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#shop-product-overview-genereal-ID" data-toggle="tab">Опис</a></li>
                            <li><a href="#shop-product-overview-technical" data-toggle="tab">Характеристики</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="shop-product-overview-genereal-ID">
                                <p>{{data.Description}}</p>
                            </div>
                            <div class="tab-pane" id="shop-product-overview-technical-ID">
                                <p>{{data.Description}}</p>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>

        </div>
    </div>

    <div class="row">

        <div class="col-md-12">
            <div class="ma-upsellslider-container">
                <div class="ma-upsellslider-title">
                    <h4>Також рекомендуємо:</h4>
                </div>
            </div>
        </div>

    </div>
</div>