<a href="javascript://" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
    <i class="fa fa-gears fa-fw"></i> {{lang.menu.title}}
    <i class="fa fa-fw fa-caret-down"></i>
</a>
<ul class="dropdown-menu" role="menu" id="menu_system">
    <li>
        <a href="{{bb_link instances.root.urls.index}}">
            <i class="fa fa-dashboard fa-fw"></i> {{lang.menu.dashboard}}
        </a>
    </li>
    <!-- /.nav-second-level -->
    {{#if data.p_CanMaintain}}
    <li class="menu-system-customers">
        <a href="{{bb_link instances.system.urls.customersList}}">
            <i class="fa fa-fw fa-sitemap"></i> {{lang.menu.customers}}
        </a>
    </li>
    <li class="menu-system-migrations">
        <a href="{{bb_link instances.system.urls.migrations}}">
            <i class="fa fa-fw fa-database"></i> {{lang.menu.migrations}}
        </a>
    </li>
    <li class="menu-system-users">
        <a href="{{bb_link instances.system.urls.usersList}}">
            <i class="fa fa-fw fa-users"></i> {{lang.menu.users}}
        </a>
    </li>
    {{else}}
    {{#if data.p_CanAdmin}}
    <li class="menu-system-customers">
        <a href="{{bb_link instances.system.urls.customerEdit id="1"}}">
            <i class="fa fa-fw fa-pencil"></i> {{lang.menu.customerEdit}}
        </a>
    </li>
    {{/if}}
    {{#or data.p_CanAdmin data.p_AddUsers}}
    <li class="menu-system-users">
        <a href="{{bb_link instances.system.urls.usersList}}">
            <i class="fa fa-fw fa-users"></i> {{lang.menu.users}}
        </a>
    </li>
    {{/or}}
    {{/if}}
    <li>
        <a href="{{bb_link instances.root.urls.email}}">
            <i class="fa fa-dashboard fa-fw"></i> {{lang.menu.email}}
        </a>
    </li>
</ul>