<div class="row">
    <div class="col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <span class="title">{{lang.managerFeeds.titleImport}}</span>
            </div>
            <div class="panel-body">
            {{#each data}}
                <ul class="list-group feeds">
                    {{#if_eq type 'generated'}}
                    <a class="list-group-item feed-item" href="{{link}}" target="_blank" title="{{name}}">
                        <span class="time badge pull-left">{{time}}</span>
                        <span class="name">{{name}}</span>
                        <i class="fa fa-download pull-right text-info"></i>
                    </a>
                    {{/if_eq}}
                </ul>
            {{/each}}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <i class="fa fa-plus fa-fw upload-feed text-info"></i>
                <span class="title">{{lang.managerFeeds.titleExport}}</span>
            </div>
            <div class="panel-body">
                Panel content
            </div>
        </div>
    </div>
</div>