<div class="well">
    <a href="{{bb_link instances.shop.urls.productCreate id=data.ID asRoot=true}}" class="btn btn-outline btn-primary btn-xs">
        <i class="fa fa-plus"></i> {{lang.productManager_Button_Create_Product}}
    </a>
    <a href="{{bb_link instances.shop.urls.categoryCreate id=data.ID asRoot=true}}" class="btn btn-outline btn-primary btn-xs">
        <i class="fa fa-plus"></i> {{lang.productManager_Button_Create_Category}}
    </a>
    <a href="{{bb_link instances.shop.urls.originCreate id=data.ID asRoot=true}}" class="btn btn-outline btn-primary btn-xs">
        <i class="fa fa-plus"></i> {{lang.productManager_Button_Create_Origin}}
    </a>
    <a href="javascript://" class="btn btn-outline btn-warning btn-xs import-feed-products">
        <i class="fa fa-upload"></i> {{lang.productManager_Button_Upload_ProductFeed}}
    </a>
    <a href="javascript://" class="btn btn-outline btn-success btn-xs export-feed-products">
        <i class="fa fa-download"></i> {{lang.productManager_Button_Download_ProductFeed}}
    </a>
</div>
<div class="row">
    <div class="col-sm-12 col-lg-3">
        <ul class="nav nav-pills shop-managerContent-filters">
            <li><a href="#tree" data-toggle="tab">Категорії</a></li>
            <li><a href="#origins" data-toggle="tab">Виробники</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade tree" id="tree"></div>
            <div class="tab-pane fade origins" id="origins"></div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-9">
        <div class="products"></div>
    </div>
</div>