<div class="panel-heading">
    <a href="{{bb_link instances.shop.urls.productCreate id=data.ID asRoot=true}}">
        <i class="fa fa-plus fa-fw"></i>
    </a>
    <span class="title">{{lang.pluginMenu_Products_Grid_Title}}</span>
    <span class="category-title hidden">
        <strong class="prefix">(</strong><strong class="text">{{extras._category.Name}}</strong><strong class="suffix">)</strong>
    </span>
    <div class="search-block">
        <i class="fa fa-search"></i>
        <input type="text" class="search" value="" data-role="tagsinput" />
    </div>
</div>
<!-- /.panel-heading -->
<div class="panel-body">
    <div class="table-responsive">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-tabs-plugin-shop-products">
            <li class="tab-link products-active">
                <a href="{{bb_link instances.shop.urls.contentList asRoot=true}}/active">
                    <i class="fa fa-bolt"></i>
                    {{lang.product_status_ACTIVE}}
                    <span class="badge"></span>`
                </a>
            </li>
            <li class="tab-link products-archived">
                <a href="{{bb_link instances.shop.urls.contentList asRoot=true}}/archived">
                    <i class="fa fa-archived"></i>
                    {{lang.product_status_ARCHIVED}}
                    <span class="badge"></span>
                </a>
            </li>
            <li class="tab-link products-discount">
                <a href="{{bb_link instances.shop.urls.contentList asRoot=true}}/discount">
                    <i class="fa fa-tag"></i>
                    {{lang.product_status_DISCOUNT}}
                    <span class="badge"></span>
                </a>
            </li>
            <li class="tab-link products-defect">
                <a href="{{bb_link instances.shop.urls.contentList asRoot=true}}/defect">
                    <i class="fa fa-tags"></i>
                    {{lang.product_status_DEFECT}}
                    <span class="badge"></span>
                </a>
            </li>
            <li class="tab-link products-waiting">
                <a href="{{bb_link instances.shop.urls.contentList asRoot=true}}/waiting">
                    <i class="fa fa-truck"></i>
                    {{lang.product_status_WAITING}}
                    <span class="badge"></span>
                </a>
            </li>
            <li class="tab-link products-preorder">
                <a href="{{bb_link instances.shop.urls.contentList asRoot=true}}/preorder">
                    <i class="fa fa-phone"></i>
                    {{lang.product_status_PREORDER}}
                    <span class="badge"></span>
                </a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active products"></div>
        </div>
    </div>
    <!-- /.table-responsive -->
</div>
<!-- /.panel-body -->