<a href="javascript://"><i class="fa fa-shopping-cart fa-fw"></i> {{lang.pluginMenuTitle}}<span class="fa arrow"></span></a>
<ul class="nav nav-second-level collapse">
    <li rel="menu" class="menu-shop-products">
        <a href="{{bb_link instances.shop.urls.contentList asRoot=true}}">
            <i class="fa fa-shopping-cart"></i> {{lang.pluginMenu_Products}}
        </a>
    </li>
    <li rel="menu" class="menu-shop-orders">
        <a href="{{bb_link instances.shop.urls.ordersList asRoot=true}}">
            <i class="fa fa-usd"></i> {{lang.pluginMenu_Orders}}
        </a>
    </li>
    <li rel="menu" class="menu-shop-reports">
        <a href="{{bb_link instances.shop.urls.reports asRoot=true}}">
            <i class="fa fa-signal"></i> {{lang.pluginMenu_Reports}}
        </a>
    </li>
</ul>
<!-- /.nav-second-level -->