<ul class="nav nav-pills">
    <li class="tab tab-general active"><a href="#general" data-toggle="tab">Основні</a></li>
    <li class="tab tab-contacts"><a href="#contacts" data-toggle="tab">Контакти</a></li>
    <li class="tab tab-openhours"><a href="#openhours" data-toggle="tab">Графік роботи</a></li>
    <li class="tab tab-shipping"><a href="#shipping" data-toggle="tab">Доставка</a></li>
    <li class="tab tab-payments"><a href="#payments" data-toggle="tab">Оплата</a></li>
    <li class="hidden pull-right"><i class="fa fa-plus fa-fw add-contact text-success"></i></li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade in active" id="general">
        <form class="form-horizontal" role="form">
            <fieldset>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="textinput">Назва відділу</label>
                    <div class="col-sm-10">
                        <input type="text" data-property="ShopName" class="form-control setting" id="{{extras.addressFields.ShopName.ID}}" value="{{extras.addressFields.ShopName.Value}}">
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="textinput">Адреса 1</label>
                    <div class="col-sm-10">
                        <input type="text" data-property="AddressLine1" class="form-control setting" id="{{extras.addressFields.AddressLine1.ID}}" value="{{extras.addressFields.AddressLine1.Value}}">
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="textinput">Адреса 2</label>
                    <div class="col-sm-10">
                        <input type="text" data-property="AddressLine2" class="form-control setting" id="{{extras.addressFields.AddressLine2.ID}}" value="{{extras.addressFields.AddressLine2.Value}}">
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="textinput">Адреса 3</label>
                    <div class="col-sm-10">
                        <input type="text" data-property="AddressLine3" class="form-control setting" id="{{extras.addressFields.AddressLine3.ID}}" value="{{extras.addressFields.AddressLine3.Value}}">
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="tab-pane fade fields" id="contacts">
        {{#each extras.contactFields}}
        <div class="form-group contact-template multiple-form-group input-group contact-item">
            <i class="fa fa-times text-danger fa-fw remove-contact"></i>
            <div class="input-group-btn">
                <div class="wrapper">
                    <button type="button" class="btn btn-link button-label{{#if_eq _viewFieldName 'Custom'}} custom-type{{/if_eq}}"><span class="concept">{{Label}}</span></button>
                    <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                    <ul class="dropdown-menu contact-types" role="menu">
                        <li><a href="javascript://" class="contact-type" data-type="Phone">Телефон</a></li>
                        <li><a href="javascript://" class="contact-type" data-type="Fax">Факс</a></li>
                        <li><a href="javascript://" class="contact-type" data-type="Skype">Skype</a></li>
                        <li><a href="javascript://" class="contact-type" data-type="Email">E-mail</a></li>
                        <li><a href="javascript://" class="contact-type" data-type="Www">Web</a></li>
                        <li><a href="javascript://" class="contact-type" data-type="Map">Map</a></li>
                        <li class="divider"></li>
                        {{#if_eq _viewFieldName 'Custom'}}
                        <li><a href="javascript://" class="contact-type custom-contact-type" data-type="Custom">{{Label}}</a></li>
                        {{else}}
                        <li><a href="javascript://" class="contact-type custom-contact-type" data-type="Custom">Свій тип</a></li>
                        {{/if_eq}}
                    </ul>
                </div>
            </div>
            <input type="text" id="{{ID}}" class="form-control setting" data-property="{{_viewFieldName}}" data-label="{{Label}}" value="{{Value}}">
        </div>
        {{/each}}
    </div>
    <div class="tab-pane fade" id="openhours">
        <table class="table table-striped">
            <tr>
                <th>День</th>
                <th>Графік</th>
            </tr>
            <tr>
                <td>Понеділок</td>
                <td><span class="ediatble setting" id="{{extras.openHoursFields.OpenHoursOnMon.ID}}" data-property="OpenHoursOnMon">{{extras.openHoursFields.OpenHoursOnMon.Value}}</span></td>
            </tr>
            <tr>
                <td>Вівторок</td>
                <td><span class="ediatble setting" id="{{extras.openHoursFields.OpenHoursOnTue.ID}}" data-property="OpenHoursOnTue">{{extras.openHoursFields.OpenHoursOnTue.Value}}</span></td>
            </tr>
            <tr>
                <td>Середа</td>
                <td><span class="ediatble setting" id="{{extras.openHoursFields.OpenHoursOnWed.ID}}" data-property="OpenHoursOnWed">{{extras.openHoursFields.OpenHoursOnWed.Value}}</span></td>
            </tr>
            <tr>
                <td>Четвер</td>
                <td><span class="ediatble setting" id="{{extras.openHoursFields.OpenHoursOnThu.ID}}" data-property="OpenHoursOnThu">{{extras.openHoursFields.OpenHoursOnThu.Value}}</span></td>
            </tr>
            <tr>
                <td>Пятниця</td>
                <td><span class="ediatble setting" id="{{extras.openHoursFields.OpenHoursOnFri.ID}}" data-property="OpenHoursOnFri">{{extras.openHoursFields.OpenHoursOnFri.Value}}</span></td>
            </tr>
            <tr>
                <td>Субота</td>
                <td><span class="ediatble setting" id="{{extras.openHoursFields.OpenHoursOnSat.ID}}" data-property="OpenHoursOnSat">{{extras.openHoursFields.OpenHoursOnSat.Value}}</span></td>
            </tr>
            <tr>
                <td>Неділя</td>
                <td><span class="ediatble setting" id="{{extras.openHoursFields.OpenHoursOnSun.ID}}" data-property="OpenHoursOnSun">{{extras.openHoursFields.OpenHoursOnSun.Value}}</span></td>
            </tr>
        </table>
    </div>
    <div class="tab-pane fade" id="shipping">
        <div id="{{extras.information.Shipping.ID}}" data-type="wysihtml5" data-property="Shipping" class="setting shipping wysihtml5">{{{extras.information.Shipping.Value}}}</div>
    </div>
    <div class="tab-pane fade" id="payments">
        <div id="{{extras.information.Payment.ID}}" data-type="wysihtml5" data-property="Payment" class="setting payments wysihtml5">{{{extras.information.Payment.Value}}}</div>
    </div>
</div>
<div class="hidden">
    <div class="form-group contact-template multiple-form-group input-group contact-item">
        <i class="fa fa-times text-danger fa-fw remove-contact"></i>
        <div class="input-group-btn">
            <div class="wrapper">
                <button type="button" class="btn btn-link button-label"><span class="concept">Телефон</span></button>
                <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu contact-types" role="menu">
                    <li><a href="javascript://" class="contact-type" data-type="Phone">Телефон</a></li>
                    <li><a href="javascript://" class="contact-type" data-type="Fax">Факс</a></li>
                    <li><a href="javascript://" class="contact-type" data-type="Skype">Skype</a></li>
                    <li><a href="javascript://" class="contact-type" data-type="Email">E-mail</a></li>
                    <li><a href="javascript://" class="contact-type" data-type="Www">Web</a></li>
                    <li><a href="javascript://" class="contact-type" data-type="Map">Map</a></li>
                    <li class="divider"></li>
                    <li><a href="javascript://" class="contact-type" data-type="Custom">Свій тип</a></li>
                </ul>
            </div>
        </div>
        <input type="text" class="form-control setting" data-property="Phone" data-label="Телефон" value="">
    </div>
</div>