<div class="panel-heading">
    <i class="fa fa-bell"></i>
    Сповіщення
</div>
<div class="panel-body">
    <div class="list-group">
        <a href="javascript://" class="list-group-item" data-id="{{ID}}">
            <input type="checkbox" class="switcher pull-right">
            додався новий товар(и)
        </a>
        <a href="javascript://" class="list-group-item" data-id="{{ID}}">
            <input type="checkbox" class="switcher pull-right">
            ціна товару(ів) знизилася
        </a>
        <a href="javascript://" class="list-group-item" data-id="{{ID}}">
            <input type="checkbox" class="switcher pull-right">
            почалася промо акція
        </a>
        <a href="javascript://" class="list-group-item" data-id="{{ID}}">
            <input type="checkbox" class="switcher pull-right">
            зявився новий виробник
        </a>
        <a href="javascript://" class="list-group-item" data-id="{{ID}}">
            <input type="checkbox" class="switcher pull-right">
            зявилася нова категорія
        </a>
        <a href="javascript://" class="list-group-item" data-id="{{ID}}">
            <input type="checkbox" class="switcher pull-right">
            зявився вживаний/бракований товар
        </a>
    </div>
</div>
<!-- /.panel-body -->