<div class="row">
    <div class="col-md-4">
        <div class="shop-settings shop-settings-curency">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <i class="fa fa-money"></i>
                    Валюта магазину
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a href="javascript://" class="list-group-item" data-id="{{ID}}">
                            <input type="checkbox" class="switcher pull-right">
                            додався новий товар(и)
                        </a>
                        <a href="javascript://" class="list-group-item" data-id="{{ID}}">
                            <input type="checkbox" class="switcher pull-right">
                            ціна товару(ів) знизилася
                        </a>
                        <a href="javascript://" class="list-group-item" data-id="{{ID}}">
                            <input type="checkbox" class="switcher pull-right">
                            почалася промо акція
                        </a>
                        <a href="javascript://" class="list-group-item" data-id="{{ID}}">
                            <input type="checkbox" class="switcher pull-right">
                            зявився новий виробник
                        </a>
                        <a href="javascript://" class="list-group-item" data-id="{{ID}}">
                            <input type="checkbox" class="switcher pull-right">
                            зявилася нова категорія
                        </a>
                        <a href="javascript://" class="list-group-item" data-id="{{ID}}">
                            <input type="checkbox" class="switcher pull-right">
                            зявився вживаний/бракований товар
                        </a>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
        <div class="shop-settings shop-settings-alerts"></div>
        <div class="shop-address">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-phone-square text-success"></i>
                    Контактні дані та графік роботи
                </div>
                <div class="panel-body">
                    <div class="input-group">
                        <span class="input-group-addon">Назва</span>
                        <input type="text" name="Tags" class="form-control features-list" value="">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Адреса 1</span>
                        <input type="text" name="Tags" class="form-control features-list" value="">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Адреса 2</span>
                        <input type="text" name="Tags" class="form-control features-list" value="">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Телефон загальний</span>
                        <input type="text" name="Tags" class="form-control features-list" value="">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Телефон відділ продажу</span>
                        <input type="text" name="Tags" class="form-control features-list" value="">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Телефон відділ замовлень</span>
                        <input type="text" name="Tags" class="form-control features-list" value="">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Телефон відділ доставки</span>
                        <input type="text" name="Tags" class="form-control features-list" value="">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Скайп-підтримка</span>
                        <input type="text" name="Tags" class="form-control features-list" value="">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">url до карти</span>
                        <input type="text" name="Tags" class="form-control features-list" value="">
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
    </div>
    <div class="col-md-4 delivery-agencies"></div>
    <div class="col-md-4">
        <div class="shop-settings shop-settings-order-form">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <i class="fa fa-bars"></i>
                    Форма замовлення
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a href="javascript://" class="list-group-item" data-id="{{ID}}">
                            <input type="checkbox" class="switcher pull-right">
                            імя
                        </a>
                        <a href="javascript://" class="list-group-item" data-id="{{ID}}">
                            <input type="checkbox" class="switcher pull-right">
                            ел.пошта
                        </a>
                        <a href="javascript://" class="list-group-item" data-id="{{ID}}">
                            <input type="checkbox" class="switcher pull-right">
                            контактний телефон
                        </a>
                        <a href="javascript://" class="list-group-item" data-id="{{ID}}">
                            <input type="checkbox" class="switcher pull-right">
                            адреса доставки
                        </a>
                        <a href="javascript://" class="list-group-item" data-id="{{ID}}">
                            <input type="checkbox" class="switcher pull-right">
                            поштовий індекс
                        </a>
                        <a href="javascript://" class="list-group-item" data-id="{{ID}}">
                            <input type="checkbox" class="switcher pull-right">
                            країна
                        </a>
                        <a href="javascript://" class="list-group-item" data-id="{{ID}}">
                            <input type="checkbox" class="switcher pull-right">
                            місто
                        </a>
                        <a href="javascript://" class="list-group-item" data-id="{{ID}}">
                            <input type="checkbox" class="switcher pull-right">
                            перевізник
                        </a>
                        <a href="javascript://" class="list-group-item" data-id="{{ID}}">
                            <input type="checkbox" class="switcher pull-right">
                            побажання
                        </a>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
    </div>
</div>