<option value="NEW">{{lang.order_status_NEW}}</option>
<option value="ACTIVE">{{lang.order_status_ACTIVE}}</option>
<option value="LOGISTIC_DELIVERING">{{lang.order_status_LOGISTIC_DELIVERING}}</option>
<option value="LOGISTIC_DELIVERED">{{lang.order_status_LOGISTIC_DELIVERED}}</option>
<option value="SHOP_CLOSED">{{lang.order_status_SHOP_CLOSED}}</option>