<option value="">{{lang.logisticAgency_Unknown}}</option>
<option value="company_gunsel">{{lang.logisticAgency_company_gunsel}}</option>
<option value="company_novaposhta">{{lang.logisticAgency_company_novaposhta}}</option>
<option value="company_intime">{{lang.logisticAgency_company_intime}}</option>
<option value="company_ukrposhta">{{lang.logisticAgency_company_ukrposhta}}</option>