<div class="shop-widget-productlist">
{{#each products }}
    <div class="wrapper">
        <a href="javascript://" class="shop-product-remove" data-action="shop:cart:remove" data-id="{{ID}}">
            <i class="fa fa-trash-o"></i>
        </a>
        <div class="shop-product-image shop-product-image-main">
            <a href="/#shop/product/{{ID}}" class="link" title="{{OriginName}} - {{Name}}">
                <img src="{{Attributes.IMAGES.MAIN}}" onerror="this.src='{{Attributes.IMAGES.EMPTY}}'" class="image img-responsive" alt="{{OriginName}} - {{Name}}" title="{{OriginName}} - {{Name}}" />
            </a>
        </div>
        <div class="product-row">
            <span class="product-name"><a href="/#shop/product/{{ID}}" title="{{OriginName}} - {{Name}}">{{OriginName}} - {{Name}}</a></span>
            <span class="label label-warning product-price">{{Price}}<span class="moneyType">грн.</span></span>
            <span class="label label-default">x</span>
            <a class="productQuantityAction productQuantityAdd" data-action="shop:cart:add" data-id="{{ID}}" href="javascript://"><i class="fa fa-plus"></i></a>
            <span class="label label-warning product-quantity">{{_quantity}}</span>
            <a class="productQuantityAction productQuantitySub" data-action="shop:cart:sub" data-id="{{ID}}" href="javascript://"><i class="fa fa-minus"></i></a>
            <span class="label label-default">=</span>
            <span class="label label-success product-total">{{_total}}<span class="moneyType">грн.</span></span>
        </div>
    </div>
{{/each}}
</div>
<div class="well cartInfo">
    <div class="shopCartSubTotal">
        <span class="value-prefix">Сума:</span>
        <span class="value">{{info.subTotal}}<span class="moneyType">грн.</span></span>
    </div>
    <div class="shopCartTotal">
        <span class="value-prefix">До оплати:</span>
        <span class="value label label-success">{{info.total}}<span class="moneyType">грн.</span></span>
    </div>
</div>