<!DOCTYPE html>
<html lang="{{LANG}}">
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
</head>
<body class="MPWSPage">

    <div class="MPWSLayout row">
        <div class="container">
            <div class="MPWSPageHeader row">
                <div class="MPWSBlockLeft row">
                    <h2>Welcome to MPWS Framework!</h2>
                    <span>current version: <b>Atlantis</b></span>
                </div>
                <div class="MPWSBlockCenter row"></div>
                <div class="MPWSBlockRight row"></div>
            </div>
        </div>
        <div class="MPWSWidgetsTop"></div>
        <div class="MPWSBreadcrumb"></div>
        <div class="container">
            <div class="MPWSPageBody row">
                <div class="MPWSBlockLeft row"></div>
                <div class="MPWSBlockCenter row">



                    <!-- Main -->
                    <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                          <!-- Left column -->
                          <strong><i class="glyphicon glyphicon-wrench"></i> Tools</strong>
                        </div><!-- /col-3 -->
                        <div class="col-md-9">


                        </div><!--/col-span-9-->
                    </div>
                    </div>
                    <!-- /Main -->



                </div>
                <div class="MPWSBlockRight row"></div>
            </div>
        </div>
        <div class="MPWSBreadcrumb"></div>
        <div class="MPWSWidgetsBottom"></div>
        <div class="container">
            <div class="MPWSPageFooter row">
                <div class="MPWSBlockLeft row"></div>
                <div class="MPWSBlockCenter row"></div>
                <div class="MPWSBlockRight row"></div>
            </div>
        </div>
    </div>

    <div class="static-content-wrapper render-hidden" title="page basic javascript container">
        <script type="text/javascript" data-main="/{{PATH_STATIC}}/default/{{MPWS_VERSION}}/js/loader.js" src="/{{PATH_STATIC}}/default/{{MPWS_VERSION}}/js/lib/require.js"></script>
        <script type="text/javascript" id="system">
            window.MPWS = {{SYSTEMJS}};
        </script>
    </div>

</body>
</html>