<div id="menu-wrapper-ID">
    <div id="sidebar-wrapper">
        <ul id="sidebar_menu" class="sidebar-nav">
            <li class="sidebar-brand">
                <a id="menu-toggle" href="javascript://">
                    <span class="toolbox-menu-title">{{lang.pluginLogoText}}</span>
                    <span id="main_icon" class="fa fa-align-justify"></span>
                </a>
            </li>
        </ul>
        <ul class="sidebar-nav" id="sidebar">
            <li><a href="/#">{{lang.pluginMenu_Dashboard}}<i class="sub_icon fa fa-tachometer"></i></a></li>
            <li><a href="/#notifications">{{lang.pluginMenu_Notifications}}<i class="sub_icon fa fa-bell"></i></a></li>
            <li><a href="#profile">{{lang.pluginMenu_Profile}}<i class="sub_icon fa fa-user"></i></a></li>
            <li><a href="/#administrators">{{lang.pluginMenu_Administrators}}<i class="sub_icon fa fa-users"></i></a></li>
            <li><a href="/#version">{{lang.pluginMenu_Version}}<i class="sub_icon fa fa-info-circle"></i></a></li>
            <li>
                <ul name="PluginMenuList"></ul>
            </li>
            <li><a href="/#signout">{{lang.pluginMenu_Logout}}<span class="sub_icon fa fa-power-off"></span></a></li>
        </ul>
    </div>
</div>