<ol class="breadcrumb shop-breadcrumb">

    <li class="active">
        <a title="Повернутися назад" href="javascript://" onclick="javascript:history.go(-1);">
            <i class="fa fa-arrow-circle-left fa-fw"></i>
        </a>
    </li>

    {{#compare app.location.fragment "==" "" }}
    <li class="active">Головна</li>
    {{/compare}}

    {{#compare app.location.fragment "==" "!/shop" }}
    <li class="active">Головна</li>
    {{/compare}}

    {{#compare app.location.fragment "==" "!/shop/cart" }}
    <li><a title="Головна" href="/">Головна</a></li>
    <li class="active">Кошик</li>
    {{/compare}}

    {{#compare app.location.fragment "==" "!/shop/wishlist" }}
    <li><a title="Головна" href="/">Головна</a></li>
    <li class="active">Мій список</li>
    {{/compare}}

    {{#compare app.location.fragment "==" "!/shop/cart/checkout" }}
    <li><a title="Головна" href="/">Головна</a></li>
    <li class="active">Оформлення</li>
    {{/compare}}

    {{#compare app.location.fragment "==" "!/shop/compare" }}
    <li><a title="Головна" href="/">Головна</a></li>
    <li class="active">Порівняння</li>
    {{/compare}}

    {{#srtStartsWith app.location.fragment "!/shop/tracking" }}
    <li><a title="Головна" href="/">Головна</a></li>
    <li class="active">Відстеження вантажу</li>
    {{/srtStartsWith}}

    {{#srtStartsWith app.location.fragment "!/account/login" }}
    <li><a title="Головна" href="/">Головна</a></li>
    <li class="active">Вхід</li>
    {{/srtStartsWith}}

    {{#srtStartsWith app.location.fragment "!/account/create" }}
    <li><a title="Головна" href="/">Головна</a></li>
    <li class="active">Реєстрація</li>
    {{/srtStartsWith}}

    {{#srtStartsWith app.location.fragment "!/shop/account/orders" }}
    <li><a title="Головна" href="/">Головна</a></li>
    <li><a title="Профіль" href="/#!/account/summary">Профіль</a></li>
    <li class="active">Мої замовлення</li>
    {{/srtStartsWith}}

    {{#srtStartsWith app.location.fragment "!/account/summary" }}
    <li><a title="Головна" href="/">Головна</a></li>
    <li class="active">Профіль</li>
    {{/srtStartsWith}}

    {{#srtStartsWith app.location.fragment "!/account/password" }}
    <li><a title="Головна" href="/">Головна</a></li>
    <li><a title="Профіль" href="/#!/account/summary">Профіль</a></li>
    <li class="active">Зміна паролю</li>
    {{/srtStartsWith}}

    {{#srtStartsWith app.location.fragment "!/account/edit" }}
    <li><a title="Головна" href="/">Головна</a></li>
    <li><a title="Профіль" href="/#!/account/summary">Профіль</a></li>
    <li class="active">Редагування</li>
    {{/srtStartsWith}}

    {{#srtStartsWith app.location.fragment "!/account/delete" }}
    <li><a title="Головна" href="/">Головна</a></li>
    <li><a title="Профіль" href="/#!/account/summary">Профіль</a></li>
    <li class="active">Видалення</li>
    {{/srtStartsWith}}

    {{#srtStartsWith app.location.fragment "!/account/addresses" }}
    <li><a title="Головна" href="/">Головна</a></li>
    <li><a title="Профіль" href="/#!/account/summary">Профіль</a></li>
    <li class="active">Мої адреси</li>
    {{/srtStartsWith}}

    {{#srtStartsWith app.location.fragment "!/shop/catalog/" }}
        <li><a title="Головна" href="/">Головна</a></li>
        {{#foreach data.categories}}
            {{#if $last}}
                <li class="active">{{Name}}</li>
            {{else}}
                <li><a title="Категорія {{Name}}" href="{{bb_link ../../instances.shop.urls.shop_catalog_category category=ExternalKey asRoot=true}}">{{Name}}</a></li>
            {{/if}}
        {{/foreach}}
    {{/srtStartsWith}}

    {{#srtStartsWith app.location.fragment "!/shop/product/" }}
        <li><a title="Головна" href="/">Головна</a></li>
        {{#foreach data.categories}}
        <li><a title="Категорія {{Name}}" href="{{bb_link ../../instances.shop.urls.shop_catalog_category category=ExternalKey asRoot=true}}">{{Name}}</a></li>
        {{/foreach}}
        {{#if data.product}}
        <li class="active"><a title="{{data.product._displayName}}" href="{{bb_link ../../instances.shop.urls.shop_product product=data.product.ExternalKey asRoot=true}}">{{data.product._displayName}}</a></li>
        {{/if}}
    {{/srtStartsWith}}
</ol>