<div id="progress" class="progress">
    <div class="progress-bar progress-bar-success"></div>
</div>
<div class="panel">
    {{#mpwsIsNotEmpty data.errors }}
    <div id="msg" class="alert alert-danger">
        {{lang.shopping_cart_error_title}}
        <ul class="errors">
        {{#each data.errors}}
            <li>
                <strong>
                    {{mpwsGetValueByKey ../lang key=@key prefix="popup_product_error_atField_"}}
                </strong>
                <ul>
                {{#each this}}
                    <li>{{mpwsGetValueByKey ../../lang key=this prefix="popup_product_error_"}}</li>
                {{/each}}
                </ul>
            </li>
        {{/each}}
        </ul>
    </div>
    {{/mpwsIsNotEmpty}}
    <div class="row">
        <div class="col-md-6">
            <div class="form-horizontal">
                <fieldset>
                    <legend>{{lang.popup_product_section_details_fieldset_Status}}</legend>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="category">{{lang.popup_product_section_details_field_Status}}</label>
                        <div class="col-md-8">
                            <div class="btn-group mpws-js-logvalueintoel" data-toggle="buttons">
                                <label class="btn btn-success{{#is data.Status 'ACTIVE'}} active{{/is}}" data-toggle="tooltip" data-placement="top" title="{{lang.product_status_ACTIVE}}">
                                    <input type="radio" name="Status" class="hidden" value="ACTIVE" data-dispval="{{lang.product_status_ACTIVE}}" autocomplete="off" checked>
                                    <i class="fa fa-fw fa-bolt"></i>
                                </label>
                                <label class="btn btn-warning{{#is data.Status 'WAITING'}} active{{/is}}" data-toggle="tooltip" data-placement="top" title="{{lang.product_status_WAITING}}">
                                    <input type="radio" name="Status" class="hidden" value="WAITING" data-dispval="{{lang.product_status_WAITING}}" autocomplete="off">
                                    <i class="fa fa-fw fa-truck"></i>
                                </label>
                                <label class="btn btn-info{{#is data.Status 'PREORDER'}} active{{/is}}" data-toggle="tooltip" data-placement="top" title="{{lang.product_status_PREORDER}}">
                                    <input type="radio" name="Status" class="hidden" value="PREORDER" data-dispval="{{lang.product_status_PREORDER}}" autocomplete="off">
                                    <i class="fa fa-fw fa-phone"></i>
                                </label>
                                <label class="btn btn-success{{#is data.Status 'DISCOUNT'}} active{{/is}}" data-toggle="tooltip" data-placement="top" title="{{lang.product_status_DISCOUNT}}">
                                    <input type="radio" name="Status" class="hidden" value="DISCOUNT" data-dispval="{{lang.product_status_DISCOUNT}}" autocomplete="off">
                                    <i class="fa fa-fw fa-tag"></i>
                                </label>
                                <label class="btn btn-primary{{#is data.Status 'DEFECT'}} active{{/is}}" data-toggle="tooltip" data-placement="top" title="{{lang.product_status_DEFECT}}">
                                    <input type="radio" name="Status" class="hidden" value="DEFECT" data-dispval="{{lang.product_status_DEFECT}}" autocomplete="off">
                                    <i class="fa fa-fw fa-tags"></i>
                                </label>
                                <label class="btn btn-danger{{#is data.Status 'ARCHIVED'}} active{{/is}}" data-toggle="tooltip" data-placement="top" title="{{lang.product_status_ARCHIVED}}">
                                    <input type="radio" name="Status" class="hidden" value="ARCHIVED" data-dispval="{{lang.product_status_ARCHIVED}}" autocomplete="off">
                                    <i class="fa fa-fw fa-archive"></i>
                                </label>
                            </div>
                            {{#if data.ID}}
                            <ul class="list-group shop-product-price-stats">
                                <li class="list-group-item">
                                    <span class="badge">{{mpwsGetValueByKey lang key=data.Status prefix="product_status_"}}</span>
                                    {{lang.popup_product_section_details_label_currentStatus}}
                                </li>
                            </ul>
                            {{/if}}
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="form-horizontal">
                <fieldset>
                    <legend>{{lang.popup_product_section_details_fieldset_General}}</legend>
                    <!-- Select Basic -->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="category">{{lang.popup_product_section_details_field_CategoryID}}</label>
                        <div class="col-md-8">
                            <input id="category" name="category" type="hidden" class="form-control input-md" value="{{data.CategoryID}}">
                        </div>
                    </div>
                    <!-- Select Basic -->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="origin">{{lang.popup_product_section_details_field_OriginID}}</label>
                        <div class="col-md-8">
                            <input id="origin" name="origin" type="hidden" class="form-control input-md" value="{{data.OriginID}}">
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="name">{{lang.popup_product_section_details_field_Name}}</label>
                        <div class="col-md-8">
                            <input id="name" name="Name" type="text" placeholder="" class="form-control input-md" required="required" value="{{data.Name}}">
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="model">{{lang.popup_product_section_details_field_Model}}</label>
                        <div class="col-md-8">
                            <input id="model" name="Model" type="text" placeholder="" class="form-control input-md" required="required" value="{{data.Model}}">
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="price">{{lang.popup_product_section_details_field_Price}}</label>
                        <div class="col-md-8">
                            <input id="price" name="Price" type="text" placeholder="" class="form-control input-md" required="required" value="{{data._prices.price}}">
                            {{#if data.ID}}
                            <ul class="list-group shop-product-price-stats">
                                <li class="list-group-item">
                                    <span class="badge">{{data._prices.price}}</span>
                                    {{lang.popup_product_section_details_label_currentPrice}}
                                </li>
                                <li class="list-group-item">
                                    <span class="badge">{{data._prices.previous}}</span>
                                    {{lang.popup_product_section_details_label_previousPrice}}
                                </li>
                                {{#mpwsIsNotEmpty data._prices.history }}
                                <li class="list-group-item">
                                    <span class="badge price-chart-wrapper">
                                        <div class="price-history-sparkline"></div>
                                    </span>
                                    {{lang.popup_product_section_details_label_chartPriceHistory}}
                                </li>
                                {{/mpwsIsNotEmpty}}
                            </ul>
                            {{/if}}
                        </div>
                    </div>
                    <!-- Textarea -->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="synopsis">{{lang.popup_product_section_details_field_Synopsis}}</label>
                        <div class="col-md-8">
                            <textarea class="form-control" id="synopsis" name="Synopsis">{{data.Synopsis}}</textarea>
                        </div>
                    </div>
                    <!-- Textarea -->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="description">{{lang.popup_product_section_details_field_Description}}</label>
                        <div class="col-md-8">
                            <textarea class="form-control" rows="6" id="description" name="Description">{{data.Description}}</textarea>
                        </div>
                    </div>
                    <!-- Is Promo-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="ispromo"></label>
                        <div class="col-md-8">
                            <label class="checkbox-inline">
                                <input type="checkbox" name="IsPromo" id="ispromo" {{#if data.IsPromo}}checked="checked"{{/if}}>
                                {{lang.popup_product_section_details_field_IsPromo}}
                            </label>
                        </div>
                    </div>
                    <!-- Is Offer-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="isoffer"></label>
                        <div class="col-md-8">
                            <label class="checkbox-inline">
                                <input type="checkbox" name="IsOffer" id="isoffer" {{#if data.IsOffer}}checked="checked"{{/if}}>
                                {{lang.popup_product_section_details_field_IsOffer}}
                            </label>
                            <span class="help-block"><i class="fa fa-fw fa-life-ring"></i>{{lang.popup_product_section_details_field_IsFeaturedTextHelper}}</span>
                        
                        </div>
                    </div>
                    <!-- Is Featured-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="isfeatured"></label>
                        <div class="col-md-8">
                            <label class="checkbox-inline">
                                <input type="checkbox" name="IsFeatured" id="isfeatured" {{#if data.IsFeatured}}checked="checked"{{/if}}>
                                {{lang.popup_product_section_details_field_IsFeatured}}
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-horizontal">
                <fieldset>
                    <legend>{{lang.popup_product_section_details_fieldset_Attributes}}</legend>
                    <!-- Select Basic -->
                    <div class="form-group">
                        <div class="col-md-12 uploads">
                            <div class="upload-errors"></div>
                            <div class="upload-wrapper">
                                <span class="btn fileinput-button">
                                    <i class="fa fa-upload text-success"></i>
                                    <i class="fa fa-warning text-danger"></i>
                                    <!-- The file input field used as target for the file upload widget -->
                                    <input id="file1" type="hidden" class="file-name" value="{{data.Images.[0].name}}" data-original="{{data.Images.[0].name}}">
                                    <input id="product-image-1" class="temp-upload-image" type="file" name="files">
                                    {{#if data.Images.[0]}}<img src="{{data.Images.[0].xs}}" class="uploaded-image" alt="{{Name}}">{{/if}}
                                    <span class="preview-image"></span>
                                </span>
                                <i class="fa fa-times fa-fw text-danger del-image"></i>
                                <i class="fa fa-undo fa-fw text-warning restore-image"></i>
                            </div>
                            <div class="upload-wrapper">
                                <span class="btn fileinput-button">
                                    <i class="fa fa-upload text-success"></i>
                                    <i class="fa fa-warning text-danger"></i>
                                    <!-- The file input field used as target for the file upload widget -->
                                    <input id="file2" type="hidden" class="file-name" value="{{data.Images.[1].name}}" data-original="{{data.Images.[1].name}}">
                                    <input id="product-image-2" class="temp-upload-image" type="file" name="files">
                                    {{#if data.Images.[1]}}<img src="{{data.Images.[1].xs}}" class="uploaded-image" alt="{{Name}}">{{/if}}
                                    <span class="preview-image"></span>
                                </span>
                                <i class="fa fa-times fa-fw text-danger del-image"></i>
                                <i class="fa fa-undo fa-fw text-warning restore-image"></i>
                            </div>
                            <div class="upload-wrapper">
                                <span class="btn fileinput-button">
                                    <i class="fa fa-upload text-success"></i>
                                    <i class="fa fa-warning text-danger"></i>
                                    <!-- The file input field used as target for the file upload widget -->
                                    <input id="file3" type="hidden" class="file-name" value="{{data.Images.[2].name}}" data-original="{{data.Images.[2].name}}">
                                    <input id="product-image-3" class="temp-upload-image" type="file" name="files">
                                    {{#if data.Images.[2]}}<img src="{{data.Images.[2].xs}}" class="uploaded-image" alt="{{Name}}">{{/if}}
                                    <span class="preview-image"></span>
                                </span>
                                <i class="fa fa-times fa-fw text-danger del-image"></i>
                                <i class="fa fa-undo fa-fw text-warning restore-image"></i>
                            </div>
                            <div class="upload-wrapper">
                                <span class="btn fileinput-button">
                                    <i class="fa fa-upload text-success"></i>
                                    <i class="fa fa-warning text-danger"></i>
                                    <!-- The file input field used as target for the file upload widget -->
                                    <input id="file4" type="hidden" class="file-name" value="{{data.Images.[3].name}}" data-original="{{data.Images.[3].name}}">
                                    <input id="product-image-4" class="temp-upload-image" type="file" name="files">
                                    {{#if data.Images.[3]}}<img src="{{data.Images.[3].xs}}" class="uploaded-image" alt="{{Name}}">{{/if}}
                                    <span class="preview-image"></span>
                                </span>
                                <i class="fa fa-times fa-fw text-danger del-image"></i>
                                <i class="fa fa-undo fa-fw text-warning restore-image"></i>
                            </div>
                            <div class="upload-wrapper">
                                <span class="btn fileinput-button">
                                    <i class="fa fa-upload text-success"></i>
                                    <i class="fa fa-warning text-danger"></i>
                                    <!-- The file input field used as target for the file upload widget -->
                                    <input id="file5" type="hidden" class="file-name" value="{{data.Images.[4].name}}" data-original="{{data.Images.[4].name}}">
                                    <input id="product-image-5" class="temp-upload-image" type="file" name="files">
                                    {{#if data.Images.[4]}}<img src="{{data.Images.[4].xs}}" class="uploaded-image" alt="{{Name}}">{{/if}}
                                    <span class="preview-image"></span>
                                </span>
                                <i class="fa fa-times fa-fw text-danger del-image"></i>
                                <i class="fa fa-undo fa-fw text-warning restore-image"></i>
                            </div>
                        </div>
                    </div>
                    <!-- Select Basic -->
                    <div class="form-group">
                        <div class="col-md-11">
                            <div class="input-group">
                                <span class="input-group-addon">{{lang.popup_product_section_details_field_Tags}}</span>
                                <input id="tags" name="Tags" type="text" class="form-control" value="{{data.Attributes.TAGS}}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-11">
                            <div class="input-group">
                                <span class="input-group-addon">{{lang.popup_product_section_details_field_ISBN}}</span>
                                <input id="isbn" name="ISBN" type="text" class="form-control" value="{{data.Attributes.ISBN}}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-11">
                            <div class="input-group">
                                <span class="input-group-addon">{{lang.popup_product_section_details_field_SKU}}</span>
                                <input id="sku" type="text" class="form-control" value="{{data.Attributes.SKU}}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-11">
                            <div class="input-group">
                                <span class="input-group-addon">{{lang.popup_product_section_details_field_Warranty}}</span>
                                <input id="warranty" name="Warranty" type="text" class="form-control" value="{{data.Attributes.Warranty}}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-11 features">
                            <fieldset>
                                <legend>
                                    <i class="fa fa-plus text-success fa-fw add-feature"></i>
                                    {{lang.popup_product_section_details_field_Features}}
                                </legend>
                                {{#each data.Features}}
                                <div class="feature-template multiple-form-group input-group feature-item">
                                    <i class="fa fa-times text-danger fa-fw remove-feature"></i>
                                    <div class="input-group-btn">
                                        <div class="wrapper">
                                            <button type="button" class="btn btn-link button-label"><span class="concept">{{@key}}</span></button>
                                            <button type="button" class="btn btn-link dropdown-toggle hidden" data-toggle="dropdown"><span class="caret"></span></button>
                                            <ul class="dropdown-menu feature-types hidden" role="menu">
                                                {{#each ../extras.featureTypes}}
                                                <li><a href="javascript://" class="feature-type">{{this}}</a></li>
                                                {{/each}}
                                            </ul>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control features-list typeahead" name="{{@key}}">
                                </div>
                                {{/each}}
                            </fieldset>
                        </div>
                    </div>
                </fieldset>
                <!-- promo area -->
                <fieldset>
                    <legend>
                        {{lang.popup_product_section_details_fieldset_PromoArea}}
                    </legend>
                    <div class="form-group">
                        <div class="col-md-11">
                            <div class="input-group">
                                <span class="input-group-addon">{{lang.popup_product_section_details_field_PromoText}}</span>
                                <input id="promotext" type="text" class="form-control" value="{{data.Attributes.PROMO_TEXT}}">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-plus text-success mpws-js-dropdown-toggle-inner" aria-hidden="true">
                                        <ul class="dropdown-menu" role="menu">
                                            <li role="presentation" class="dropdown-header">Динамічні параметри</li>
                                            <li class="hidden"><a href="javascript://" class="mpws-js-insertable" data-for="#promotext"><span class="label label-success">[Price]</span></a></li>
                                            <li><a href="javascript://" class="mpws-js-insertable" data-for="#promotext"><span class="label label-success">[DisplayName]</span></a></li>
                                        </ul>
                                    </span>
                                </span>
                            </div>
                            <span class="help-block"><i class="fa fa-fw fa-life-ring"></i>{{lang.popup_product_section_details_field_PromoTextHelper}}</span>
                        </div>
                    </div>
                </fieldset>
                <!-- product banners -->
                <fieldset>
                    <legend>
                        {{lang.popup_product_section_details_fieldset_Banners}}
                        <input type="checkbox" id="showBanners" {{#if data.ShowBanner}}checked="checked"{{/if}}>
                    </legend>
                    <!-- Banners -->
                    <div class="form-group">
                        <div class="col-md-12 uploads">
                            <div class="upload-errors"></div>
                            <div class="upload-wrapper shop-banner-upload shop-banner-upload-large">
                                <span class="btn fileinput-button">
                                    <i class="fa fa-upload text-success"></i>
                                    <i class="fa fa-warning text-danger"></i>
                                    <!-- The file input field used as target for the file upload widget -->
                                    <input id="bannerLarge" type="hidden" class="file-name" value="{{data.Banners.BANNER_LARGE.name}}" data-original="{{data.Banners.BANNER_LARGE.name}}">
                                    <input id="product-banner-large" class="temp-upload-image" type="file" name="files">
                                    {{#if data.Banners.BANNER_LARGE}}<img src="{{nocacheurl data.Banners.BANNER_LARGE.banner}}" class="uploaded-image" alt="{{Name}}">{{/if}}
                                    <span class="preview-image"></span>
                                </span>
                                <i class="fa fa-times fa-fw text-danger del-image"></i>
                                <i class="fa fa-undo fa-fw text-warning restore-image"></i>
                                <div class="shop-product-banner-title">{{lang.popup_product_section_details_field_BannerLarge}}</div>
                            </div>
                            <div class="upload-wrapper shop-banner-upload shop-banner-upload-medium">
                                <span class="btn fileinput-button">
                                    <i class="fa fa-upload text-success"></i>
                                    <i class="fa fa-warning text-danger"></i>
                                    <!-- The file input field used as target for the file upload widget -->
                                    <input id="bannerMedium" type="hidden" class="file-name" value="{{data.Banners.BANNER_MEDIUM.name}}" data-original="{{data.Banners.BANNER_MEDIUM.name}}">
                                    <input id="product-banner-medium" class="temp-upload-image" type="file" name="files">
                                    {{#if data.Banners.BANNER_MEDIUM}}<img src="{{nocacheurl data.Banners.BANNER_MEDIUM.banner}}" class="uploaded-image" alt="{{Name}}">{{/if}}
                                    <span class="preview-image"></span>
                                </span>
                                <i class="fa fa-times fa-fw text-danger del-image"></i>
                                <i class="fa fa-undo fa-fw text-warning restore-image"></i>
                                <div class="shop-product-banner-title">{{lang.popup_product_section_details_field_BannerMedium}}</div>
                            </div>
                            <div class="upload-wrapper shop-banner-upload shop-banner-upload-small">
                                <span class="btn fileinput-button">
                                    <i class="fa fa-upload text-success"></i>
                                    <i class="fa fa-warning text-danger"></i>
                                    <!-- The file input field used as target for the file upload widget -->
                                    <input id="bannerSmall" type="hidden" class="file-name" value="{{data.Banners.BANNER_SMALL.name}}" data-original="{{data.Banners.BANNER_SMALL.name}}">
                                    <input id="product-banner-small" class="temp-upload-image" type="file" name="files">
                                    {{#if data.Banners.BANNER_SMALL}}<img src="{{nocacheurl data.Banners.BANNER_SMALL.banner}}" class="uploaded-image" alt="{{Name}}">{{/if}}
                                    <span class="preview-image"></span>
                                </span>
                                <i class="fa fa-times fa-fw text-danger del-image"></i>
                                <i class="fa fa-undo fa-fw text-warning restore-image"></i>
                                <div class="shop-product-banner-title">{{lang.popup_product_section_details_field_BannerSmall}}</div>
                            </div>
                            <div class="upload-wrapper shop-banner-upload shop-banner-upload-micro">
                                <span class="btn fileinput-button">
                                    <i class="fa fa-upload text-success"></i>
                                    <i class="fa fa-warning text-danger"></i>
                                    <!-- The file input field used as target for the file upload widget -->
                                    <input id="bannerMicro" type="hidden" class="file-name" value="{{data.Banners.BANNER_MICRO.name}}" data-original="{{data.Banners.BANNER_MICRO.name}}">
                                    <input id="product-banner-micro" class="temp-upload-image" type="file" name="files">
                                    {{#if data.Banners.BANNER_MICRO}}<img src="{{nocacheurl data.Banners.BANNER_MICRO.banner}}" class="uploaded-image" alt="{{Name}}">{{/if}}
                                    <span class="preview-image"></span>
                                </span>
                                <i class="fa fa-times fa-fw text-danger del-image"></i>
                                <i class="fa fa-undo fa-fw text-warning restore-image"></i>
                                <div class="shop-product-banner-title">{{lang.popup_product_section_details_field_BannerMicro}}</div>
                            </div>
                        </div>
                    </div>
                    <!-- Banner texts -->
                    <div class="form-group">
                        <div class="col-md-11">
                            <div class="input-group">
                                <span class="input-group-addon">{{lang.popup_product_section_details_field_BannerTextLine1}}</span>
                                <input id="bannerTextLine1" type="text" class="form-control" value="{{data.Attributes.BANNER_TEXT_LINE1}}">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-plus text-success mpws-js-dropdown-toggle-inner" aria-hidden="true">
                                        <ul class="dropdown-menu" role="menu">
                                            <li role="presentation" class="dropdown-header">Динамічні параметри</li>
                                            <li class="hidden"><a href="javascript://" class="mpws-js-insertable" data-for="#bannerTextLine1"><span class="label label-success">[Price]</span></a></li>
                                            <li><a href="javascript://" class="mpws-js-insertable" data-for="#bannerTextLine1"><span class="label label-success">[DisplayName]</span></a></li>
                                        </ul>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-11">
                            <div class="input-group">
                                <span class="input-group-addon">{{lang.popup_product_section_details_field_BannerTextLine2}}</span>
                                <input id="bannerTextLine2" type="text" class="form-control" value="{{data.Attributes.BANNER_TEXT_LINE2}}">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-plus text-success mpws-js-dropdown-toggle-inner" aria-hidden="true">
                                        <ul class="dropdown-menu" role="menu">
                                            <li role="presentation" class="dropdown-header">Динамічні параметри</li>
                                            <li class="hidden"><a href="javascript://" class="mpws-js-insertable" data-for="#bannerTextLine2"><span class="label label-success">[Price]</span></a></li>
                                            <li><a href="javascript://" class="mpws-js-insertable" data-for="#bannerTextLine2"><span class="label label-success">[DisplayName]</span></a></li>
                                        </ul>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="help-block"><i class="fa fa-fw fa-life-ring"></i>{{lang.popup_product_section_details_field_BannerTextsHelper}}</div>
                </fieldset>
            </div>
        </div>
    </div>
</div>
<div class="hidden">
    <div class="feature-template multiple-form-group input-group feature-item">
        <i class="fa fa-times text-danger fa-fw remove-feature"></i>
        <div class="input-group-btn">
            <div class="wrapper">
                <button type="button" class="btn btn-link button-label"><span class="concept">немає</span></button>
                <button type="button" class="btn btn-link dropdown-toggle hidden" data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu feature-types hidden" role="menu">
                    {{#each extras.featureTypes}}
                    <li><a href="javascript://" class="feature-type">{{this}}</a></li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <input type="text" class="form-control features-list typeahead" name="" value="">
    </div>
</div>