<a href="javascript://" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
    <i class="fa fa-shopping-cart fa-fw"></i> {{lang.pluginMenuTitle}}
    <i class="fa fa-fw fa-caret-down"></i>
</a>
<ul class="dropdown-menu" role="menu" id="menu_system">
    {{#ifAny perms.p_shop_MENU_CONTENT}}
    <li class="menu-shop-products">
        <a href="{{bb_link instances.shop.urls.contentList asRoot=true}}">
            <i class="fa fa-fw fa-shopping-cart"></i> {{lang.pluginMenu_Products}}
        </a>
    </li>
    {{/ifAny}}
    {{#ifAny perms.p_shop_MENU_ORDERS}}
    <li class="menu-shop-orders">
        <a href="{{bb_link instances.shop.urls.ordersList asRoot=true}}">
            <i class="fa fa-fw fa-usd"></i> {{lang.pluginMenu_Orders}}
        </a>
    </li>
    {{/ifAny}}
    {{#ifAny perms.p_shop_MENU_SETTINGS}}
    <li class="menu-shop-settings">
        <a href="{{bb_link instances.shop.urls.shopSettings asRoot=true}}">
            <i class="fa fa-fw fa-cog"></i> {{lang.pluginMenu_Settings}}
        </a>
    </li>
    {{/ifAny}}
    {{#ifAny perms.p_shop_MENU_PROMO}}
    <li class="menu-shop-promo">
        <a href="{{bb_link instances.shop.urls.promo asRoot=true}}">
            <i class="fa fa-fw fa-gift"></i> {{lang.pluginMenu_Promo}}
        </a>
    </li>
    {{/ifAny}}
    {{#ifAny perms.p_shop_MENU_FEEDS}}
    <li class="menu-shop-feeds">
        <a href="{{bb_link instances.shop.urls.feeds asRoot=true}}">
            <i class="fa fa-fw fa-retweet"></i> {{lang.pluginMenu_Feeds}}
        </a>
    </li>
    {{/ifAny}}
    {{#ifAny perms.p_shop_MENU_REPORTS}}
    <li class="menu-shop-reports hidden">
        <a href="{{bb_link instances.shop.urls.reports asRoot=true}}">
            <i class="fa fa-fw fa-signal"></i> {{lang.pluginMenu_Reports}}
        </a>
    </li>
    {{/ifAny}}
</ul>