{{#mpwsIsNotEmpty data.errors }}
<div class="alert alert-danger">
    <ul class="errors">
    {{#each data.errors}}
        <li>
            <strong>
                {{mpwsGetValueByKey ../lang.popups.settingsAddress.errors key=@key}}
            </strong>
            <ul>
            {{#each this}}
                <li>{{mpwsGetValueByKey ../../lang.popups.settingsAddress.errors key=this}}</li>
            {{/each}}
            </ul>
        </li>
    {{/each}}
    </ul>
</div>
{{/mpwsIsNotEmpty}}
<ul class="nav nav-pills">
    <li class="tab tab-general active"><a href="#general" data-toggle="tab">Основні</a></li>
    <li class="tab tab-social"><a href="#social" data-toggle="tab">Соц.Мережі</a></li>
    <li class="tab tab-contacts"><a href="#contacts" data-toggle="tab">Контакти</a></li>
    <li class="tab tab-openhours"><a href="#openhours" data-toggle="tab">Графік роботи</a></li>
    <li class="tab tab-shipping"><a href="#shipping" data-toggle="tab">Доставка</a></li>
    <li class="tab tab-payments"><a href="#payments" data-toggle="tab">Оплата</a></li>
    <li class="tab tab-warranty"><a href="#warranty" data-toggle="tab">Гарантії</a></li>
    <li class="hidden pull-right"><i class="fa fa-plus fa-fw add-contact text-success"></i></li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade in active" id="general">
        <form class="form-horizontal" role="form">
            <fieldset>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="textinput">Назва відділу</label>
                    <div class="col-sm-10">
                        <input type="text" id="js-ShopName" class="form-control setting" value="{{data.ShopName}}">
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="textinput">Країна</label>
                    <div class="col-sm-10">
                        <input type="text" id="js-Country" class="form-control setting" value="{{data.Country}}">
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="textinput">Місто</label>
                    <div class="col-sm-10">
                        <input type="text" id="js-City" class="form-control setting" value="{{data.City}}">
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="textinput">Адреса 1</label>
                    <div class="col-sm-10">
                        <input type="text" id="js-AddressLine1" class="form-control setting" value="{{data.AddressLine1}}">
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="textinput">Адреса 2</label>
                    <div class="col-sm-10">
                        <input type="text" id="js-AddressLine2" class="form-control setting" value="{{data.AddressLine2}}">
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="textinput">Адреса 3</label>
                    <div class="col-sm-10">
                        <input type="text" id="js-AddressLine3" class="form-control setting" value="{{data.AddressLine3}}">
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="textinput">Ел.адреса</label>
                    <div class="col-sm-10">
                        <input type="text" id="js-EmailSupport" class="form-control setting" value="{{data.EmailSupport}}">
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="tab-pane fade fields" id="social">
        <form class="form-horizontal" role="form">
            <fieldset>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-sm-12 control-label custom-text-left" for="textinput">
                        <i class="fa fa-map-marker fa-fw text-danger"></i>
                        Адреса карти (для приладу Google Maps)
                    </label>
                    <div class="col-sm-12">
                        <input type="text" id="js-MapUrl" class="form-control setting" value="{{data.MapUrl}}">
                    </div>
                </div>
                <hr/>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-sm-1 control-label" for="textinput">
                        <i class="fa fa-facebook fa-fw text-info"></i>
                    </label>
                    <div class="col-sm-10">
                        <input type="text" id="js-SocialFacebook" class="form-control setting" value="{{data.SocialFacebook}}">
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-sm-1 control-label" for="textinput">
                        <i class="fa fa-twitter fa-fw text-info"></i>
                    </label>
                    <div class="col-sm-10">
                        <input type="text" id="js-SocialTwitter" class="form-control setting" value="{{data.SocialTwitter}}">
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-sm-1 control-label" for="textinput">
                        <i class="fa fa-linkedin fa-fw text-danger"></i>
                    </label>
                    <div class="col-sm-10">
                        <input type="text" id="js-SocialLinkedIn" class="form-control setting" value="{{data.SocialLinkedIn}}">
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-sm-1 control-label" for="textinput">
                        <i class="fa fa-google-plus fa-fw text-warning"></i>
                    </label>
                    <div class="col-sm-10">
                        <input type="text" id="js-SocialGooglePlus" class="form-control setting" value="{{data.SocialGooglePlus}}">
                    </div>
                </div>
            <fieldset>
        </form>
    </div>
    <div class="tab-pane fade fields" id="contacts">
        <form class="form-horizontal" role="form">
            <fieldset>
                <div class="list-group">
                    <a href="javascript://" class="list-group-item">
                        <div class="form-group">
                            <label class="col-sm-3 control-label text-danger" for="textinput">Гаряча лінія</label>
                            <div class="col-sm-8">
                                <input type="text" id="js-PhoneHotline" class="form-control setting" value="{{data.PhoneHotline}}">
                            </div>
                        </div>
                    </a>
                {{#for 5}}
                    <a href="javascript://" class="list-group-item">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="textinput">
                                <i class="fa fa-phone-square fa-fw"></i> #{{$indexPlus1}}
                            </label>
                            <div class="col-sm-4">
                                <input type="text" id="js-Phone{{$indexPlus1}}Label" class="form-control setting" value="{{mpwsGetValueByKey ../data key=$indexPlus1 prefix="Phone" suffix="Label" empty=""}}">
                            </div>
                            <div class="col-sm-5">
                                <input type="text" id="js-Phone{{$indexPlus1}}Value" class="form-control setting" value="{{mpwsGetValueByKey ../data key=$indexPlus1 prefix="Phone" suffix="Value" empty=""}}">
                            </div>
                        </div>
                    </a>
                {{/for}}
                </div>
            <fieldset>
        </form>
    </div>
    <div class="tab-pane fade" id="openhours">
        <table class="table table-striped">
            <tr>
                <th>День</th>
                <th>Графік</th>
            </tr>
            <tr>
                <td>Понеділок</td>
                <td><span class="ediatble setting" id="js-hours-monday">{{data.HoursMonday}}</span></td>
            </tr>
            <tr>
                <td>Вівторок</td>
                <td><span class="ediatble setting" id="js-hours-tuesday">{{data.HoursTuesday}}</span></td>
            </tr>
            <tr>
                <td>Середа</td>
                <td><span class="ediatble setting" id="js-hours-wednesday">{{data.HoursWednesday}}</span></td>
            </tr>
            <tr>
                <td>Четвер</td>
                <td><span class="ediatble setting" id="js-hours-thursday">{{data.HoursThursday}}</span></td>
            </tr>
            <tr>
                <td>Пятниця</td>
                <td><span class="ediatble setting" id="js-hours-friday">{{data.HoursFriday}}</span></td>
            </tr>
            <tr>
                <td>Субота</td>
                <td><span class="ediatble setting" id="js-hours-saturday">{{data.HoursSaturday}}</span></td>
            </tr>
            <tr>
                <td>Неділя</td>
                <td><span class="ediatble setting" id="js-hours-sunday">{{data.HoursSunday}}</span></td>
            </tr>
        </table>
    </div>
    <div class="tab-pane fade" id="payments">
        {{!-- <textarea cols="50" id="js-info-InfoPayment"></textarea> --}}
        <div id="js-info-InfoPayment" data-type="wysihtml5" class="setting wysihtml5">{{{data.InfoPayment}}}</div>
    </div>
    <div class="tab-pane fade" id="shipping">
        <div id="js-info-InfoShipping" data-type="wysihtml5" class="setting wysihtml5">{{{data.InfoShipping}}}</div>
    </div>
    <div class="tab-pane fade" id="warranty">
        <div id="js-info-InfoWarranty" data-type="wysihtml5" class="setting wysihtml5">{{{data.InfoWarranty}}}</div>
    </div>
</div>