<div class="panel-heading">
    Коротко про товари:
</div>
<div class="panel-body">

    <div class="list-group">
        <a href="javascript://" class="list-group-item">
            <i class="fa fa-bolt fa-fw"></i> Активні товари
            <span class="pull-right text-muted small"><em>{{default_value data.ACTIVE 0}}</em>
            </span>
        </a>
        <a href="javascript://" class="list-group-item">
            <i class="fa fa-tag fa-fw"></i> З знижкою
            <span class="pull-right text-muted small"><em>{{default_value data.DISCOUNT 0}}</em>
            </span>
        </a>
        <a href="javascript://" class="list-group-item">
            <i class="fa fa-phone fa-fw"></i> Немає в магазині але доступно для замовлення
            <span class="pull-right text-muted small"><em>{{default_value data.PREORDER 0}}</em>
            </span>
        </a>
        <a href="javascript://" class="list-group-item">
            <i class="fa fa-truck fa-fw"></i> Очікується в магазині
            <span class="pull-right text-muted small"><em>{{default_value data.WAITING 0}}</em>
            </span>
        </a>
        <a href="javascript://" class="list-group-item">
            <i class="fa fa-archive fa-fw"></i> Архівні товари
            <span class="pull-right text-muted small"><em>{{default_value data.ARCHIVED 0}}</em>
            </span>
        </a>
        <a href="javascript://" class="list-group-item">
            Всього товарів в системі:
            <span class="pull-right text-muted small"><em>{{default_value data.TOTAL 0}}</em>
            </span>
        </a>
    </div>

</div>