<div class="container">
    <div class="row">
        
        <div class="col-md-6">
            <section class="section sign-in inner-right-xs">
                <h2 class="bordered">{{lang.form_signin_menu_title}}</h2>
                <p>{{lang.form_signin_menu_subtitle}}</p>

                <div class="social-auth-buttons">
                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn-block btn-lg btn btn-facebook"><i class="fa fa-facebook"></i> Sign In with Facebook</button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn-block btn-lg btn btn-twitter"><i class="fa fa-twitter"></i> Sign In with Twitter</button>
                        </div>
                    </div>
                </div>

                <form role="form" class="login-form cf-style-1">
                    <div class="field-row">
                        <label>{{lang.form_signin_field_Email}}</label>
                        <input type="text" class="le-input signin-email">
                    </div><!-- /.field-row -->

                    <div class="field-row">
                        <label>{{lang.form_signin_field_Password}}</label>
                        <input type="text" class="le-input signin-password">
                    </div><!-- /.field-row -->

                    <div class="field-row clearfix">
                        <span class="pull-left">
                            <label class="content-color">
                                <input type="checkbox" class="le-checbox auto-width inline signin-rememberme">
                                <span class="bold">{{lang.form_signin_field_RememberMe}}</span>
                            </label>
                        </span>
                        <span class="pull-right">
                            <a href="#" class="content-color bold">{{lang.form_signin_field_ForgonPassword}}</a>
                        </span>
                    </div>

                    <div class="buttons-holder">
                        <button type="submit" class="le-button huge">{{lang.form_signin_menu_title}}</button>
                    </div><!-- /.buttons-holder -->
                </form><!-- /.cf-style-1 -->

            </section><!-- /.sign-in -->
        </div><!-- /.col -->

        <div class="col-md-6">
            <section class="section register inner-left-xs">
                <h2 class="bordered">{{lang.form_register_title}}</h2>
                <p>{{lang.form_register_subtitle}}</p>

                <form role="form" class="register-form cf-style-1">
                    <div class="field-row">
                        <label>{{lang.form_register_field_EMail}}</label>
                        <input type="email" name="email" class="le-input signup-email">
                    </div><!-- /.field-row -->

                    <div class="field-row">
                        <label>{{lang.form_register_field_Password}}</label>
                        <input type="password" name="password" class="le-input signup-password">
                    </div><!-- /.field-row -->

                    <div class="buttons-holder">
                        <button type="submit" class="le-button huge">{{lang.form_register_button_create}}</button>
                    </div><!-- /.buttons-holder -->
                </form>

                <h2 class="semi-bold">{{lang.form_register_message_bottom_title}}</h2>

                <ul class="list-unstyled list-benefits">
                    <li><i class="fa fa-fw fa-check primary-color"></i>{{lang.form_register_message_bottom1}}</li>
                    <li><i class="fa fa-fw fa-check primary-color"></i>{{lang.form_register_message_bottom2}}</li>
                    <li><i class="fa fa-fw fa-check primary-color"></i>{{lang.form_register_message_bottom3}}</li>
                </ul>

            </section><!-- /.register -->

        </div><!-- /.col -->

    </div><!-- /.row -->
</div><!-- /.container -->