<div class="shop-widget-productlist">
{{#each . }}
    <div class="wrapper">
        <a href="javascript://" class="shop-product-remove" data-action="plugin:shop:list_wish:remove" data-id="{{ID}}">
            <i class="fa fa-trash-o"></i>
        </a>
        <a href="javascript://" class="shop-product-buy" data-action="plugin:shop:order:add" data-id="{{ID}}">
            <i class="fa fa-shopping-cart"></i>
        </a>
        <div class="shop-product-image shop-product-image-main">
            <a href="/#!/shop/product/{{ExternalKey}}" class="link" title="{{_origin.Name}} - {{Name}}">
                <div class="image productimage noimage image_{{ID}}">
                    {{#if Images.[0].sm}}
                    <div id="facebookG">
                        <div id="blockG_1" class="facebook_blockG"></div>
                        <div id="blockG_2" class="facebook_blockG"></div>
                        <div id="blockG_3" class="facebook_blockG"></div>
                    </div>
                    {{/if}}
                </div>
                {{#if Images.[0].sm}}
                <script>
                (function() {
                    require(["default/js/plugin/image!{{Images.[0].sm}}"], function(img){
                        img.title = "{{Name}}";
                        img.className = "image img-responsive";
                        $('.image_{{ID}}').removeClass('noimage').html($(img).clone());
                    }, function () { $('.image_{{data.ID}} #facebookG').remove(); });
                })();
                </script>
                {{/if}}
            </a>
        </div>
        <div class="product-row">
            <span class="product-name"><a href="/#!/shop/product/{{ExternalKey}}" title="{{_origin.Name}} - {{Name}}">{{_origin.Name}} - {{Name}}</a></span>
            {{#unless data._archived}}
            <div class="shop-component shop-product-attr shop-product-attr-price">
                <div class="value-prefix">
                {{#if data._promoIsApplied }}
                    Ваша ціна:
                {{else}}
                    Ціна:
                {{/if}}
                </div>
                {{#if data._promoIsApplied }}
                {{#each data.convertedSellingPrices}}
                    <span class="label label-success moneyValue {{@key}}{{#isnt ../../instances.shop.settings._user.activeCurrency @key}} hidden{{/isnt}}">
                        {{#withItem ../instances.shop.settings.currencyList key=@key}}
                            {{#if showBeforeValue}}<span class="value-prefix moneyType">{{text}}</span>{{/if}}
                            <strong class="value">{{currency ../this}}</strong>
                            {{#unless showBeforeValue}}<span class="value-suffix moneyType">{{text}}</span>{{/unless}}
                        {{/withItem}}
                    </span>
                {{/each}}
                <sub class="promocode">(Знижка: {{data.promo.Discount}}%)</sub>
                {{else}}
                {{#each data.convertedSellingPrices}}
                    <span class="moneyValue {{@key}}{{#isnt ../../instances.shop.settings._user.activeCurrency @key}} hidden{{/isnt}}">
                        {{#withItem ../instances.shop.settings.currencyList key=@key}}
                            {{#if showBeforeValue}}<span class="value-prefix moneyType">{{text}}</span>{{/if}}
                            <strong class="value">{{currency ../this}}</strong>
                            {{#unless showBeforeValue}}<span class="value-suffix moneyType">{{text}}</span>{{/unless}}
                        {{/withItem}}
                    </span>
                {{/each}}
                {{/if}}
            </div>
            {{/unless}}
            <span class="label label-warning product-price">{{Price}}<span class="moneyType">грн.</span></span>
        </div>
    </div>
{{/each}}
</div>