<fieldset>

  <!-- Form Name -->
  <legend>{{lang.form_signin_title}}</legend>

  {{#if data.error }}
  <div class="panel">
    <p class="text-danger">{{lang.form_signin_error}}</p>
  </div>
  {{/if}}

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-3 control-label" for="textinput">{{lang.form_signin_field_login}}</label>
    <div class="col-md-7">
    <input id="signinEmail" type="text" class="form-control input-md" value="admin@pb.com.ua">
      
    </div>
  </div>

  <!-- Password input-->
  <div class="form-group">
    <label class="col-md-3 control-label" for="passwordinput">{{lang.form_signin_field_password}}</label>
    <div class="col-md-7">
      <input id="signinPassword" type="password" class="form-control input-md">
      
    </div>
  </div>

  <!-- Button -->
  <div class="form-group buttons">
    <div class="col-md-10">
      <button class="btn btn-default btn-sm">{{lang.form_signin_button_submit}}</button>
    </div>
  </div>

</fieldset>