{{#if data.success }}
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">{{lang.form_register_message_success_title}}</h3>
        </div>
        <!-- List group -->
        <ul class="list-group">
            <li class="list-group-item">{{lang.form_register_message_success_line1}}</li>
            <li class="list-group-item">{{lang.form_register_message_success_line2}}</li>
        </ul>
    </div>
{{else}}
    <div class="container user-account-create" id="wrap">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                {{#mpwsIsNotEmpty data.errors }}
                <div id="msg" class="alert alert-danger">
                    {{lang.form_register_commonError}}
                    <ul class="errors">
                    {{#each data.errors}}
                        <li>
                            <strong>
                                {{mpwsGetValueByKey ../lang key=@key prefix="profile_page_edit_error_atField_"}}
                            </strong>
                            <ul>
                            {{#each this}}
                                <li>{{mpwsGetValueByKey ../../lang key=this prefix="profile_page_edit_error_"}}</li>
                            {{/each}}
                            </ul>
                        </li>
                    {{/each}}
                    </ul>
                </div>
                {{/mpwsIsNotEmpty}}
                <form accept-charset="utf-8" class="form" role="form">
                    <legend>{{lang.form_register_title}}</legend>
                    <div class="form-group has-error">
                        <div class="row">
                            <div class="col-xs-6 col-md-6">
                                <input type="text" name="FirstName" value="{{data.values.FirstName}}" class="form-control input-lg" placeholder="{{lang.form_register_field_FirstName}}" required />
                            </div>
                            <div class="col-xs-6 col-md-6">
                                <input type="text" name="LastName" value="{{data.values.LastName}}" class="form-control input-lg" placeholder="{{lang.form_register_field_LastName}}" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group has-error">
                        <input type="email" name="EMail" value="{{data.values.EMail}}" class="form-control input-lg" placeholder="{{lang.form_register_field_EMail}}" required />
                    </div>
                    <div class="form-group has-error">
                        <input type="password" name="Password" value="" class="form-control input-lg" placeholder="{{lang.form_register_field_Password}}" required />
                    </div>
                    <div class="form-group has-error">
                        <input type="password" name="ConfirmPassword" value="" class="form-control input-lg" placeholder="{{lang.form_register_field_ConfirmPassword}}" required />
                    </div>
                    <span class="help-block">{{lang.form_register_message_bottom}}</span>
                    <button class="btn btn-lg btn-primary btn-block signup-btn" type="submit">{{lang.form_register_button_create}}</button>
                </form>
            </div>
        </div>
    </div>
{{/if}}