<div class="panel">

    <div class="alert alert-success hidden">
        <i class="fa fa-check-circle animate hidden"></i>
        {{lang.editors.user.alerts.success}}
    </div>

    {{#mpwsIsNotEmpty data.errors }}
    <div class="alert alert-danger">
        <i class="fa fa-fw fa-times-circle"></i>
        {{lang.editors.user.errors.title}}
        <ul class="errors">
        {{#each data.errors}}
            <li>
                <strong>
                    {{mpwsGetValueByKey ../lang.editors.user.errors key=@key }}
                </strong>
                <ul>
                {{#each this}}
                    <li>{{mpwsGetValueByKey ../../lang.editors.user.errors key=this}}</li>
                {{/each}}
                </ul>
            </li>
        {{/each}}
        </ul>
    </div>
    {{/mpwsIsNotEmpty}}

    <div role="tabpanel">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#general" aria-controls="general" role="tab" data-toggle="tab">Загальне</a>
            </li>
            <li role="presentation">
                <a href="#pwd" aria-controls="pwd" role="tab" data-toggle="tab">Пароль</a>
            </li>
            {{#unless extras.isNew}}
            <li role="presentation">
                <a href="#addresses" aria-controls="addresses" role="tab" data-toggle="tab">Адреси</a>
            </li>
            {{/unless}}
            {{#and isToolbox perms.p_CanMaintain}}
            <li role="presentation">
                <a href="#permissions" aria-controls="permissions" role="tab" data-toggle="tab">
                    {{lang.editors.user.permissions.title}}
                </a>
            </li>
            {{/and}}
            <li role="presentation">
                <a href="#subscriptions" aria-controls="subscriptions" role="tab" data-toggle="tab">
                    {{lang.editors.user.subscriptions.title}}
                </a>
            </li>
        </ul>

        <p></p>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="general">


                <form class="form-horizontal">
                    <fieldset>
                        <!-- Textarea -->
                        {{#and isToolbox data.ID}}
                        <div class="form-group">
                            <label class="col-md-4 control-label"></label>
                            <div class="col-md-6">
                                <i class="fa fa-fw fa-circle {{#if data.IsOnline}}text-success{{else}}text-muted{{/if}}"></i>
                                {{lang.editors.user.labelIsOnline}}
                            </div>
                        </div>
                        {{/and}}
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="textinput">{{lang.editors.user.labelFirstName}}</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control input-md js-firstname" value="{{data.FirstName}}" placeholder="{{lang.editors.user.phFirstName}}">
                            </div>
                        </div>
                        <!-- Textarea -->
                        <div class="form-group">
                            <label class="col-md-4 control-label">{{lang.editors.user.labelLastName}}</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control input-md js-lastname" value="{{data.LastName}}" placeholder="{{lang.editors.user.phLastName}}">
                            </div>
                        </div>
                        <!-- Textarea -->
                        <div class="form-group">
                            <label class="col-md-4 control-label">{{lang.editors.user.labelEMail}}</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control input-md js-email" value="{{data.EMail}}" placeholder="{{lang.editors.user.phEMail}}">
                            </div>
                        </div>
                        <!-- Select Basic -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="parent">{{lang.editors.user.labelPhone}}</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control input-md js-phone" value="{{data.Phone}}" placeholder="{{lang.editors.user.phPhone}}">
                            </div>
                        </div>
                        <!-- Textarea -->
                        {{#and isToolbox data.ValidationString}}
                        <div class="form-group">
                            <label class="col-md-4 control-label">{{lang.editors.user.labelValidationString}}</label>
                            <div class="col-md-6">
                                <input class="form-control input-md" value="{{data.ValidationString}}" readonly>
                            </div>
                        </div>
                        {{/and}}
                    </fieldset>
                </form>



            </div>
            <div role="tabpanel" class="tab-pane" id="pwd">
                



        <form class="form-horizontal">
            <fieldset>

                <!-- Button Drop Down -->
                <div class="form-group">
                    <label class="col-md-3 control-label" for="Password">{{lang.editors.user.labelPassword}}</label>
                    <div class="col-md-6">
                        <div class="input-group">
                            <input id="Password" name="Password" type="password" class="form-control" placeholder="{{lang.editors.user.phPassword}}" type="text">
                            <div class="input-group-btn">
                                <button id="account-password-pwdgen-btn-ID" type="button" class="btn btn-default">{{lang.editors.user.buttonGeneratePassword}}</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Password input-->
                <div class="form-group">
                    <label class="col-md-3 control-label" for="Verify">{{lang.editors.user.labelConfirmPassword}}</label>
                    <div class="col-md-6">
                        <input id="Verify" name="Verify" type="password" placeholder="{{lang.editors.user.phConfirmPassword}}" class="form-control input-md" required="">
                    </div>
                </div>

                <!-- Password input-->
                <div class="form-group">
                    <label class="col-md-3"></label>
                    <div class="col-md-6">
                        <blockquote>
                          <p>Новий пароль буде встановлено тоді, коли натиснути кнопку "Згенерувати" або ввести свій пароль.</p>
                          <p class="text-danger">Пусті поля залишають поточний пароль без змін</p>
                        </blockquote>
                    </div>
                </div>


            </fieldset>
        </form>




            </div>
            {{#unless extras.isNew}}
            <div role="tabpanel" class="tab-pane" id="addresses">
                

                <h3>{{lang.editors.user.addressesTitle}}</h3>
                <div class="account-addresses-buttons">
                    <button class="btn btn-success btn-xs add-address">
                        <i class="fa fa-plus fa-fw"></i>
                        {{lang.editors.user.buttonAddAddress}}
                    </button>
                </div>
                <div class="account-addresses-new"></div>
                <div class="account-addresses"></div>
                <div class="account-addresses-removed"></div>


            </div>
            {{/unless}}

            {{#and isToolbox perms.p_CanMaintain}}
            <div role="tabpanel" class="tab-pane" id="permissions">
                <div class="list-group js-permissions">
                {{#each data}}
                {{#srtStartsWith @key 'p_Can'}}
                    <a href="javascript://" class="list-group-item shop-property-{{@key}}" data-property="{{@key}}">
                        <input type="checkbox" class="switcher pull-right js-{{@key}}"{{#_if . }} checked{{/_if}}>
                        <span class="property-label">{{mpwsGetValueByKey ../../lang.editors.user key=@key prefix='label' }}</span>
                    </a>
                {{/srtStartsWith}}
                {{/each}}
                </div>

                {{#each data._availableOtherPerms}}
                <div class="list-group js-permissions">
                {{#if .}}
                <h4>{{mpwsGetValueByKey ../../lang.editors.user key=@key prefix="label"}}</h4>  
                {{#each .}}
                    <a href="javascript://" class="list-group-item shop-property-{{.}}" data-property="{{.}}">
                        <input type="checkbox" class="switcher pull-right js-p_Other js-{{.}}"{{#in_array ../../../data.p_Others . }} checked{{/in_array}} value="{{.}}">
                        <span class="property-label">{{mpwsGetValueByKey ../../../lang.editors.user key=. prefix='label' }}</span>
                    </a>
                {{/each}}
                {{/if}}
                </div>
                {{/each}}
            </div>
            {{/and}}
            <div role="tabpanel" class="tab-pane" id="subscriptions">
                <ul class="list-group">
                    <li class="list-group-item">ssdfdsfsdfdsfsdf</li>
                </ul>
            </div>
        </div>

    </div>
</div>