<!-- TODO: by this theme http://ppp-templates.de/bc/index.html#filter=.home  -->
<!DOCTYPE html>
<html lang="{{LANG}}">
    <head>
        <title></title>
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="robots" content="index,follow">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta http-equiv="Cache-control" content="public">
        <meta charset="utf-8">
        <meta property="og:site_name" content="Leogroup" />
        <meta property="og:title" content="" />
        <meta property="og:type" content="" />
        <meta property="og:url" content="" />
        <meta property="og:image" content="" />
        <meta property="og:locale" content="{{LANG}}" />
        <meta property="og:description" content="" />
        <link rel="shortcut icon" href="{{URL_STATIC_CUSTOMER}}/favicon.ico" type="http://ppp-templates.de/bc/image/x-icon">
        <link rel="icon" href="{{URL_STATIC_CUSTOMER}}/favicon.ico" type="http://ppp-templates.de/bc/image/x-icon">
        <link rel="stylesheet" href="{{URL_STATIC_CUSTOMER}}/css/theme.css?bust={{BUILD}}">
    </head>
<body>

    <header>
        <div class="container clearfix">
            <h1 id="logo">
                <a href="#!/">
                    <img alt="logo" src="{{URL_PUBLIC_LOGO}}" class="mpws-js-logo" width="180" height="auto"/>
                </a>
            </h1>
            <!-- start main nav -->
            <div id="nav-button"> <span class="nav-bar"></span> <span class="nav-bar"></span> <span class="nav-bar"></span> </div>
            <div id="options" class="clearfix">
                <ul class="option-set clearfix" data-option-key="filter">
                    <li><a href="#!/">Каталог</a></li>
                    <li><a href="#!/cart">Кошик</a></li>
                    <li><a href="#!/info">Інформація</a></li>
                    <li><a href="#!/contacts">Контакти</a></li>
                </ul>
            </div>
            <!-- end main nav -->
        </div>
    </header>

    <!-- end header -->
    <div id="content">
        <div class="container">
            <div id="container" class="clearfix">

                <div class="element clearfix col1-3 portfolio menu home auto shop-cart white">
                    <h3>Каталог</h3>
                    <div class="borderline"></div>
                    <p class="small no-underline mpws-js-catalog-tree"></p>
                    <h3>Інформація</h3>
                    <div class="borderline"></div>
                    <ul class="small no-underline info-links">
                        <li><a href="#!/info">Доставка</a></li>
                        <li><a href="#!/info">Оплата</a></li>
                        <li><a href="#!/info">Гарантії</a></li>
                    </ul>
                </div>

                <div class="element clearfix col3-3 home white double"><p class="mpws-js-shop-offers-carousel"></p></div>

                <div class="element clearfix col1-3 auto shop-catalog shop-product white"><p class="mpws-js-category-filter"></p></div>
                <div class="element clearfix col3-3 auto shop-catalog white"><p class="mpws-js-catalog-products"></p></div>

                <div class="element clearfix col3-3 auto shop-product white"><p class="row mpws-js-product"></p></div>

                <div class="element clearfix col1-3 info white double"><p class="mpws-js-info-shipping"></p></div>
                <div class="element clearfix col2-3 info white"><p class="mpws-js-info-payment"></p></div>
                <div class="element clearfix col1-3 info white double"><p class="mpws-js-info-warranty"></p></div>
                <div class="element clearfix col4-3 contacts white"><p class="mpws-js-info-contacts"></p></div>
                <div class="element clearfix col3-3 shop-cart white"><p class="mpws-js-widget-cart"></p></div>

                
                <div class="element clearfix col1-3 home shop-cart white"><p class="mpws-js-info-contacts"></p></div>

            </div>
        </div>
        <!-- end container -->
    </div>

    <!-- end content -->
    <footer>
        <div class="container">
            <ul class="social clearfix">
                <li class="mpws-js-link-social-twitter"></li>
                <li class="mpws-js-link-social-facebook"></li>
                <li class="mpws-js-link-social-googleplus"></li>
            </ul>
            <p class="mpws-js-addressline-footer"></p>
            <div class="clear"></div>
            <p><span class="mpws-js-copyright">© 2014, Bleecker</span></p>
        </div>
    </footer>
    <div class="static-content-wrapper render-hidden" title="page basic javascript container">
        <script type="text/javascript" id="system">
                var MPWS = {{SYSTEMJS}};
        </script>
        <script type="text/javascript" data-main="{{PATH_STATIC}}base/js/loader.js?bust={{BUILD}}" src="{{PATH_STATIC}}vendors/requirejs/require.js"></script>
    </div>

</body>
</html>