<!-- TODO: by this theme http://ppp-templates.de/bc/index.html#filter=.home  -->
<!DOCTYPE html>
<html lang="{{LANG}}">
    <head>
        <title></title>
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="robots" content="index,follow">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta http-equiv="Cache-control" content="public">
        <meta charset="utf-8">
        <meta property="og:site_name" content="Leogroup" />
        <meta property="og:title" content="" />
        <meta property="og:type" content="" />
        <meta property="og:url" content="" />
        <meta property="og:image" content="" />
        <meta property="og:locale" content="{{LANG}}" />
        <meta property="og:description" content="" />
        <link rel="shortcut icon" href="{{URL_STATIC_CUSTOMER}}/favicon.ico" type="http://ppp-templates.de/bc/image/x-icon">
        <link rel="icon" href="{{URL_STATIC_CUSTOMER}}/favicon.ico" type="http://ppp-templates.de/bc/image/x-icon">
        <link rel="stylesheet" href="{{URL_STATIC_CUSTOMER}}/css/theme.css?bust={{BUILD}}">
    </head>
<body>


<header>
  <div class="container clearfix">
    <h1 id="logo">
        <a href="#!/">
            <img alt="logo" src="" class="mpws-js-logo" width="180" height="auto"/>
        </a>
    </h1>
    <!-- start main nav -->
    <div id="nav-button"> <span class="nav-bar"></span> <span class="nav-bar"></span> <span class="nav-bar"></span> </div>
    <div id="options" class="clearfix">
      <ul class="option-set clearfix" data-option-key="filter">
        <li><a href="#!/">Головна</a></li>
        <li class="mpws-js-menu-cart"></li>
        <li class="mpws-js-menu-payment"></li>
        <li class="mpws-js-menu-warranty"></li>
        <li class="mpws-js-menu-shipping"></li>
      </ul>
    </div>
    <!-- end main nav -->
  </div>
</header>
<!-- end header -->
<div id="content">
  <div class="container">
    <div id="container" class="clearfix">
      <div class="element  clearfix col1-3 portfolio menu white">
        <h3>Хатка</h3>
        <div class="borderline"></div>
        <p>Каталог:</p>
        <p class="small no-underline mpws-js-catalog-tree"></p>
      </div>
      <div class="element  clearfix col2-3 home white">
        <h2>Hi, We're Bleecker</h2>
        <p class="big">A <span>digital-forward</span> creative agency making brands live up to their full potential. That’s it. And this is our website. It’s that simple.</p>
      </div>
      <div class="element  clearfix col2-3 about">
        <div class="images"> <img src="http://ppp-templates.de/bc/images/about04.jpg" alt="Myself" /> </div>
      </div>
      <div class="element  clearfix col1-3 home portfolio video"> <a href="http://player.vimeo.com/video/17081554?badge=0&amp;title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" class="video-popup" data-title="Project Title Here">
        <div class="images"> <img src="http://ppp-templates.de/bc/images/pic01.jpg" alt="Professional<span>video</span>" class="slip" /> </div>
        </a> </div>
      <div class="element  clearfix col1-3 portfolio webdesign"> <a href="http://ppp-templates.de/bc/images/pic07.jpg" data-title="Project Title Here" data-fancybox-group="group2" class="popup">
        <div class="images"> <img src="http://ppp-templates.de/bc/images/pic07.jpg" alt="Some Door<span>webdesign</span>" class="slip" /> </div>
        </a> </div>
      
      <div class="element  clearfix col1-3 teaser1 blog white"><a href="#filter=.blog%3Anot(.teaser1),+.post1" class="full"></a>
        <h3>We Appreciate Any Kind of Feedback</h3>
        <div class="borderline"></div>
        <p class="small">Feb 24, 2014</p>
        <p>Phasellus leo ante, posuere in fringilla vitae, pretium at dui. Fusce et neque quis odio.</p>
      </div>
      
      <div class="element  clearfix col2-3 post post1 auto">
        <div class="clearfix col2-3 auto no-padding">
          <div class="images"><a href="#filter=.blog">
            <div class="close"></div>
            </a><img src="http://ppp-templates.de/bc/images/blog01.jpg" alt="Blog Post" /> </div>
        </div>
        <article class="clearfix col2-3 white white-bottom auto">
          <h3>We Appreciate Any Kind of Feedback</h3>
          <div class="borderline"></div>
          <p class="small">Feb 24, 2014 &nbsp;&middot;&nbsp; by Admin</p>
          <p> Maecenas est lorem, imperdiet sed adipiscing et, fringilla eget justo. Etiam accumsan, elit ac tempus tincidunt, neque diam egestas nibh, a laoreet libero ante sed magna. Sed dictum, dui sed ultricies sollicitudin. </p>
          <blockquote>Bleecker is truely a digital-forward creative agency making brands live up to their full potential. <span>— John Doe, Microsoft Corp.</span></blockquote>
          <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Mauris placerat eleifend leo. Quisque est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">This is a link</a> in turpis pulvinar facilisis. Ut felis.</p>
          <div class="break"></div>
          <a href="#" class="icons margin like"></a> <a href="#" class="icons margin share"></a> </article>
      </div>
      <div class="element  clearfix col1-3 home portfolio logo"> 
        <div class="images"> <a href="http://ppp-templates.de/bc/images/pic02.jpg" data-title="Project Title Here" data-fancybox-group="group2" class="popup"><img src="http://ppp-templates.de/bc/images/pic02.jpg" alt="Camera<span>logo</span>" class="slip" /></a> </div>
         </div>
      <div class="element  clearfix col1-3 portfolio illustration"> <a href="http://ppp-templates.de/bc/images/pic12.jpg" data-title="Project Title Here" data-fancybox-group="group2" class="popup">
        <div class="images"> <img src="http://ppp-templates.de/bc/images/pic12.jpg" alt="Mockup<span>illustration</span>" class="slip" /> </div>
        </a> </div>
      <div class="element  clearfix col1-3 home portfolio webdesign"> <a href="http://ppp-templates.de/bc/images/pic05-large.jpg" data-title="Project Title Here" data-fancybox-group="group1" class="popup">
        <div class="images"> <img src="http://ppp-templates.de/bc/images/pic05-small.jpg" alt="Coming Home<span>webdesign</span>" class="slip" /> </div>
        </a> </div>
      
      <div class="element  clearfix col1-3 blog white teaser2"><a href="#filter=.blog%3Anot(.teaser2),+.post2" class="full"></a>
        <h3>Post With a Really Cool Quote, Or?</h3>
        <div class="borderline"></div>
        <p class="small">Feb 24, 2014</p>
        <p>Phasellus leo ante, posuere in fringilla vitae, pretium at dui. Fusce et neque quis odio.</p>
      </div>
      
      <div class="element  clearfix col2-3 post post2 auto">
        <div class="clearfix col2-3 auto no-padding">
          <div class="images"><a href="index.html#filter=.blog%3Anot(.teaser2),+.post2">
            <div class="close"></div>
            </a><img src="http://ppp-templates.de/bc/images/blog02.jpg" alt="Blog Post" /> </div>
        </div>
        <article class="clearfix col2-3 white white-bottom auto">
          <h3>Post With a Really Cool Quote, Or?</h3>
          <div class="borderline"></div>
          <p class="small">Feb 24, 2014 &nbsp;&middot;&nbsp; by Admin &nbsp;&middot;&nbsp; <a href="post.html">3 Comments</a></p>
          <p> Maecenas est lorem, imperdiet sed adipiscing et, fringilla eget justo. Etiam accumsan, elit ac tempus tincidunt, neque diam egestas nibh, a laoreet libero ante sed magna. Sed dictum, dui sed ultricies sollicitudin. </p>
          <blockquote>Bleecker is truely a digital-forward creative agency making brands live up to their full potential. <span>— John Doe, Microsoft Corp.</span></blockquote>
          <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Mauris placerat eleifend leo. Quisque est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">This is a link</a> in turpis pulvinar facilisis. Ut felis.</p>
          <div class="break"></div>
          <a href="#" class="icons margin like"></a> <a href="#" class="icons margin share"></a> </article>
      </div>
      
      <div class="element  clearfix col1-3 blog white teaser3"><a href="#filter=.blog%3Anot(.teaser3),+.post3" class="full"></a>
        <h3>Aside Post Format</h3>
        <div class="borderline"></div>
        <p class="small">Feb 24, 2014</p>
        <p>Phasellus leo ante, posuere in fringilla vitae, pretium at dui. Fusce et neque quis odio.</p>
      </div>
      
      <div class="element  clearfix col2-3 post post3 auto">
        <div class="clearfix col2-3 auto no-padding">
          <div class="images"><a href="#filter=.blog">
            <div class="close"></div>
            </a><img src="http://ppp-templates.de/bc/images/blog03.jpg" alt="Blog Post" /> </div>
        </div>
        <article class="clearfix col2-3 white white-bottom auto">
          <h3>Aside Post Format</h3>
          <div class="borderline"></div>
          <p class="small">Feb 24, 2014 &nbsp;&middot;&nbsp; by Admin</p>
          <p> Maecenas est lorem, imperdiet sed adipiscing et, fringilla eget justo. Etiam accumsan, elit ac tempus tincidunt, neque diam egestas nibh, a laoreet libero ante sed magna. Sed dictum, dui sed ultricies sollicitudin. </p>
          <ol>
            <li>Lorem ipsum dolor sit amet, consectetuer.</li>
            <li>Aliquam tincidunt mauris eu risus adipiscing elit.</li>
          </ol>
          <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Mauris placerat eleifend leo. Quisque est et sapien ullamcorper pharetra. </p>
          <div class="break"></div>
          <a href="#" class="icons margin like"></a> <a href="#" class="icons margin share"></a> </article>
      </div>
      
      <div class="element  clearfix col1-3 blog white teaser4"><a href="#filter=.blog%3Anot(.teaser4),+.post4" class="full"></a>
        <h3>Ideal for Agencies and Photographers</h3>
        <div class="borderline"></div>
        <p class="small">Feb 24, 2014</p>
        <p>Phasellus leo ante, posuere in fringilla vitae, pretium at dui. Fusce et neque quis odio.</p>
      </div>
      
      <div class="element  clearfix col2-3 post post4 auto">
        <div class="clearfix col2-3 auto no-padding">
          <div class="images"><a href="#filter=.blog">
            <div class="close"></div>
            </a><img src="http://ppp-templates.de/bc/images/blog04.jpg" alt="Blog Post" /> </div>
        </div>
        <article class="clearfix col2-3 white white-bottom auto">
          <h3>Ideal for Agencies and Photographers</h3>
          <div class="borderline"></div>
          <p class="small">Feb 24, 2014 &nbsp;&middot;&nbsp; by Admin</p>
          <p> Maecenas est lorem, imperdiet sed adipiscing et, fringilla eget justo. Etiam accumsan, elit ac tempus tincidunt, neque diam egestas nibh, a laoreet libero ante sed magna. Sed dictum, dui sed ultricies sollicitudin. </p>
          <h4>Services</h4><div class="borderline"></div>
          <ul class="unordered-list column-count2">
            <li>Photography: Vestibulum erat wisi, condimentum sed, ornare sit amet, wisi. </li>
            <li>Webdesign: Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.</li>
            <li>Illustration: <a href="#">This is a link</a> in turpis pulvinar facilisis. Ut felis.</li>
            <li>Logo: Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.</li>
          </ul>
          <div class="break"></div>
          <a href="#" class="icons margin like"></a> <a href="#" class="icons margin share"></a> </article>
      </div>
      <div class="element  clearfix col1-3 portfolio photography"> <a href="http://ppp-templates.de/bc/images/pic06.jpg" data-title="Project Title Here" data-fancybox-group="group4" class="popup">
        <div class="images"> <img src="http://ppp-templates.de/bc/images/pic06.jpg" alt="Architecture<span>photography</span>" class="slip" /> </div>
        </a> </div>
      <div class="element  clearfix col1-3 home white about">
        <div class="icons trophy"></div>
        <h3 class="align-top">Webdesign &amp; Development</h3>
        <p>Is my passion est pretium at dui. Fusce et neque quis odio gravida auctor vel non mauris. Aliquam erat volutpat.</p>
      </div>
      <div class="element  clearfix col1-3 about"> <a href="http://ppp-templates.de/bc/images/about01.jpg" data-title="Project Title Here" data-fancybox-group="group5" class="popup">
        <div class="images"> <img src="http://ppp-templates.de/bc/images/about01.jpg" alt="John Doe<span>Founder</span>" class="slip" /> </div>
        </a> </div>
      <div class="element  clearfix col1-3 home portfolio logo"> <a href="http://ppp-templates.de/bc/images/pic16.jpg" data-title="Project Title Here" data-fancybox-group="group2" class="popup">
        <div class="images"> <img src="http://ppp-templates.de/bc/images/pic16.jpg" alt="Wedding<span>Illustration</span>" class="slip" /> </div>
        </a> </div>
      <div class="element  clearfix col1-3 portfolio webdesign"> <a href="project.html" data-title="Project Title Here">
        <div class="images"> <img src="http://ppp-templates.de/bc/images/pic08.jpg" alt="Project Detail<span>example</span>" class="slip" /> </div>
        </a> </div>
      <div class="element  clearfix col1-3 home portfolio illustration"> <a href="slider.html" data-title="Project Title Here">
        <div class="images"> <img src="http://ppp-templates.de/bc/images/pic03.jpg" alt="Slider Page<span>example</span>" class="slip" /> </div>
        </a> </div>
      <div class="element  clearfix col1-3 home white about">
        <div class="icons camera"></div>
        <h3 class="align-top">Photography</h3>
        <p>Is my passion est pretium at dui. Fusce et neque quis odio gravida auctor vel non mauris. Aliquam erat volutpat sed consectetur.</p>
      </div>
      <div class="element  clearfix col1-3 white about">
        <div class="icons stationery"></div>
        <h3 class="align-top">Logo &amp; Illustration</h3>
        <p>Is my passion est pretium at dui. Fusce et neque quis gravida auctor vel non mauris. Aliquam erat volutpat.</p>
      </div>
      <div class="element  clearfix col1-3 home portfolio photography"> <a href="http://ppp-templates.de/bc/images/pic10.jpg" data-title="Project Title Here" data-fancybox-group="group4" class="popup">
        <div class="images"> <img src="http://ppp-templates.de/bc/images/pic10.jpg" alt="Winter Road<span>photography</span>" class="slip" /> </div>
        </a> </div>
      <div class="element  clearfix col3-3 contact"> <a href="http://google.com" target="_blank" data-title="Project Title Here">
        <div class="images"> <img src="http://ppp-templates.de/bc/images/pic04.jpg" alt="The Agency<span>Find us on Google Maps</span>" class="slip" /> </div>
        </a> </div>
      <div class="element  clearfix col1-3 portfolio illustration"> <a href="http://ppp-templates.de/bc/images/pic11.jpg" data-title="Project Title Here" data-fancybox-group="group2" class="popup">
        <div class="images"> <img src="http://ppp-templates.de/bc/images/pic11.jpg" alt="Mockup<span>illustration</span>" class="slip" /> </div>
        </a> </div>
      <div class="element  clearfix col1-3 double white contact">
        <h3>Drop Us a Line</h3>
        <div id="contact">
          <form method="post" action="contact.php" name="contactform" id="contactform" autocomplete="off">
            <fieldset>
            <label for="name" accesskey="U"><span class="required">Name</span></label>
            <input name="name" type="text" id="name" size="30" title="Name *" />
            <label for="email" accesskey="E"><span class="required">Email</span></label>
            <input name="email" type="text" id="email" size="30" title="Email *" />
            <label for="phone" accesskey="P">Phone</label>
            <input name="phone" type="text" id="phone" size="30" title="Phone" />
            <label for="comments" accesskey="C"><span class="required">Comments</span></label>
            <textarea name="comments" cols="40" rows="3" id="comments" title="Comment *"></textarea>
            <span class="break"></span>
            <p class="hide">We'll get back to you asap.<br />
              * Required fields</p>
            <span id="message"></span>
            <input type="submit" class="submit" id="submit" value="Submit" />
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- end container -->
</div>
<!-- end content -->
<footer>
  <div class="container">
    <ul class="social clearfix">
      <li class="twitter"><a href="#" onClick="return false">Visit our twitter Account</a></li>
      <li class="behance"><a href="#" onClick="return false">Visit our behance Account</a></li>
      <li class="facebook"><a href="#" onClick="return false">Visit our facebook Account</a></li>
    </ul>
    <p>285 Lexington Ave, New York</p>
    <p>(845) 123-4567</p>
    <p><a href="mailto:info@domain.com">info@bleecker.com</a></p>
    <div class="clear"></div>
    <p><span>© 2014, Bleecker</span></p>
  </div>
</footer>



    <div class="wrapper hidden">


<!-- ========== TOP NAVIGATION ========== -->
<nav class="top-bar animate-dropdown">
    <div class="container">
        <div class="col-xs-12 col-sm-6 no-margin">
            <ul class="mpws-js-top-nav-left">
                <li><a href="#!/">Головна</a></li>
                <li class="mpws-js-menu-cart"></li>
                <li class="mpws-js-menu-payment"></li>
                <li class="mpws-js-menu-warranty"></li>
                <li class="mpws-js-menu-shipping"></li>
            </ul>
        </div><!-- /.col -->

        <div class="col-xs-12 col-sm-6 no-margin">
            <ul class="right mpws-js-top-nav-right">
            </ul>
        </div><!-- /.col -->
    </div><!-- /.container -->
</nav><!-- /.top-bar -->
<!-- ========== TOP NAVIGATION : END ========== -->


<!-- ========== HEADER ========== -->
<header>
    <div class="container no-padding">
        <div class="col-xs-12 col-md-3 logo-holder">
            <!-- ========== LOGO ========== -->
            <div class="logo">
                <a href="#!/">
                    <img alt="logo" src="" class="mpws-js-logo" width="180" height="auto"/>
                </a>
            </div><!-- /.logo -->
            <!-- ========== LOGO : END ========== -->
        </div><!-- /.logo-holder -->
        <div class="col-xs-12 col-md-9 top-search-holder">
            <div class="contact-row mpws-js-shop-addresses"></div><!-- /.contact-row -->
            <!-- ========== SEARCH AREA ========== -->
            <div class="search-area">
                <form>
                    <div class="control-group">
                        <input class="search-field" placeholder="введіть текст для пошуку" />
                        <ul class="categories-filter animate-dropdown">
                            <li class="dropdown mpws-js-shop-categories-toplist">
                                <a class="dropdown-toggle"  data-toggle="dropdown" href="index.php?page=category-grid">весь каталог</a>
                            </li>
                        </ul>
                        <a class="search-button" href="#" ></a>
                    </div>
                </form>
            </div><!-- /.search-area -->
            <!-- ========== SEARCH AREA : END ========== -->
        </div><!-- /.top-search-holder -->
    </div><!-- /.container -->
    <div class="container no-padding">
        <div class="col-xs-12 col-md-9 col-md-offset-3 top-cart-row">
            <div class="top-cart-row-container">
                <div class="top-cart-holder dropdown animate-dropdown">
                    <!-- ========== SHOPPING CART DROPDOWN ========== -->
                    <div class="basket shop-cart-embedded mpws-js-cart-embedded"></div>
                    <!-- ========== SHOPPING CART DROPDOWN : END ========== -->
                </div><!-- /.top-cart-holder -->
                <div class="wishlist-compare-holder hidden">
                    <span class="wishlist mpws-js-menu-wishlist"></span>
                    <span class="compare mpws-js-menu-compare"></span>
                </div>
            </div><!-- /.top-cart-row-container -->
        </div><!-- /.top-cart-row -->
    </div><!-- /.container -->
</header>
<!-- ========== HEADER : END ========== -->

<!-- ========== CONTENT ========== -->
<sectipn class="mpws-js-shop-categories-ribbon"></sectipn>
<sectipn class="animate-dropdown mpws-js-breadcrumb"></sectipn>
<section class="mpws-js-main-home-frame"></section>
<section class="mpws-js-main-section"></section>
<section class="mpws-js-shop-viewed-products"></section>
<!-- ========== CONTENT : END ========== -->

<footer id="footer" class="color-bg mpws-js-main-footer">
    <div class="container">
        <div class="row no-margin widgets-row">
            <div class="col-xs-12  col-sm-4 no-margin-left">
                <!-- ========== FEATURED PRODUCTS ========== -->
                <div class="widget">
                    <h2>Новинки</h2>
                    <div class="body mpws-js-shop-new-products-minimal-list">
                    </div><!-- /.body -->
                </div> <!-- /.widget -->
                <!-- ========== FEATURED PRODUCTS : END ========== -->
            </div><!-- /.col -->

            <div class="col-xs-12 col-sm-4 ">
                <!-- ========== ON SALE PRODUCTS ========== -->
                <div class="widget">
                    <h2>Розпродаж</h2>
                    <div class="body mpws-js-shop-onsale-products-minimal-list">
                    </div><!-- /.body -->
                </div> <!-- /.widget -->
                <!-- ========== ON SALE PRODUCTS : END ========== -->
            </div><!-- /.col -->

            <div class="col-xs-12 col-sm-4 ">
                <!-- ========== TOP RATED PRODUCTS ========== -->
                <div class="widget">
                    <h2>ТОП Продажу</h2>
                    <div class="body mpws-js-shop-top-products-minimal-list">
                    </div><!-- /.body -->
                </div><!-- /.widget -->
                <!-- ========== TOP RATED PRODUCTS : END ========== -->
            </div><!-- /.col -->

        </div><!-- /.widgets-row-->
    </div><!-- /.container -->

    <div class="sub-form-row hidden">
        <div class="container">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 no-padding">
                <form role="form">
                    <input placeholder="Отримуйте найновіші пропозиції">
                    <button class="le-button">Підписатися</button>
                </form>
            </div>
        </div><!-- /.container -->
    </div><!-- /.sub-form-row -->

    <div class="link-list-row hidden">
        <div class="container no-padding">
            <div class="col-xs-12 col-md-4 ">
                <!-- ========== CONTACT INFO ========== -->
                <div class="contact-info">
                    <div class="footer-logo">
                        <img alt="logo" src="{{URL_STATIC_CUSTOMER}}/img/logo_leo.png" width="180" height="auto"/>
                    </div><!-- /.footer-logo -->
                    
                    <p class="regular-bold"> Feel free to contact us via phone,email or just send us mail.</p>
                    
                    <p>
                        17 Princess Road, London, Greater London NW1 8JR, UK
                        1-888-8MEDIA (1-888-892-9953)
                    </p>

                </div>
                <!-- ========== CONTACT INFO : END ========== -->
            </div>

            <div class="col-xs-12 col-md-8 no-margin">
                <!-- ========== LINKS FOOTER ========== -->
                <div class="link-widget">
                    <div class="widget">
                        <h3>Каталог</h3>
                        <span class="mpws-js-shop-categories-toplist"></span>
                    </div><!-- /.widget -->
                </div><!-- /.link-widget -->

                <div class="link-widget hidden">
                    <div class="widget">
                        <h3>Магазин</h3>
                        <ul>
                            <li><a href="index.php?page=category-grid">Про нас</a></li>
                            <li><a href="index.php?page=category-grid">Контакти</a></li>
                            <li><a href="index.php?page=category-grid">Пропозиції</a></li>

                        </ul>
                    </div><!-- /.widget -->
                </div><!-- /.link-widget -->

                <div class="link-widget hidden">
                    <div class="widget">
                        <h3>Корисні сторінки</h3>
                        <ul>
                            <li><a href="index.php?page=category-grid">Мій профіль</a></li>
                            <li><a href="index.php?page=category-grid">Вдстеження замовлення</a></li>
                            <li><a href="index.php?page=category-grid">Мій список</a></li>
                            <li><a href="index.php?page=category-grid">Сервіс</a></li>
                            <li><a href="index.php?page=category-grid">Обмін / поверення</a></li>
                            <li><a href="index.php?page=category-grid">FAQs</a></li>
                            <li><a href="index.php?page=category-grid">Підтримка</a></li>
                        </ul>
                    </div><!-- /.widget -->
                </div><!-- /.link-widget -->
                <!-- ========== LINKS FOOTER : END ========== -->
            </div>
        </div><!-- /.container -->
    </div><!-- /.link-list-row -->

    <div class="copyright-bar">
        <div class="container">
            <div class="col-xs-12 col-sm-6 no-margin">
                <div class="copyright">
                    © <a href="#!/">leogroup</a> - Всі права захищені
                </div><!-- /.copyright -->
            </div>
        </div><!-- /.container -->
    </div><!-- /.copyright-bar -->
</footer>

<div class="static-content-wrapper render-hidden" title="page basic javascript container">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.0/isotope.pkgd.min.js"></script>
    <script type="text/javascript" id="system">
        var MPWS = {{SYSTEMJS}};
    </script>
    <script type="text/javascript" data-main="{{PATH_STATIC}}base/js/loader.js?bust={{BUILD}}" src="{{PATH_STATIC}}vendors/requirejs/require.js"></script>
</div>
    </div>
</body>
</html>