<h2>Користувачі системи</h2>
<div class="row">
    <div class="col-lg-3 col-md-12">
        <div class="chart-users-interrelation" style="width: 100%; height: auto;"></div>
    </div>
    <div class="col-lg-3 col-md-12">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-star fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{default_value data.overview_users.ACTIVE 0}}</div>
                        <div>Активні!</div>
                    </div>
                </div>
            </div>
            <a href="{{bb_link instances.system.urls.users asRoot=true}}">
                <div class="panel-footer">
                    <span class="pull-left">Детальніше</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-12">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-clock-o fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{default_value data.overview_users.TEMP 0}}</div>
                        <div>Тимчасові!</div>
                    </div>
                </div>
            </div>
            <a href="{{bb_link instances.system.urls.users asRoot=true}}">
                <div class="panel-footer">
                    <span class="pull-left">Детальніше</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-12">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-times fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{default_value data.overview_users.REMOVED 0}}</div>
                        <div>Видалені!</div>
                    </div>
                </div>
            </div>
            <a href="{{bb_link instances.system.urls.users asRoot=true}}">
                <div class="panel-footer">
                    <span class="pull-left">Детальніше</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Статистика користувачів за останній місяць
                </h3>
            </div>
            <div class="panel-body">
                <div class="chart-users-lastmonth" style="width: 100%; height: auto;"></div>
            </div>
        </div>
    </div>
</div>