<ul class="nav">
{{#each source.data }}
<li>
    {{#compare childrenCount ">" 0 }}
    <a href="#">{{Name}}<i class="icon-caret-down"></i></a>
    <div>
        <ul>
        {{#each children }}
            {{#compare childrenCount ">" 0 }}
            <li>
                <a href="#">{{Name}}<i class="icon-caret-right pull-right"></i></a>
                <div>
                    <ul>
                    {{#each children }}
                        <li><a href="#">{{Name}}</a></li>
                    {{/each}}
                    </ul>
                </div>
            </li>
            {{else}}
            <li><a href="#">{{Name}}</a></li>
            {{/compare}}
        {{/each}}
        </ul>
    </div>
    {{else}}
    <a href="#">{{Name}}</a>
    {{/compare}}
</li>
{{/each}}
</ul><!--end nav-->