<li class="span3 clearfix">
  <div class="thumbnail">
    <a href="#shop/product/{{ID}}">
          {{#if ProductAttributes.IMAGE}}
          <img src="{{ProductAttributes.IMAGE}}" title="{{Name}}" class="image" itemprop="image">
          {{else}}
          <img src="noimage.png" title="{{Name}}" class="image image-empty" itemprop="image">
          {{/if}}
    </a>
  </div>
  <div class="thumbSetting">
    <div class="thumbTitle">
      <a href="#shop/product/{{ID}}" class="invarseColor" itemprop="name">{{Name}} {{Name}}</a>
    </div>
    <div class="thumbPrice">
      <span>{{Price}}</span>
    </div>

    <div class="thumbButtons">
      <button class="btn btn-primary btn-small" data-action="shop:buy" data-oid="{{ID}}" data-title="+To Cart" data-placement="top" data-toggle="tooltip" data-original-title="" title="">
        <i class="icon-shopping-cart"></i>
      </button>
      <button class="btn btn-small" data-title="+To WishList" data-placement="top" data-toggle="tooltip" data-original-title="" title="">
        <i class="icon-heart"></i>
      </button>
    
      <button class="btn btn-small" data-title="+To Compare" data-placement="top" data-toggle="tooltip" data-original-title="" title="">
        <i class="icon-refresh"></i>
      </button>
    </div>

    <ul class="rating">
      <li><i class="star-on"></i></li>
      <li><i class="star-on"></i></li>
      <li><i class="star-on"></i></li>
      <li><i class="star-on"></i></li>
      <li><i class="star-off"></i></li>
    </ul>
  </div>
</li>