<!-- <div  class="product product-item">
  <span itemprop="brand">ACME</span>
  <span itemprop="name">ExecutiveAnvil</span>
  <img itemprop="image" src="anvil_executive.jpg" />
  <span itemprop="description">Sleeker than ACME's Classic Anvil, the 
    Executive Anvil is perfect for the business traveler
    looking for something to drop from a height.
  </span>
  Category: <span itemprop="category" content="Hardware > Tools > Anvils">Anvils</span>
  Product #: <span itemprop="identifier" content="mpn:925872">925872</span>
  <span itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer">
    Regular price: $179.99
    <meta itemprop="currency" content="USD" />
    $<span itemprop="price">119.99</span>
    <span itemprop="availability" content="in_stock">In stock! Order now!</span>
  </span>
</div> -->

<div class="col-xs-12 col-sm-6 col-md-3" itemscope itemtype="http://data-vocabulary.org/Product">

    <div class="thumbnail">
        <a href=""><img src="{{ProductAttributes.IMAGE}}" width="50" alt="" itemprop="image"></a>
    </div>
    <div class="thumbSetting">
        <div class="thumbTitle">
            <a href="#shop/product/{{ID}}" class="invarseColor" itemprop="name">{{Name}} {{Name}}</a>
        </div>
        <meta itemprop="currency" content="USD" />
        <div class="thumbPrice"><span itemprop="price" class='datatype-money datatype-money-usd'>{{Price}}</span></div>

        <div class="thumbButtons">
            <button class="btn btn-primary btn-small" data-title="+To Cart" data-placement="top" data-toggle="tooltip" data-original-title="" title="">
                <i class="icon-shopping-cart"></i>
            </button>
            <button class="btn btn-small" data-title="+To WishList" data-placement="top" data-toggle="tooltip" data-original-title="" title="">
                <i class="icon-heart"></i>
            </button>
            <button class="btn btn-small" data-title="+To Compare" data-placement="top" data-toggle="tooltip" data-original-title="" title="">
                <i class="icon-refresh"></i>
            </button>
        </div>

        <ul class="rating">
            <li><i class="star-on"></i></li>
            <li><i class="star-on"></i></li>
            <li><i class="star-on"></i></li>
            <li><i class="star-on"></i></li>
            <li><i class="star-off"></i></li>
        </ul>
    </div>

</div>