<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
    <div class="panel ">
        <div class="panel panel-heading">
            <h4 class="text-center">
                <a href="#shop/product/{{ID}}">{{Name}}</a>
            </h4>
        </div>
        <div class="panel-body">
            <div class="thumbnail">
                {{#if ProductAttributes.IMAGE}}
                <img src="{{ProductAttributes.IMAGE}}" title="{{Name}}" class="image img-responsive" itemprop="image" alt="{{Name}}">{{else}}
                <img src="{{app}}noimage.png" title="{{Name}}" class="image img-responsive image-empty" itemprop="image" alt="{{Name}}">{{/if}}
            </div>
            <div class="thumbPrice">
                <span>{{Price}}</span>
            </div>
            <p>{{Description}}</p>
            <p>
                <div class="thumbButtons">
                    <button class="btn btn-primary btn-xs" data-action="shop:buy" data-oid="{{ID}}" data-title="+To Cart" data-placement="top" data-toggle="tooltip" data-original-title="" title="">
                        <i class="fa fa-shopping-cart"></i>
                    </button>
                    <button class="btn btn-xs" data-title="+To WishList" data-placement="top" data-toggle="tooltip" data-original-title="" title="">
                        <i class="fa fa-heart"></i>
                    </button>

                    <button class="btn btn-xs" data-title="+To Compare" data-placement="top" data-toggle="tooltip" data-original-title="" title="">
                        <i class="fa fa-files-o"></i>
                    </button>
                </div>
            </p>
            <p>
                <a class="btn btn-primary btn-block" href="#shop/product/{{ID}}">Детальніше »</a>
            </p>
        </div>
    </div>
</div>