<div class="shop-component shop-product-images">
    <div class="shop-product-image shop-product-image-main">
        <a href="{{source.data.ProductAttributes.IMAGES.MAIN}}" class="link" data-lightbox="shop-product-image-main">
            <img src="{{source.data.ProductAttributes.IMAGES.MAIN}}" class="image img-responsive" data-toggle="magnify" alt="{{source.data.Name}}" title="{{source.data.Name}}" />
        </a>
    </div>
    {{#if source.data.ProductAttributes.IMAGES.ADDITIONAL}}
    <div class="shop-product-image shop-product-image-additional">
        <h4>Додаткові зображення:</h4>
        <div class="row">
            {{#each source.data.ProductAttributes.IMAGES.ADDITIONAL}}
            <div class="col-xs-3 col-md-2 shop-product-image-additional-entry">
                <a href="{{this}}" class="link" data-lightbox="shop-product-image-additional">
                    <img src="{{this}}" class="image img-responsive" alt="{{source.data.Name}}" title="{{source.data.Name}}" />
                </a>
            </div>
            {{/each}}
        </div>
    </div>
    {{/if}}
</div>