<div class="shop-component shop-component-cart component-shop-cart-checkout component-shop-cart-checkout-preview">
    <h4>Перевірка замовлення:</h4>
{{#if_eq source.data.cart.total "0" }}
    <p class="message message-nodata">У Вас немає товарів для замовлення.</p>
{{else}}
    <table class="table table-striped table-cart-products">
    {{#each source.data.products}}
        <tr class="block block-cart-item">
            <td>
                <span class="label label-product-name">
                    <a href="/#shop/product/{{ID}}" title="Перейти до {{{Name}}}">{{Name}}</a>
                </span>
            </td>
            <td>
                <span class="value value-product-price">{{Price}}</span>
                <span class="label label-mathsign">x</span>
            </td>
            <td>
                <span class="value value-product-amount">
            </td>
            <td>
                <input type="text" value="{{Amount}}"/>
            </td>
            <td>
                <span class="value value-product-total">{{Total}}</span>
            </td>
            <td>
                <i class="fa fa-trash-o" data-action="shop:cart:item-remove" data-oid="{{ID}}"></i>
            </td>
        </tr>
    {{/each}}
        <tr class="block block-cart-item success">
            <td colspan="4">
                <span class="label label-cart-total">Знижка:</span>
            </td>
            <td>
                <span class="value value-cart-total">{{source.data.cart.discount}}</span>
            </td>
            <td></td>
        </tr>
        <tr class="block block-cart-item warning">
            <td colspan="4">
                <span class="label label-cart-total">Загальна сума:</span>
            </td>
            <td>
                <span class="value value-cart-total">{{source.data.cart.total}}</span>
            </td>
            <td></td>
        </tr>
    </table>
    <div class="spacer"></div>
    <div class="form-horizontal" role="form">
        <!-- persoanl information  -->
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Ваше Імя:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Телефон:</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">E-mail:</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Доставка:</label>
            <div class="col-sm-10">
                <div class="panel-group" id="accordion">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        <div class="radio">
                          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                          <label for="optionsRadios1">Самовивезення</label>
                        </div>
                      </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                      <div class="panel-body">

                        <strong>Я особисто приїду за товаром</strong>

                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        <div class="radio">
                          <input type="radio" name="optionsRadios" id="optionsRadios2" value="option1">
                          <label for="optionsRadios2">Доставка за адресою</label>
                        </div>
                      </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                      <div class="panel-body">

                        <h4>Доставка товару курєром:</h4>

                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Курєр та склад:</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Місто:</label>
                            <div class="col-sm-10">
                                {{>widgetCities}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Адреса:</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                            </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Коментар:</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="shopCommentID" name="shop-comment" rows="3"></textarea>
            </div>
        </div>
        <!-- additional (Show this when user is not using account)  -->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox">Створити профіль
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-warning" data-action="shop:cart:checkout">Змінити</button>
                <button type="submit" class="btn btn-success" data-action="shop:cart:checkout:save">Оформити</button>
            </div>
        </div>
    </div>

    <div class="spacer"></div>

{{/if_eq}}


</div>