<div class="shop-component shop-component-checkout-wizard">

    <div class="wizard">
        <ul class="steps">
            <li data-target="#step1" class="active"><span class="badge badge-info">1</span>Кошик<span class="chevron"></span></li>
            <li data-target="#step2"><span class="badge">2</span>Оформлення<span class="chevron"></span></li>
            <li data-target="#step3"><span class="badge">3</span>Доставка<span class="chevron"></span></li>
            <li data-target="#step4"><span class="badge">4</span>Перегляд<span class="chevron"></span></li>
            <li data-target="#step5"><span class="badge">5</span>Збереження<span class="chevron"></span></li>
        </ul>
    </div>
    <div class="step-content">
        <div class="step-pane active" id="step1">

            <h3 class="title">Вміст кошика:</h3>
        {{#if_eq source.data.cart.total "0" }}
            <p class="message message-nodata">У Вас немає товарів для замовлення.</p>
        {{else}}
            <table class="table table-striped table-cart-products">
            {{#each source.data.products}}
                <tr class="block block-cart-item">
                    <td>
                        <div class="shop-component shop-product-images">
                            <div class="shop-product-image shop-product-image-main">
                                <a href="#shop/product/{{ID}}" class="link">
                                    <img src="{{ProductAttributes.IMAGES.MAIN}}" class="image img-responsive" alt="{{Name}}" title="{{Name}}" />
                                </a>
                            </div>
                        </div>
                    </td>
                    <td>
                        <span class="label label-product-name">
                            <a href="/#shop/product/{{ID}}" class="link" title="Перейти до {{{Name}}}">{{Name}}</a>
                        </span>
                    </td>
                    <td>
                        <span class="value value-product-price">{{Price}}</span>
                        <span class="label label-mathsign">x</span>
                    </td>
                    <td>
                        <input type="text" class="form-control" value="{{CartAmount}}"/>
                    </td>
                    <td>
                        <span class="value value-product-total">{{CartTotal}}</span>
                    </td>
                    <td>
                        <i class="fa fa-trash-o" data-action="shop:cart:standalone-item-remove" data-oid="{{ID}}"></i>
                    </td>
                </tr>
            {{/each}}
                <tr class="block block-cart-item success">
                    <td colspan="4">
                        <span class="label label-cart-total">Знижка:</span>
                    </td>
                    <td>
                        <span class="value value-cart-total">{{source.data.cart.discount}}</span>
                    </td>
                    <td></td>
                </tr>
                <tr class="block block-cart-item warning">
                    <td colspan="4">
                        <span class="label label-cart-total">Загальна сума:</span>
                    </td>
                    <td>
                        <span class="value value-cart-total">{{source.data.cart.total}}</span>
                    </td>
                    <td></td>
                </tr>
            </table>
            <div class="form-group">
                <button type="submit" class="btn btn-danger" data-action="shop:cart:standalone-clear">Очистити кошик</button>
                <button type="submit" class="btn btn-success pull-right" data-action="shop:cart:checkout-prepare">Оформлення</button>
            </div>
        {{/if_eq}}

        </div>
        <div class="step-pane" id="step2">

                <h4>Оформлення замовлення:</h4>
            {{#if_eq source.data.cart.total "0" }}
                <p class="message message-nodata">У Вас немає товарів для замовлення.</p>
            {{else}}
                <table class="table table-striped table-cart-products">
                {{#each source.data.products}}
                    <tr class="block block-cart-item">
                        <td>
                            <span class="label label-product-name">
                                <a href="/#shop/product/{{ID}}" title="Перейти до {{{Name}}}">{{Name}}</a>
                            </span>
                        </td>
                        <td>
                            <span class="value value-product-price">{{Price}}</span>
                            <span class="label label-mathsign">x</span>
                        </td>
                        <td>
                            <span class="value value-product-amount">
                        </td>
                        <td>
                            <span class="value value-product-total">{{CartAmount}}</span>
                        </td>
                        <td>
                            <span class="value value-product-total">{{CartTotal}}</span>
                        </td>
                        <td>
                            <i class="fa fa-trash-o" data-action="shop:cart:item-remove" data-oid="{{ID}}"></i>
                        </td>
                    </tr>
                {{/each}}
                    <tr class="block block-cart-item success">
                        <td colspan="4">
                            <span class="label label-cart-total">Знижка:</span>
                        </td>
                        <td>
                            <span class="value value-cart-total">{{source.data.cart.discount}}</span>
                        </td>
                        <td></td>
                    </tr>
                    <tr class="block block-cart-item warning">
                        <td colspan="4">
                            <span class="label label-cart-total">Загальна сума:</span>
                        </td>
                        <td>
                            <span class="value value-cart-total">{{source.data.cart.total}}</span>
                        </td>
                        <td></td>
                    </tr>
                </table>
                <div class="spacer"></div>
                <div class="form-horizontal" role="form">
                    <!-- persoanl information  -->
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Ваше Імя:</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Телефон:</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">E-mail:</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <!-- additional (Show this when user is not using account)  -->
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">Створити профіль
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group pull-right">
                        <button type="submit" class="btn btn-danger" data-action="shop:cart:standalone-view">Кошик</button>
                        <button type="submit" class="btn btn-success" data-action="shop:cart:checkout-delivery">Вибір Доставки</button>
                    </div>
                </div>

                <div class="spacer"></div>

            {{/if_eq}}

        </div>
        <div class="step-pane" id="step3">

            <h4>Доставка:</h4>
            <div class="form-horizontal" role="form">

                <div class="panel panel-default">
                    <div class="panel-body">

                        <div class="form-group">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                    Самовивезення
                                </label>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">

                        <div class="form-group">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                    Доставка товару курєром
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Місто:</label>
                            <div class="col-sm-10">
                                {{>widgetCities}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Курєр:</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Номер складу або Ваша адреса:</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                            </div>
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Коментар:</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="shopCommentID" name="shop-comment" rows="3"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success" data-action="shop:cart:checkout-prepare">Оформлення</button>
                    <button type="submit" class="btn btn-success" data-action="shop:cart:checkout-review">Перегляд замовлення</button>
                </div>

            </div>


        </div>
        <div class="step-pane" id="step4">


            <h4>Перегляд замовлення:</h4>
            <div class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Коментар:</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="shopCommentID" name="shop-comment" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Коментар:</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="shopCommentID" name="shop-comment" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Коментар:</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="shopCommentID" name="shop-comment" rows="3"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success" data-action="shop:cart:checkout-delivery">Вибір Доставки</button>
                    <button type="submit" class="btn btn-success" data-action="shop:cart:checkout-save">Зберегти</button>
                </div>
            </div>


        </div>
        <div class="step-pane" id="step5">



        </div>
    </div>

</div>